{
	"swagger": "2.0",
	"info": {
		"description": "Simple PAN tokenization service",
		"version": "0.0.1",
		"title": "CyberSource Flex API"
	},
	"host": "apitest.cybersource.com",
	"schemes": [
		"https"
	],
	"basePath": "/",
	"consumes": [
		"application/json;charset=utf-8"
	],
	"produces": [
		"application/json;charset=utf-8"
	],
	"tags": [{
			"name": "Flex API"
		}
	],
	"paths": {
		"/flex/v1/keys/": {
			"x-name": "Generate Key",
			"x-description": "Generate a one-time use public key and key ID to encrypt the card number in the follow-on Tokenize Card request. The key used to encrypt the card number on the cardholder\u2019s device or browser is valid for 15 minutes and must be used to verify the signature in the response message. CyberSource recommends creating a new key for each order. Generating a key is an authenticated request initiated from your servers, prior to requesting to tokenize the card data from your customer\u2019s device or browser.",
			"post": {
				"tags": [
					"KeyGeneration"
				],
				"summary": "Generate Key",
				"description": "Generate a one-time use public key and key ID to encrypt the card number in the follow-on Tokenize Card request. The key used to encrypt the card number on the cardholder\u2019s device or browser is valid for 15 minutes and must be used to verify the signature in the response message. CyberSource recommends creating a new key for each order. Generating a key is an authenticated request initiated from your servers, prior to requesting to tokenize the card data from your customer\u2019s device or browser.",
				"operationId": "generatePublicKey",
				"produces": [
					"application/json"
				],
				"parameters": [{
						"in": "body",
						"name": "generatePublicKeyRequest",
						"schema": {
							"required": [
								"encryptionType"
							],
							"type": "object",
							"properties": {
								"encryptionType": {
									"type": "string",
									"description": "How the card number should be encrypted in the subsequent Tokenize Card request. Possible values are RsaOaep256 or None (if using this value the card number must be in plain text when included in the Tokenize Card request). The Tokenize Card request uses a secure connection (TLS 1.2+) regardless of what encryption type is specified."
								},
								"targetOrigin": {
									"type": "string",
									"description": "This should only be used if using the Microform implementation. This is the protocol, URL, and if used, port number of the page that will host the Microform. Unless using http://localhost, the protocol must be https://. For example, if serving Microform on example.com, the targetOrigin is https://example.com The value is used to restrict the frame ancestor of the Microform. If there is a mismatch between this value and the frame ancestor, the Microfrom will not load."
								},
								"unmaskedLeft": {
									"type": "integer",
									"description": "Specifies the number of card number digits to be returned un-masked from the left. For example, setting this value to 6 will return: 411111XXXXXXXXXX Default value: 6 Maximum value: 6"
								},
								"unmaskedRight": {
									"type": "integer",
									"description": "Specifies the number of card number digits to be returned un-masked from the right. For example, setting this value to 4 will return: 411111XXXXXX1111 Default value: 4 Maximum value: 4"
								},
								"enableBillingAddress": {
									"type": "boolean",
									"description": "Specifies whether or not 'dummy' address data should be specified in the create token request. If you have 'Relaxed AVS' enabled for your MID, this value can be set to False.Default value: true"
								},
								"currency": {
									"type": "string",
									"description": "Three character ISO currency code to be associated with the token. Required for legacy integrations. Default value: USD."
								},
								"enableAutoAuth": {
									"type": "boolean",
									"description": "Specifies whether or not an account verification authorization ($0 Authorization) is carried out on token creation. Default is false, as it is assumed a full or zero amount authorization will be carried out in a separate call from your server."
								}
							}
						}
					}
				],
				"x-example": {
					"example0": {
						"summary": "Generate Key",
						"value": {
							"encryptionType": "RsaOaep256"
						}
					}
				},
				"responses": {
					"200": {
						"description": "Retrieved key.",
						"schema": {
							"title": "flexV1KeysPost200Response",
							"properties": {
								"keyId": {
									"type": "string",
									"description": "Unique identifier for the generated token. Used in the subsequent Tokenize Card request from your customer\u2019s device or browser."
								},
								"der": {
									"type": "object",
									"description": "The public key in DER format. Used to validate the response from the Tokenize Card request. Additionally this format is useful for client side encryption in Android and iOS implementations.",
									"properties": {
										"format": {
											"type": "string",
											"description": "Specifies the format of the public key; currently X.509."
										},
										"algorithm": {
											"type": "string",
											"description": "Algorithm used to encrypt the public key."
										},
										"publicKey": {
											"type": "string",
											"description": "Base64 encoded public key value."
										}
									}
								},
								"jwk": {
									"type": "object",
									"description": "The public key in JSON Web Key (JWK) format. This format is useful for client side encryption in JavaScript based implementations.",
									"properties": {
										"kty": {
											"type": "string",
											"description": "Algorithm used to encrypt the public key."
										},
										"use": {
											"type": "string",
											"description": "Defines whether to use the key for encryption (enc) or verifying a signature (sig). Always returned as enc."
										},
										"kid": {
											"type": "string",
											"description": "The key ID in JWK format."
										},
										"n": {
											"type": "string",
											"description": "JWK RSA Modulus"
										},
										"e": {
											"type": "string",
											"description": "JWK RSA Exponent"
										}
									}
								}
							}
						}
					},
					"default": {
						"description": "Error retrieving key.",
						"schema": {
							"type": "object",
							"properties": {
								"responseStatus": {
									"properties": {
										"status": {
											"type": "number",
											"description": "HTTP Status code."
										},
										"reason": {
											"type": "string",
											"description": "Error Reason Code."
										},
										"message": {
											"type": "string",
											"description": "Error Message."
										},
										"correlationId": {
											"type": "string",
											"description": "API correlation ID."
										},
										"details": {
											"type": "array",
											"items": {
												"properties": {
													"location": {
														"type": "string",
														"description": "Field name referred to for validation issues."
													},
													"message": {
														"type": "string",
														"description": "Description or code of any error response."
													}
												}
											}
										}
									}
								},
								"_links": {
									"type": "object",
									"properties": {
										"next": {
											"type": "array",
											"items": {
												"properties": {
													"href": {
														"type": "string",
														"description": "URI of the linked resource."
													},
													"title": {
														"type": "string",
														"description": "Label of the linked resource."
													},
													"method": {
														"type": "string",
														"description": "HTTP method of the linked resource."
													}
												}
											}
										},
										"documentation": {
											"type": "array",
											"items": {
												"properties": {
													"href": {
														"type": "string",
														"description": "URI of the linked resource."
													},
													"title": {
														"type": "string",
														"description": "Label of the linked resource."
													},
													"method": {
														"type": "string",
														"description": "HTTP method of the linked resource."
													}
												}
											}
										},
										"self": {
											"properties": {
												"href": {
													"type": "string",
													"description": "URI of the linked resource."
												},
												"title": {
													"type": "string",
													"description": "Label of the linked resource."
												},
												"method": {
													"type": "string",
													"description": "HTTP method of the linked resource."
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"x-samplePayload": {
					"encryptionType": "RsaOaep256"
				},
				"x-sampleResponse": {
					"keyId": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
					"der": {
						"format": "X.509",
						"algorithm": "RSA",
						"publicKey": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgC1G6rVue4w/jjJrKPZusGN9G+Y7mWuLJ0O2/GHd94LvR51+ok7ahuQUVMZLdigixnspaGo/WVLvTTZ5J28Cc1uSx0o/BsxpNaAQD8/aBZL3nnAiBLACxI1JHAVo7SXbJQmz+mqVFYTppg9QmpB2ATTmXjUOQy+Fqkw3EByfCANHhHSNs4+HASovsfcRMUmmvDfTd5qBb23KzDJeDVqTYWa3XjUorlZOCJuLyPgeDEK8oOC9C4W9dn32z8FJ4E6Dz28M/2O3g8FLQD2F+NezkQJsl8MEYo4rl1nr7/oIkMsYLCCoG8jwmryErb7km9JWWgqZ80trkjijFqDAbHfUEwIDAQAB"
					},
					"jwk": {
						"kty": "RSA",
						"use": "enc",
						"kid": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
						"n": "fC1G6rVue4w_jjJrKPZusGN9G-Y7mWuLJ0O2_GHd94LvR51-ok7ahuQUVMZLdigixnspaGo_WVLvTTZ5J28Cc1uSx0o_BsxpNaAQD8_aBZL3nnAiBLACxI1JHAVo7SXAJQmz-mqVFYTppg9QmpB2ATTmXjUOQy-Fqkw3EByfCANHhHSNs4-HASovsfcRMUmmvDfTd5qBb23KzDJeDVqTYWa3XjUorlZOCJuLyPgeDEK8oOC9C4W9dn32z8FJ4E6Dz28M_2O3g8FLQD2F-NezkQJsl8MEYo4rl1nr7_oIkMsYLCCoG8jwmryErb7km9JWWgqZ80trkjijFqDAbHfUEw",
						"e": "AQAB"
					}
				}
			}
		},
		"/flex/v1/tokens/": {
			"x-name": "Flex Tokenize Card",
			"x-description": "Returns a token representing the supplied card details. The token replaces card data and can be used as the Subscription ID in the CyberSource Simple Order API or SCMP API. This is an unauthenticated call that you should initiate from your customer\u2019s device or browser.",
			"post": {
				"tags": [
					"FlexToken"
				],
				"summary": "Flex Tokenize card",
				"description": "Returns a token representing the supplied card details. The token replaces card data and can be used as the Subscription ID in the CyberSource Simple Order API or SCMP API. This is an unauthenticated call that you should initiate from your customer\u2019s device or browser.",
				"operationId": "tokenize",
				"produces": [
					"application/json"
				],
				"parameters": [{
						"in": "body",
						"name": "tokenizeRequest",
						"schema": {
							"type": "object",
							"properties": {
								"keyId": {
									"type": "string",
									"description": "Unique identifier for the generated token. This is obtained from the Generate Key request. See the [Java Script and Java examples] (http://apps.cybersource.com/library/documentation/dev_guides/Secure_Acceptance_Flex/Key/html) on how to import the key and encrypt using the imported key."
								},
								"cardInfo": {
									"type": "object",
									"properties": {
										"cardNumber": {
											"type": "string",
											"description": "Encrypted or plain text card number. If the encryption type of \u201cNone\u201d was used in the Generate Key request, this value can be set to the plaintext card number/Personal Account Number (PAN). If the encryption type of RsaOaep256 was used in the Generate Key request, this value needs to be the RSA OAEP 256 encrypted card number. The card number should be encrypted on the cardholders\u2019 device. The [WebCrypto API] (https://github.com/CyberSource/cybersource-flex-samples/blob/master/java/spring-boot/src/main/resources/public/flex.js) can be used with the JWK obtained in the Generate Key request."
										},
										"cardExpirationMonth": {
											"type": "string",
											"description": "Two digit expiration month"
										},
										"cardExpirationYear": {
											"type": "string",
											"description": "Four digit expiration year"
										},
										"cardType": {
											"type": "string",
											"description": "Card Type. This field is required. Refer to the CyberSource Credit Card Services documentation for supported card types."
										}
									}
								}
							}
						}
					}
				],
				"x-example": {
					"example0": {
						"summary": "Flex Tokenize Card",
						"value": {
							"keyId": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
							"cardInfo": {
								"cardNumber": "4111111111111111",
								"cardExpirationMonth": "12",
								"cardExpirationYear": "2031",
								"cardType": "001"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Created payment token.",
						"schema": {
							"title": "flexV1TokensPost200Response",
							"properties": {
								"keyId": {
									"type": "string",
									"description": "The Key ID."
								},
								"token": {
									"type": "string",
									"description": "The generated token. The token replaces card data and is used as the Subscription ID in the CyberSource Simple Order API or SCMP API."
								},
								"maskedPan": {
									"type": "string",
									"description": "The masked card number displaying the first 6 digits and the last 4 digits."
								},
								"cardType": {
									"type": "string",
									"description": "The card type."
								},
								"timestamp": {
									"type": "integer",
									"format": "int64",
									"description": "The UTC date and time in milliseconds at which the signature was generated."
								},
								"signedFields": {
									"type": "string",
									"description": "Indicates which fields from the response make up the data that is used when verifying the response signature. See the [sample code] (https://github.com/CyberSource/cybersource-flex-samples/blob/master/java/spring-boot/src/main/java/com/cybersource/flex/application/CheckoutController.java) on how to verify the signature."
								},
								"signature": {
									"type": "string",
									"description": "Flex-generated digital signature. To ensure the values have not been tampered with while passing through the client, verify this server-side using the public key generated from the /keys resource."
								},
								"discoverableServices": {
									"type": "object",
									"additionalProperties": {
										"type": "object"
									}
								}
							}
						}
					},
					"default": {
						"description": "Error creating token.",
						"schema": {
							"type": "object",
							"properties": {
								"responseStatus": {
									"properties": {
										"status": {
											"type": "number",
											"description": "HTTP Status code."
										},
										"reason": {
											"type": "string",
											"description": "Error Reason Code."
										},
										"message": {
											"type": "string",
											"description": "Error Message."
										},
										"correlationId": {
											"type": "string",
											"description": "API correlation ID."
										},
										"details": {
											"type": "array",
											"items": {
												"properties": {
													"location": {
														"type": "string",
														"description": "Field name referred to for validation issues."
													},
													"message": {
														"type": "string",
														"description": "Description or code of any error response."
													}
												}
											}
										}
									}
								},
								"_links": {
									"type": "object",
									"properties": {
										"next": {
											"type": "array",
											"items": {
												"properties": {
													"href": {
														"type": "string",
														"description": "URI of the linked resource."
													},
													"title": {
														"type": "string",
														"description": "Label of the linked resource."
													},
													"method": {
														"type": "string",
														"description": "HTTP method of the linked resource."
													}
												}
											}
										},
										"documentation": {
											"type": "array",
											"items": {
												"properties": {
													"href": {
														"type": "string",
														"description": "URI of the linked resource."
													},
													"title": {
														"type": "string",
														"description": "Label of the linked resource."
													},
													"method": {
														"type": "string",
														"description": "HTTP method of the linked resource."
													}
												}
											}
										},
										"self": {
											"properties": {
												"href": {
													"type": "string",
													"description": "URI of the linked resource."
												},
												"title": {
													"type": "string",
													"description": "Label of the linked resource."
												},
												"method": {
													"type": "string",
													"description": "HTTP method of the linked resource."
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"x-samplePayload": {
					"keyId": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
					"cardDetails": {
						"cardNumber": "ejbhIpMEgYnIODcB4//rrVxMHrqHcnLD6pDRF36jlEk72bETAfiOoxmpI9pGiidqMmkgAnvJfVgR3CLAV5EdG4Mu5IWK26QRnVtwvsVEUtpah7IylbxV9MLvXh2FjIJskKCWNLidb1G4PN5963hnV3IoZd2pF99JwV9lPhOHT5ymlNeg7sTzQQDN1I0/yJApds+t79hl9QVp4PusUDfSsPQTtR2frzlH4V3W+XjHDhmy5oNhiUaVxv27cyG1SWeCKkVC9tc8zLy4pvlgoplrLV8JRaS9hfWalJjv2xtk3DXmNT2urtFv2evcI3LM/S29KlJjPXZcBp0IYyB/taunCA==",
						"cardType": "001"
					}
				},
				"x-sampleResponse": {
					"keyId": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
					"token": "0100153497304242",
					"maskedPan": "424242XXXXXX4242",
					"cardType": "001",
					"timestamp": 1472733222651,
					"signedFields": "token,cardType,maskedPan,timestamp",
					"signature": "TcM7METFOIidwbxWG2Xhawx/5gZ7hZB0Lyrhg3NRJ+Pma+Nq7BugvsqLCE2R24+h13xnM6vpJXR2cqfQPkxhb6joJT8jcciEf+lj6h/KjvXuR4pJ4fMll4WS1Z4+574ps0ysV/5zs7kT2IAZj7i+szlYwFJxGhOGC0218x1N0NxELTDyU/HI6n+Aa+mYBqkMXth42t+GNQ7goVXkJWRgQSjp2v0WTh2d2plDnxEWPURZXz7GLdQXRIYUWWx/L5JSf88F1zgjYDpBitNSYBMMILKfDd3KEg+6nIruCln5kDMbTRD8LwPpGYC9tyM9+UM8MBINPHhaqdFp2wHF7dccKA==",
					"discoverableServices": {}
				}
			}
		},
		"/pts/v2/payments/": {
			"post": {
				"summary": "Process a Payment",
				"description": "Authorize the payment for the transaction.\n",
				"tags": [
					"payments"
				],
				"operationId": "createPayment",
				"x-devcenter-metaData": {
					"categoryTag": "Payments"
				},
				"parameters": [{
						"name": "createPaymentRequest",
						"in": "body",
						"required": true,
						"schema": {
							"type": "object",
							"properties": {
								"clientReferenceInformation": {
									"type": "object",
									"properties": {
										"code": {
											"type": "string",
											"maxLength": 50,
											"description": "Client-generated order reference or tracking number. CyberSource recommends that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n\nFor information about tracking orders, see Getting Started with CyberSource Advanced for the SCMP API.\n\n**FDC Nashville Global**\\\nCertain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.\n"
										},
										"transactionId": {
											"type": "string",
											"description": "Identifier that you assign to the transaction.\n\n**Note** Use this field only if you want to support merchant-initiated reversal and void operations\n.\nSee \"Merchant-Initiated Reversals and Voids,\" page 176.\n"
										},
										"comments": {
											"type": "string",
											"description": "Comments"
										},
										"partner": {
											"type": "object",
											"properties": {
												"originalTransactionId": {
													"type": "string",
													"maxLength": 32,
													"description": "Value that links the previous transaction to the current follow-on request. This value is assigned by the client\nsoftware that is installed on the POS terminal, which makes it available to the terminal\u2019s software and to\nCyberSource. Therefore, you can use this value to reconcile transactions between CyberSource and the terminal\u2019s\nsoftware.\n\nCyberSource does not forward this value to the processor. Instead, the value is forwarded to the CyberSource\nreporting functionality.\n\nThis field is supported only on American Express Direct, FDC Nashville Global, and SIX.\n"
												},
												"developerId": {
													"type": "string",
													"maxLength": 8,
													"description": "Identifier for the developer that helped integrate a partner solution to CyberSource.\n\nSend this value in all requests that are sent through the partner solutions built by that developer.\nCyberSource assigns the ID to the developer.\n\nNote When you see a developer ID of 999 in reports, the developer ID that was submitted is incorrect.\n"
												},
												"solutionId": {
													"type": "string",
													"maxLength": 8,
													"description": "Identifier for the partner that is integrated to CyberSource.\n\nSend this value in all requests that are sent through the partner solution. CyberSource assigns the ID to the partner.\n\nNote When you see a partner ID of 999 in reports, the partner ID that was submitted is incorrect.\n"
												}
											}
										}
									}
								},
								"processingInformation": {
									"type": "object",
									"properties": {
										"capture": {
											"type": "boolean",
											"description": "Flag that specifies whether to also include capture service in the submitted request or not.\n\nPossible values:\n- **true**\n- **false** (default).\n",
											"enum": [
												true,
												false
											],
											"default": false
										},
										"processorId": {
											"type": "string",
											"maxLength": 3,
											"description": "Value that identifies the processor/acquirer to use for the transaction. This value is supported only for\n**CyberSource through VisaNet**.\n\nContact CyberSource Customer Support to get the value for this field.\n"
										},
										"businessApplicationId": {
											"type": "string",
											"description": "The description for this field is not available."
										},
										"commerceIndicator": {
											"type": "string",
											"maxLength": 20,
											"description": "Type of transaction. Some payment card companies use this information when determining discount rates. When you\nomit this field for **Ingenico ePayments**, the processor uses the default transaction type they have on file\nfor you instead of the default value listed here.\n"
										},
										"paymentSolution": {
											"type": "string",
											"maxLength": 12,
											"description": "Type of digital payment solution for the transaction. Possible Values:\n\n - **visacheckout**: Visa Checkout. This value is required for Visa Checkout transactions. See Visa Checkout Using the SCMP API.\n - **005**: Masterpass. This value is required for Masterpass transactions on OmniPay Direct. See \"Masterpass,\" page 153.\n"
										},
										"reconciliationId": {
											"type": "string",
											"maxLength": 60,
											"description": "Please check with Cybersource customer support to see if your merchant account is configured correctly so you\ncan include this field in your request.\n* For Payouts: max length for FDCCompass is String (22).\n"
										},
										"linkId": {
											"type": "string",
											"maxLength": 26,
											"description": "Value that links the current authorization request to the original authorization request. Set this value\nto the ID that was returned in the reply message from the original authorization request.\n\nThis value is used for:\n\n - Partial authorizations: See \"Partial Authorizations,\" page 88.\n - Split shipments: See \"Split Shipments,\" page 210.\n"
										},
										"purchaseLevel": {
											"type": "string",
											"maxLength": 1,
											"description": "Set this field to 3 to indicate that the request includes Level III data."
										},
										"reportGroup": {
											"type": "string",
											"maxLength": 25,
											"description": "Attribute that lets you define custom grouping for your processor reports. This field is supported only for **Worldpay VAP**.\n\nSee \"Report Groups,\" page 234.\n"
										},
										"visaCheckoutId": {
											"type": "string",
											"maxLength": 48,
											"description": "Identifier for the **Visa Checkout** order. Visa Checkout provides a unique order ID for every transaction in\nthe Visa Checkout **callID** field.\n\nFor more details, see Visa Checkout Using the SCMP API.\n"
										},
										"authorizationOptions": {
											"type": "object",
											"properties": {
												"authType": {
													"type": "string",
													"maxLength": 15,
													"description": "Authorization type.\n\nPossible values:\n\n - **AUTOCAPTURE**: automatic capture.\n - **STANDARDCAPTURE**: standard capture.\n - **VERBAL**: forced capture. Include it in the payment request for a forced capture. Include it in the capture request for a verbal payment.\n\n**Asia, Middle East, and Africa Gateway; Cielo; Comercio Latino; and CyberSource Latin American Processing**\\\nSet this field to _AUTOCAPTURE_ and include it in a bundled request to indicate that you are requesting an automatic capture. If your account is configured to enable automatic captures, set this field to STANDARDCAPTURE and include it in a standard authorization or bundled request to indicate that you are overriding an automatic capture. For more information, see \"Automatic Captures,\" page 33.\n\n**Forced Capture**\\\nSet this field to _VERBAL_ and include it in the authorization request to indicate that you are performing a forced capture; therefore, you receive the authorization code outside the CyberSource system. For more information, see \"Forced Captures,\" page 123.\n\n**Verbal Authorization**\\\nSet this field to _VERBAL_ and include it in the capture request to indicate that the request is for a verbal authorization. For more information, see \"Verbal Authorizations,\" page 84.\n\nFor processor-specific information, see the auth_type field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"verbalAuthCode": {
													"type": "string",
													"maxLength": 7,
													"description": "Authorization code.\n\n**Forced Capture**\\\nUse this field to send the authorization code you received from a payment that you authorized\noutside the CyberSource system.\n\n**Verbal Authorization**\\\nUse this field in CAPTURE API to send the verbally received authorization code.\n\nFor processor-specific information, see the _auth_code_ field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"verbalAuthTransactionId": {
													"type": "string",
													"maxLength": 15,
													"description": "Transaction ID (TID)."
												},
												"authIndicator": {
													"type": "string",
													"maxLength": 1,
													"description": "Flag that specifies the purpose of the authorization.\n\nPossible values:\n - **0**: Preauthorization\n - **1**: Final authorization\n\nTo set the default for this field, contact CyberSource Customer Support.\nSee \"Final Authorization Indicator,\" page 119.\n\nBarclays and Elavon\nThe default for Barclays and Elavon is 1 (final authorization). To change the default for this field, contact CyberSource Customer Support.\n\nCyberSource through VisaNet\nWhen the value for this field is 0, it corresponds to the following data in the TC 33 capture file5:\n - Record: CP01 TCR0\n - Position: 164\n - Field: Additional Authorization Indicators\nWhen the value for this field is 1, it does not correspond to any data in the TC 33 capture file.\n\nFor processor-specific information, see the auth_indicator field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"partialAuthIndicator": {
													"type": "boolean",
													"description": "Flag that indicates whether the transaction is enabled for partial authorization or not. When your request\nincludes this field, this value overrides the information in your CyberSource account.  For processor-specific\ninformation, see the _auth_partial_auth_indicator_ field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n\n**CyberSource through VisaNet**\\\nTo set the default for this field, contact CyberSource Customer Support.\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCR0\n- Position: 164\n- Field: Additional Authorization Indicators\n\nPossible values:\n- **true** Enable the transaction for partial authorization.\n- **false** Do not enable the transaction for partial authorization.\n",
													"enum": [
														true,
														false
													]
												},
												"balanceInquiry": {
													"type": "boolean",
													"description": "Flag that indicates whether to return balance information.\n\nPossible values:\n- **true**\n- **false**\n",
													"enum": [
														true,
														false
													]
												},
												"ignoreAvsResult": {
													"type": "boolean",
													"description": "Flag that indicates whether to allow the capture service to run, even when the payment\nreceives an AVS decline.\n\nPossible values:\n- **true**  Ignore the results of AVS checking and run the capture service.\n- **false**  (default): If the authorization receives an AVS decline, do not run the capture service.\n",
													"enum": [
														true,
														false
													],
													"default": false
												},
												"declineAvsFlags": {
													"type": "array",
													"description": "An array of AVS flags that cause the reply flag to be returned.\n\n`Important` To receive declines for the AVS code N, include the value N in the array.\n\nPossible values:\n- D\n- A\n- V\n- S\n- N\n- O\n",
													"items": {
														"type": "string",
														"enum": [
															"D",
															"A",
															"V",
															"S",
															"N",
															"O"
														]
													}
												},
												"ignoreCvResult": {
													"type": "boolean",
													"description": "Flag that indicates whether to allow the capture service to run even when\nthe payment receives a CVN decline.\n\nPossible values:\n- **true**  Ignore the results of CVN checking and run the capture service.\n- **false**  (default) If the authorization receives a CVN decline, do not run the capture service.\n",
													"enum": [
														true,
														false
													],
													"default": false
												},
												"initiator": {
													"type": "object",
													"properties": {
														"type": {
															"type": "string",
															"description": "This field indicates whether the transaction is a merchant-initiated transaction or customer-initiated transaction.\n\nValid values:\n- **customer**\n- **merchant**\n",
															"enum": [
																"customer",
																"merchant"
															]
														},
														"credentialStoredOnFile": {
															"type": "boolean",
															"description": "Flag that indicates whether merchant intends to use this transaction to store payment credentials for follow-up\nmerchant-initiated transactions.\n\nValid values:\n- `true` means merchant will use this transaction to store payment credentials for follow-up merchant-initiated transactions.\n- `false` means merchant will not use this transaction to store payment credentials for follow-up merchant-initiated transactions.\n\nSee \"Merchant-Initiated Transactions,\" page 177.\n\n**NOTE:** The value for this field does not correspond to any data in the TC 33 capture file5.\nThis field is supported only for Visa transactions on CyberSource through VisaNet.\n",
															"enum": [
																true,
																false
															]
														},
														"storedCredentialUsed": {
															"type": "boolean",
															"description": "Flag that indicates whether merchant is intend to use this transaction to store payment credential for follow-up\nmerchant-initiated transactions or not.\n\nPossible values:\n- **true**\n- **false**\n",
															"enum": [
																true,
																false
															]
														},
														"merchantInitiatedTransaction": {
															"type": "object",
															"properties": {
																"reason": {
																	"type": "string",
																	"maxLength": 1,
																	"description": "Reason for the merchant-initiated transaction or incremental authorization. Possible values:\n- `1`: Resubmission\n- `2`: Delayed charge\n- `3`: Reauthorization for split shipment\n- `4`: No show\n- `5`: Account top up\nThis field is required only for the five kinds of transactions in the preceding list.\nThis field is supported only for merchant-initiated transactions and incremental authorizations.\n\n**CyberSource through VisaNet**\\\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCR0\n- Position: 160-163\n- Field: Message Reason Code\n\n**All Processors**\\\nSee \"Merchant-Initiated Transactions,\" page 196. For CyberSource through VisaNet, see also \"Incremental Authorizations,\" page 40.\n"
																},
																"previousTransactionId": {
																	"type": "string",
																	"maxLength": 15,
																	"description": "Network transaction identifier that was returned in the payment response field _processorInformation.transactionID_\nin the reply message for either the original merchant-initiated payment in the series or the previous\nmerchant-initiated payment in the series.\n\nIf the current payment request includes a token instead of an account number, the following time limits apply for the value of this field:\n- For a **resubmission**, the transaction ID must be less than 14 days old.\n- For a **delayed charge** or **reauthorization**, the transaction ID must be less than 30 days old.\n\n**NOTE**: The value for this field does not correspond to any data in the TC 33 capture file5. This field is supported\nonly for Visa transactions on CyberSource through VisaNet.\n"
																}
															}
														}
													}
												},
												"billPayment": {
													"type": "boolean",
													"description": "Flag that indicates that this is a payment for a bill or for an existing contractual loan. See \"Visa Bill Payments,\" page 220, and \"Visa Debt Repayments,\" page 221, for lists of processors that support these features.\n\nPossible values:\n- true: Bill payment or loan payment.\n- false (default): Not a bill payment or loan payment.\n"
												},
												"billPaymentType": {
													"type": "string",
													"description": "Reason for the payment.\n\nPossible values:\n- 001: Utility payment\n- 002: Government services\n- 003: Mobile phone top-up\n- 004: Coupon payment\n\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP07 TCR0\n- Position: 48-50\n- Field: Bill Payment Transaction Type Identifier\n\nThis field is supported only for bill payments in Brazil with Mastercard on CyberSource through VisaNet.\nSee Mastercard Bill Payments.\n\nNote For information about bill payments with Visa, see Visa Bill Payments.\n"
												}
											}
										},
										"captureOptions": {
											"type": "object",
											"properties": {
												"captureSequenceNumber": {
													"type": "number",
													"minimum": 1,
													"maximum": 99,
													"description": "Capture number when requesting multiple partial captures for one payment.\nUsed along with _totalCaptureCount_ to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - _captureSequenceNumber_ = 2, and\n  - _totalCaptureCount_ = 5\n"
												},
												"totalCaptureCount": {
													"type": "number",
													"minimum": 1,
													"maximum": 99,
													"description": "Total number of captures when requesting multiple partial captures for one payment.\nUsed along with _captureSequenceNumber_ which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - _captureSequenceNumber_ = 2, and\n  - _totalCaptureCount_ = 5\n"
												},
												"dateToCapture": {
													"type": "string",
													"maxLength": 4,
													"description": "Date on which you want the capture to occur. This field is supported only for CyberSource through VisaNet.\\\n`Format: MMDD`\n"
												}
											}
										},
										"recurringOptions": {
											"type": "object",
											"properties": {
												"loanPayment": {
													"type": "boolean",
													"description": "Flag that indicates whether this is a payment towards an existing contractual loan.\n\nPossible values:\n- **true** Loan payment\n- **false** (default) Not a loan payment\n\nSee \"Visa Debt Repayments,\" page 218, for a list of processors that support this feature.\n",
													"enum": [
														true,
														false
													],
													"default": false
												},
												"firstRecurringPayment": {
													"type": "boolean",
													"description": "Flag that indicates whether this transaction is the first in a series of recurring payments.\n\nThis field is supported only for **Atos**, **FDC Nashville Global**, and **OmniPay Direct**.\n\nPossible values:\n - **true** Indicates this is the first payment in a series of recurring payments\n - **false** (default) Indicates this is not the first payment in a series of recurring payments.\n\nFor more details, see \"Recurring Payments,\" page 198.\n",
													"enum": [
														true,
														false
													],
													"default": false
												}
											}
										},
										"bankTransferOptions": {
											"type": "object",
											"properties": {
												"declineAvsFlags": {
													"type": "string",
													"maxLength": 15,
													"description": "List of AVS flags that cause the request to be declined for AVS reasons. Use a space to separate the flags in\nthe list. Important Make sure that you include the value N in the list if you want to receive declines for the\nAVS code N.\n"
												},
												"secCode": {
													"type": "string",
													"maxLength": 3,
													"description": "Authorization method used for the transaction. See \"SEC Codes,\" page 89.\n\nTeleCheck Accepts only the following values:\n- **PPD**\n- **TEL**\n- **WEB**\n"
												},
												"terminalCity": {
													"type": "string",
													"maxLength": 4,
													"description": "City in which the terminal is located. If more than four alphanumeric characters are submitted, the transaction\nwill be declined.\n\nYou cannot include any special characters.\n"
												},
												"terminalState": {
													"type": "string",
													"maxLength": 2,
													"description": "State in which the terminal is located. If more than two alphanumeric characters are submitted, the transaction\nwill be declined.\n\nYou cannot include any special characters.\n"
												},
												"effectiveDate": {
													"type": "string",
													"maxLength": 8,
													"description": "Effective date for the transaction. The effective date must be within 45 days of the current day. If you do not\ninclude this value, CyberSource sets the effective date to the next business day.\n\nFormat: `MMDDYYYY`\n\nSupported only for the CyberSource ACH Service.\n"
												},
												"partialPaymentId": {
													"type": "string",
													"maxLength": 25,
													"description": "Identifier for a partial payment or partial credit.\n\nThe value for each debit request or credit request must be unique within the scope of the order. See \"Multiple\nPartial Credits,\" page 41.\n"
												},
												"customerMemo": {
													"type": "string",
													"maxLength": 80,
													"description": "Payment related information.\n\nThis information is included on the customer\u2019s statement.\n"
												},
												"paymentCategoryCode": {
													"type": "string",
													"maxLength": 1,
													"description": "Flag that indicates whether to process the payment.\n\nUse with deferred payments. See \"Deferred and Partial Payments,\" page 37.\n\nPossible values:\n- **0**: Standard debit with immediate payment (default).\n- **1**: For deferred payments, indicates that this is a deferred payment and that you will send a debit request\nwith `paymentCategoryCode = 2` in the future.\n- **2**: For deferred payments, indicates notification to initiate payment.\n\nChase Paymentech Solutions and TeleCheck Use for deferred and partial payments.\n\nCyberSource ACH Service Not used.\n\nRBS WorldPay Atlanta Not used.\n"
												},
												"settlementMethod": {
													"type": "string",
													"maxLength": 1,
													"description": "Method used for settlement.\n\nPossible values:\n- **A**: Automated Clearing House (default for credits and for transactions using Canadian dollars)\n- **F**: Facsimile draft (U.S. dollars only)\n- **B**: Best possible (U.S. dollars only) (default if the field has not already been configured for your\nmerchant ID)\n\nSee \"Settlement Delivery Methods,\" page 44.\n"
												},
												"fraudScreeningLevel": {
													"type": "string",
													"maxLength": 1,
													"description": "Level of fraud screening.\n\nPossible values:\n- **1**: Validation \u2014 default if the field has not already been configured for your merchant ID\n- **2**: Verification\n\nFor a description of this feature and a list of supported processors, see \"Verification and Validation,\" page 24.\n"
												}
											}
										}
									}
								},
								"issuerInformation": {
									"type": "object",
									"properties": {
										"discretionaryData": {
											"type": "string",
											"maxLength": 255,
											"description": "Data defined by the issuer.\n\nThe value for this reply field will probably be the same as the value that you submitted in the authorization request, but it is possible for the processor, issuer, or acquirer to modify the value.\n\nThis field is supported only for Visa transactions on **CyberSource through VisaNet**.\n\nFor more information, see Appendix K, \"Formats for  Discretionary Data,\" on page 359.\n"
										}
									}
								},
								"paymentInformation": {
									"type": "object",
									"properties": {
										"card": {
											"type": "object",
											"properties": {
												"number": {
													"type": "string",
													"maxLength": 20,
													"description": "Customer\u2019s credit card number. Encoded Account Numbers when processing encoded account numbers, use this field\nfor the encoded account number.\n\nFor processor-specific information, see the customer_cc_number field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"expirationMonth": {
													"type": "string",
													"maxLength": 2,
													"description": "Two-digit month in which the credit card expires. `Format: MM`. Possible values: 01 through 12.\n\n**Barclays and Streamline**\\\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (01 through 12) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.\n\n**Encoded Account Numbers**\\\nFor encoded account numbers (_type_=039), if there is no expiration date on the card, use 12.\n\nFor processor-specific information, see the customer_cc_expmo field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"expirationYear": {
													"type": "string",
													"maxLength": 4,
													"description": "Four-digit year in which the credit card expires.\n`Format: YYYY`.\n\n**Barclays and Streamline**\\\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (1900 through 3000) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.\n\n**FDC Nashville Global and FDMS South**\\\nYou can send in 2 digits or 4 digits. If you send in 2 digits, they must be the last 2 digits of the year.\n\n**Encoded Account Numbers**\\\nFor encoded account numbers (_type_=039), if there is no expiration date on the card, use 2021.\n\nFor processor-specific information, see the customer_cc_expyr field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"type": {
													"type": "string",
													"description": "Type of card to authorize.\n- 001 Visa\n- 002 Mastercard\n- 003 Amex\n- 004 Discover\n"
												},
												"useAs": {
													"type": "string",
													"maxLength": 20,
													"description": "Flag that specifies the type of account associated with the card. The cardholder provides this information\nduring the payment process.\n\n**Cielo** and **Comercio Latino**\n\nPossible values:\n\n - CREDIT: Credit card\n - DEBIT: Debit card\n\nThis field is required for:\n - Debit transactions on Cielo and Comercio Latino.\n - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n"
												},
												"sourceAccountType": {
													"type": "string",
													"maxLength": 20,
													"description": "Flag that specifies the type of account associated with the card. The cardholder provides this information\nduring the payment process.\n\nThis field is required in the following cases:\n  - Debit transactions on Cielo and Comercio Latino.\n  - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n  - Applicable only for Visa Platform Connect (VPC).\n    \n**Note**\\\nCombo cards in Brazil contain credit and debit functionality in a single card. Visa systems use a credit bank\nidentification number (BIN) for this type of card. Using the BIN to determine whether a card is debit or\ncredit can cause transactions with these cards to be processed incorrectly. CyberSource strongly recommends\nthat you include this field for combo card transactions.\n\nPossible values include the following.\n\n - **CHECKING**: Checking account\n - **CREDIT**: Credit card account\n - **SAVING**: Saving account\n - **LINE_OF_CREDIT**: Line of credit or credit portion of combo card\n - **PREPAID**: Prepaid card account or prepaid portion of combo card\n - **UNIVERSAL**: Universal account\n"
												},
												"securityCode": {
													"type": "string",
													"maxLength": 4,
													"description": "Card Verification Number.\n\n**Ingenico ePayments**\nDo not include this field when _commerceIndicator=recurring_.\n**Note** Ingenico ePayments was previously called Global Collect.\n"
												},
												"securityCodeIndicator": {
													"type": "string",
													"maxLength": 1,
													"description": "Flag that indicates whether a CVN code was sent. Possible values:\n\n - 0 (default): CVN service not requested. CyberSource uses this default value when you do not include\n     _securityCode_ field in the request.\n - 1 (default): CVN service requested and supported. CyberSource uses this default value when you include\n     _securityCode_ field in the request.\n - 2: CVN on credit card is illegible.\n - 9: CVN was not imprinted on credit card.\n"
												},
												"accountEncoderId": {
													"type": "string",
													"maxLength": 3,
													"description": "Identifier for the issuing bank that provided the customer\u2019s encoded account number. Contact your processor for the bank\u2019s ID.\n"
												},
												"issueNumber": {
													"type": "string",
													"maxLength": 5,
													"description": "Number of times a Maestro (UK Domestic) card has been issued to the account holder. The card might or might not have an issue number. The number can consist of one or two digits, and the first digit might be a zero. When you include this value in your request, include exactly what is printed on the card. A value of 2 is different than a value of 02. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card.\n\n**Note** The issue number is not required for Maestro (UK Domestic) transactions.\n"
												},
												"startMonth": {
													"type": "string",
													"maxLength": 2,
													"description": "Month of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: MM`. Possible values: 01 through 12.\n\n**Note** The start date is not required for Maestro (UK Domestic) transactions.\n"
												},
												"startYear": {
													"type": "string",
													"maxLength": 4,
													"description": "Year of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a blank value, if the card is not a Maestro (UK Domestic) card. `Format: YYYY`.\n\n**Note** The start date is not required for Maestro (UK Domestic) transactions.\n"
												},
												"productName": {
													"type": "string",
													"maxLength": 15,
													"description": "Name of the card product.\n\nPossible value:\n- BNDES\n\nThis field is supported only for BNDES transactions on CyberSource through VisaNet. See BNDES.\n\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP07 TCR4\n- Position: 115-120\n- Field: Brazil Country Data\n"
												}
											}
										},
										"tokenizedCard": {
											"type": "object",
											"properties": {
												"number": {
													"type": "string",
													"maxLength": 20,
													"description": "Customer\u2019s payment network token value.\n"
												},
												"expirationMonth": {
													"type": "string",
													"maxLength": 2,
													"description": "Two-digit month in which the payment network token expires. `Format: MM`. Possible values: 01 through 12.\n\n**Barclays and Streamline**\\\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (01 through 12) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.\n\n**Encoded Account Numbers**\\\nFor encoded account numbers (_type_=039), if there is no expiration date on the card, use 12.\n\nFor processor-specific information, see the customer_cc_expmo field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"expirationYear": {
													"type": "string",
													"maxLength": 4,
													"description": "Four-digit year in which the payment network token expires. `Format: YYYY`.\n\n**Barclays and Streamline**\\\nFor Maestro (UK Domestic) and Maestro (International) cards on Barclays and Streamline, this must be a valid value (1900 through 3000) but is not required to be a valid expiration date. In other words, an expiration date that is in the past does not cause CyberSource to reject your request. However, an invalid expiration date might cause the issuer to reject your request.\n\n**FDC Nashville Global and FDMS South**\\\nYou can send in 2 digits or 4 digits. If you send in 2 digits, they must be the last 2 digits of the year.\n\n**Encoded Account Numbers**\\\nFor encoded account numbers (card_type=039), if there is no expiration date on the card, use 2021.\n\nFor processor-specific information, see the customer_cc_expyr field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"type": {
													"type": "string",
													"description": "Type of card to authorize.\n- 001 Visa\n- 002 Mastercard\n- 003 Amex\n- 004 Discover\n"
												},
												"cryptogram": {
													"type": "string",
													"maxLength": 40,
													"description": "This field is used internally."
												},
												"requestorId": {
													"type": "string",
													"maxLength": 11,
													"description": "Value that identifies your business and indicates that the cardholder\u2019s account number is tokenized. This value\nis assigned by the token service provider and is unique within the token service provider\u2019s database.\n\n`Note` This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.\n"
												},
												"transactionType": {
													"type": "string",
													"maxLength": 1,
													"description": "Type of transaction that provided the token data. This value does not specify the token service provider; it\nspecifies the entity that provided you with information about the token.\n\nSet the value for this field to 1. An application on the customer\u2019s mobile device provided the token data.\n"
												},
												"assuranceLevel": {
													"type": "string",
													"maxLength": 2,
													"description": "Confidence level of the tokenization. This value is assigned by the token service provider.\n\n`Note` This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.\n"
												},
												"storageMethod": {
													"type": "string",
													"maxLength": 3,
													"description": "Type of technology used in the device to store token data. Possible values:\n\n - 001: Secure Element (SE)\n\nSmart card or memory with restricted access and encryption to prevent data tampering. For storing payment\ncredentials, a SE is tested against a set of requirements defined by the payment networks.\n\n`Note` This field is supported only for **FDC Compass**.\n\n- 002: Host Card Emulation (HCE)\n\nEmulation of a smart card by using software to create a virtual and exact representation of the card.\nSensitive data is stored in a database that is hosted in the cloud. For storing payment credentials, a database\nmust meet very stringent security requirements that exceed PCI DSS.\n\n`Note` This field is supported only for **FDC Compass**.\n"
												},
												"securityCode": {
													"type": "string",
													"maxLength": 4,
													"description": "Card Verification Number.\n\n**Ingenico ePayments**\nDo not include this field when _commerceIndicator=recurring_.\n**Note** Ingenico ePayments was previously called Global Collect. CVN.\n"
												}
											}
										},
										"fluidData": {
											"type": "object",
											"properties": {
												"key": {
													"type": "string",
													"description": "The name of the merchant-defined data field. The range of this field starts at 1 and terminiates at 100."
												},
												"descriptor": {
													"type": "string",
													"maxLength": 128,
													"description": "The specific string for identifying the payment solution that is sending the encrypted payment data to CyberSource.\nValid values:\n- `Apple Pay`\n- `Samsung Pay`\n**NOTE**: For other payment solutions, the value may be specific to the customer's mobile device. For example, the descriptor for a Bluefin payment encryption would be a device-generated descriptor. Merchant needs to pass in this value.\n"
												},
												"value": {
													"type": "string",
													"maxLength": 3072,
													"description": "Represents the encrypted payment data BLOB. The entry for this field is dependent on the payment solution a merchant uses.\n\nValid values:\n- Apple Pay: `RklEPUNPTU1PTi5BUFBMRS5JTkFQUC5QQVlNRU5U`\n- Samsung Pay: `RklEPUNPTU1PTi5TQU1TVU5HLklOQVBQLlBBWU1FTlQ=`\n**NOTE**: For other payment solutions, the value of the descriptor may be specific to the customer's mobile device. For example, the descriptor for a Bluefin payment encryption would be a device-generated descriptor. Merchant needs to pass in this value.\n"
												},
												"encoding": {
													"type": "string",
													"maxLength": 6,
													"description": "Encoding method used to encrypt the payment data.\n\nValid value: Base64\n"
												}
											}
										},
										"customer": {
											"type": "object",
											"properties": {
												"customerId": {
													"type": "string",
													"description": "Unique identifier for the customer's card and billing information.\n\nWhen you use Payment Tokenization or Recurring Billing and you include this value in\nyour request, many of the fields that are normally required for an authorization or credit\nbecome optional.\n\n**NOTE** When you use Payment Tokenization or Recurring Billing, the value for the Customer ID is actually the Cybersource payment token for a customer. This token stores information such as the consumer\u2019s card number so it can be applied towards bill payments, recurring payments, or one-time payments. By using this token in a payment API request, the merchant doesn't need to pass in data such as the card number or expiration date in the request itself.\n\nSee \"Payment Tokenization,\" page 222, and \"Recurring Billing,\" page 225.\n"
												}
											}
										},
										"bank": {
											"type": "object",
											"properties": {
												"account": {
													"type": "object",
													"properties": {
														"type": {
															"type": "string",
															"maxLength": 1,
															"description": "Account type.\n\nPossible values:\n - **C**: Checking.\n - **G**: General ledger. This value is supported only on Wells Fargo ACH.\n - **S**: Savings (U.S. dollars only).\n - **X**: Corporate checking (U.S. dollars only).\n"
														},
														"number": {
															"type": "string",
															"maxLength": 17,
															"description": "Account number.\n\nWhen processing encoded account numbers, use this field for the encoded account number.\n"
														},
														"encoderId": {
															"type": "string",
															"maxLength": 3,
															"description": "Identifier for the bank that provided the customer\u2019s encoded account number.\n\nTo obtain the bank identifier, contact your processor. See \"Encoded Account Numbers,\" page 39.\n"
														},
														"checkNumber": {
															"type": "string",
															"maxLength": 8,
															"description": "Check number.\n\nChase Paymentech Solutions - Optional.\nCyberSource ACH Service - Not used.\nRBS WorldPay Atlanta - Optional on debits. Required on credits.\nTeleCheck - Strongly recommended on debit requests. Optional on credits.\n"
														},
														"checkImageReferenceNumber": {
															"type": "string",
															"maxLength": 32,
															"description": "Image reference number associated with the check. You cannot include any special characters.\n"
														}
													}
												},
												"routingNumber": {
													"type": "string",
													"maxLength": 9,
													"description": "Bank routing number.\n\nThis is also called the transit number.\n"
												}
											}
										}
									}
								},
								"orderInformation": {
									"type": "object",
									"properties": {
										"amountDetails": {
											"type": "object",
											"properties": {
												"totalAmount": {
													"type": "string",
													"maxLength": 19,
													"description": "Grand total for the order. This value cannot be negative. You can include a decimal point (.), but no other special\ncharacters. CyberSource truncates the amount to the correct number of decimal places.\n\n**Note** For CTV, FDCCompass, Paymentech processors, the maximum length for this field is 12.\n\n**Important** Some processors have specific requirements and limitations, such as maximum amounts and maximum field lengths. This information is covered in:\n\uf06e Table 15, \"Authorization Information for Specific Processors,\" on page 43\n\uf06e Table 19, \"Capture Information for Specific Processors,\" on page 58\n\uf06e Table 23, \"Credit Information for Specific Processors,\" on page 75\nIf your processor supports zero amount authorizations, you can set this field to 0 for the authorization to check if the card is lost or stolen. See \"Zero Amount Authorizations,\" page 247.\n\n**DCC with a Third-Party Provider**\\\nSet this field to the converted amount that was returned by the DCC provider. You must include either this field or offer0 and the offerlevel field amount in your request. For details, see \"Dynamic Currency Conversion with a Third Party Provider,\" page 125.\n\n**FDMS South**\\\nIf you accept IDR or CLP currencies, see the entry for FDMS South in Table 15, \"Authorization Information for Specific Processors,\" on page 43.\n\n**DCC for First Data**\\\nNot used.\n"
												},
												"currency": {
													"type": "string",
													"maxLength": 3,
													"description": "Currency used for the order. Use the three-character ISO Standard Currency Codes.\n\nFor an authorization reversal (`reversalInformation`) or a capture (`processingOptions.capture` is set to `true`), you must use the same currency that you used in your request for Payment API.\n\n**DCC for First Data**\\\nYour local currency. For details, see \"Dynamic Currency Conversion for First Data,\" page 113.\n"
												},
												"discountAmount": {
													"type": "string",
													"maxLength": 15,
													"description": "Total discount amount applied to the order.\n\nFor processor-specific information, see the order_discount_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"dutyAmount": {
													"type": "string",
													"maxLength": 15,
													"description": "Total charges for any import or export duties included in the order.\n\nFor processor-specific information, see the duty_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"taxAmount": {
													"type": "string",
													"maxLength": 12,
													"description": "Total tax amount for all the items in the order.\n\nFor processor-specific information, see the total_tax_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"nationalTaxIncluded": {
													"type": "string",
													"maxLength": 1,
													"description": "Flag that indicates whether a national tax is included in the order total.\n\nPossible values:\n\n - **0**: national tax not included\n - **1**: national tax included\n\nFor processor-specific information, see the national_tax_indicator field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"taxAppliedAfterDiscount": {
													"type": "string",
													"maxLength": 1,
													"description": "Flag that indicates how the merchant manages discounts.\n\nPossible values:\n\n - **0**: no invoice level discount included\n - **1**: tax calculated on the postdiscount invoice total\n - **2**: tax calculated on the prediscount invoice total\n\nFor processor-specific information, see the order_discount_management_indicator field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"taxAppliedLevel": {
													"type": "string",
													"maxLength": 1,
													"description": "Flag that indicates how you calculate tax.\n\nPossible values:\n\n - **0**: net prices with tax calculated at line item level\n - **1**: net prices with tax calculated at invoice level\n - **2**: gross prices with tax provided at line item level\n - **3**: gross prices with tax provided at invoice level\n - **4**: no tax applies on the invoice for the transaction\n\nFor processor-specific information, see the tax_management_indicator field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"taxTypeCode": {
													"type": "string",
													"maxLength": 3,
													"description": "For tax amounts that can be categorized as one tax type.\n\nThis field contains the tax type code that corresponds to the entry in the _lineItems.taxAmount_ field.\n\nPossible values:\n\n - **056**: sales tax (U.S only)\n - **TX~**: all taxes (Canada only)   Note ~ = space.\n\nFor processor-specific information, see the total_tax_type_code field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"freightAmount": {
													"type": "string",
													"maxLength": 13,
													"description": "Total freight or shipping and handling charges for the order. When you include this field in your request, you\nmust also include the **totalAmount** field.\n\nFor processor-specific information, see the freight_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"
												},
												"foreignAmount": {
													"type": "string",
													"maxLength": 15,
													"description": "Set this field to the converted amount that was returned by the DCC provider. See \"Dynamic Currency Conversion with a Third Party Provider,\" page 125.\n\nFor processor-specific information, see the foreign_amount field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"foreignCurrency": {
													"type": "string",
													"maxLength": 5,
													"description": "Your customer\u2019s billing currency. See \"Dynamic Currency Conversion with a Third Party Provider,\" page 125.\n\nFor processor-specific information, see the foreign_currency field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"exchangeRate": {
													"type": "string",
													"maxLength": 13,
													"description": "Exchange rate returned by the DCC service. Includes a decimal point and a maximum of 4 decimal places.\n\nFor details, see \"Dynamic Currency Conversion for First Data,\" page 113.\n\nFor processor-specific information, see the exchange_rate field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"exchangeRateTimeStamp": {
													"type": "string",
													"maxLength": 14,
													"description": "Time stamp for the exchange rate. This value is returned by the DCC service.\n\nFormat: `YYYYMMDD~HH:MM`  where ~ denotes a space.\n\nFor processor-specific information, see the exchange_rate_timestamp field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"surcharge": {
													"type": "object",
													"properties": {
														"amount": {
															"type": "string",
															"maxLength": 15,
															"description": "The surcharge amount is included in the total transaction amount but is passed in a separate field to the issuer and acquirer for tracking. The issuer can provide information about the surcharge amount to the customer.\n\nIf the amount is positive, then it is a debit for the customer.\\\nIf the amount is negative, then it is a credit for the customer.\n\n**NOTE**: This field is supported only for CyberSource through VisaNet (CtV) for Payouts. For CtV, the maximum string length is 8.\n\nFor processor-specific information, see the surcharge_amount field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
														},
														"description": {
															"type": "string",
															"description": "Merchant-defined field for describing the surcharge amount."
														}
													}
												},
												"settlementAmount": {
													"type": "string",
													"maxLength": 12,
													"description": "This is a multicurrency field. It contains the transaction amount (field 4), converted to the Currency used to bill the cardholder\u2019s account.\n"
												},
												"settlementCurrency": {
													"type": "string",
													"maxLength": 3,
													"description": "This is a multicurrency-only field. It contains a 3-digit numeric code that identifies the currency used by the issuer to bill the cardholder's account.\n"
												},
												"amexAdditionalAmounts": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"code": {
																"type": "string",
																"maxLength": 3,
																"description": "Additional amount type. This field is supported only for **American Express Direct**.\n\nFor processor-specific information, see the additional_amount_type field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
															},
															"amount": {
																"type": "string",
																"maxLength": 12,
																"description": "Additional amount. This field is supported only for **American Express Direct**.\n\nFor processor-specific information, see the additional_amount field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
															}
														}
													}
												},
												"taxDetails": {
													"type": "array",
													"items": {
														"type": "object",
														"properties": {
															"type": {
																"type": "string",
																"description": "This is used to determine what type of tax related data should be inclued under _taxDetails_ object.\n\nPossible values:\n - alternate\n - local\n - national\n - vat\n",
																"enum": [
																	"alternate",
																	"local",
																	"national",
																	"vat"
																]
															},
															"amount": {
																"type": "string",
																"maxLength": 13,
																"description": "Please see below table for related decription based on above _type_ field.\n\n| type      | type description |\n|-----------|--------------------|\n| alternate | Total amount of alternate tax for the order. |\n| local     | Sales tax for the order. |\n| national  | National tax for the order. |\n| vat       | Total amount of VAT or other tax included in the order. |\n| other     | Other tax. |\n"
															},
															"rate": {
																"type": "string",
																"maxLength": 6,
																"description": "Rate of VAT or other tax for the order.\n\nExample 0.040 (=4%)\n\nValid range: 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional\ndecimal places will be truncated)\n"
															},
															"code": {
																"type": "string",
																"maxLength": 4,
																"description": "Type of tax being applied to the item. Possible values:\n\nBelow values are used by **RBS WorldPay Atlanta**, **FDC Nashville Global**, **Litle**\n\n - 0000: unknown tax type\n - 0001: federal/national sales tax\n - 0002: state sales tax\n - 0003: city sales tax\n - 0004: local sales tax\n - 0005: municipal sales tax\n - 0006: other tax\n - 0010: value-added tax (VAT)\n - 0011: goods and services tax (GST)\n - 0012: provincial sales tax\n - 0013: harmonized sales tax\n - 0014: Quebec sales tax (QST)\n - 0020: room tax\n - 0021: occupancy tax\n - 0022: energy tax\n - 0023: city tax\n - 0024: county or parish sales tax\n - 0025: county tax\n - 0026: environment tax\n - 0027: state and local sales tax (combined)\n - Blank: Tax not supported on line item.\n"
															},
															"taxId": {
																"type": "string",
																"maxLength": 15,
																"description": "Your tax ID number to use for the alternate tax amount. Required if you set alternate tax amount to any value,\nincluding zero. You may send this field without sending alternate tax amount.\n"
															},
															"applied": {
																"type": "boolean",
																"description": "The tax is applied. Valid value is `true` or `false`."
															},
															"exemptionCode": {
																"type": "string",
																"maxLength": 1,
																"description": "Code for exemption from sales and use tax. This field is a pass-through, which means that CyberSource does not\nverify the value or modify it in any way before sending it to the processor.\n\nFor possible values, see Exemption Status Values. See Numbered Elements.\n\nImportant For information about using this field, see Item-Level Tax Fields.\n"
															}
														}
													}
												},
												"serviceFeeAmount": {
													"type": "string",
													"maxLength": 15,
													"description": "Service fee. Required for service fee transactions.\n"
												},
												"originalAmount": {
													"type": "string",
													"maxLength": 15,
													"description": "Amount in your original local pricing currency.\n\nThis value cannot be negative. You can include a decimal point (.) in this field to denote the currency\nexponent, but you cannot include any other special characters.\n\nIf needed, CyberSource truncates the amount to the correct number of decimal places.\n\nFor details, see Dynamic Currency Conversion with a Third Party Provider.\n"
												},
												"originalCurrency": {
													"type": "string",
													"maxLength": 15,
													"description": "Your local pricing currency code.\n\nFor the possible values, see the ISO Standard Currency Codes.\n\nFor details, see Dynamic Currency Conversion with a Third Party Provider.\n"
												}
											}
										},
										"billTo": {
											"type": "object",
											"properties": {
												"firstName": {
													"type": "string",
													"maxLength": 60,
													"description": "Customer\u2019s first name. This name must be the same as the name on the card.\n\n**CyberSource Latin American Processing**\\\n**Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\\\n**Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.\n\n**CyberSource through VisaNet**\\\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\n**For Payouts**:\\\nThis field may be sent only for FDC Compass.\n\nccAuthService\\\n(Required when the billing country is the U.S. or Canada; otherwise, optional.)\nThis field is optional if your CyberSource account is configured for relaxed requirements for address data and expiration date. See \"Relaxed Requirements for Address Data and Expiration Date,\" page 75.\nImportant It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\nFor processor-specific information, see the customer_firstname field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"lastName": {
													"type": "string",
													"maxLength": 60,
													"description": "Customer\u2019s last name. This name must be the same as the name on the card.\n\n**CyberSource Latin American Processing**\\\n**Important** For an authorization request, CyberSource Latin American Processing concatenates `orderInformation.billTo.firstName` and `orderInformation.billTo.lastName`. If the concatenated value exceeds 30 characters, CyberSource Latin American Processing declines the authorization request.\\\n**Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this field description is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.\n\n**CyberSource through VisaNet**\\\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\nccAuthService\\\n(Required when the billing country is the U.S. or Canada; otherwise, optional.)\nThis field is optional if your CyberSource account is configured for relaxed requirements for address data and expiration date. See \"Relaxed Requirements for Address Data and Expiration Date,\" page 75.\n**Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\n**For Payouts** : This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the customer_lastname field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"middleName": {
													"type": "string",
													"maxLength": 60,
													"description": "Customer\u2019s middle name.\n"
												},
												"nameSuffix": {
													"type": "string",
													"maxLength": 60,
													"description": "Customer\u2019s name suffix.\n"
												},
												"title": {
													"type": "string",
													"maxLength": 60,
													"description": "Title.\n"
												},
												"company": {
													"type": "object",
													"properties": {
														"name": {
															"type": "string",
															"maxLength": 60,
															"description": "Name of the customer\u2019s company.\n\n**CyberSource through VisaNet**\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\nFor processor-specific information, see the company_name field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
														},
														"address1": {
															"type": "string",
															"maxLength": 40,
															"description": "First line in the street address of the company purchasing the product."
														},
														"address2": {
															"type": "string",
															"maxLength": 40,
															"description": "Additional address information for the company purchasing the product."
														},
														"locality": {
															"type": "string",
															"maxLength": 30,
															"description": "City in the address of the company purchasing the product."
														},
														"administrativeArea": {
															"type": "string",
															"maxLength": 2,
															"description": "State or province in the address of the company purchasing the product. Use the State, Province, and Territory\nCodes for the United States and Canada.\n"
														},
														"postalCode": {
															"type": "string",
															"maxLength": 10,
															"description": "Postal code in the address of the company purchasing the product. The postal code must consist of 5 to 9 digits.\n\nWhen the company country is the U.S., the 9-digit postal code must follow this format:\n**[5 digits][dash][4 digits]**\nExample 12345-6789\n\nWhen the company country is Canada, the 6-digit postal code must follow this format:\n**[alpha][numeric][alpha][space][numeric][alpha][numeric]**\nExample A1B 2C3\n"
														},
														"country": {
															"type": "string",
															"maxLength": 2,
															"description": "Country in the address of the company purchasing the product. Use the two-character ISO Standard Country Codes.\n"
														}
													}
												},
												"address1": {
													"type": "string",
													"maxLength": 60,
													"description": "First line of the billing street address as it appears on the credit card issuer\u2019s records.\n\n**Atos**\nThis field must not contain colons (:).\n\n**CyberSource through VisaNet**\n**Important** When you populate billing street address 1 and billing street address 2, CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters, CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank. Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\n**For Payouts**: This field may be sent only for FDC Compass.\n\nccAuthService\n(Required when the billing country is the U.S. or Canada; otherwise, optional.)\nThis field is optional if your CyberSource account is configured for relaxed requirements for address data and expiration date. See \"Relaxed Requirements for Address Data and Expiration Date,\" page 75.\nImportant It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\nFor processor-specific information, see the bill_address1 field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"address2": {
													"type": "string",
													"maxLength": 60,
													"description": "Additional address information.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\n**Atos**\nThis field must not contain colons (:).\n\n**Chase Paymentech Solutions, FDC Compass, and TSYS Acquiring Solutions**\nThis value is used for AVS.\n\n**CyberSource through VisaNet**\n**Important** When you populate billing street address 1 and billing street address 2, CyberSource through VisaNet concatenates the two values. If the concatenated value exceeds 40 characters, CyberSource through VisaNet truncates the value at 40 characters before sending it to Visa and the issuing bank. Truncating this value affects AVS results and therefore might also affect risk decisions and chargebacks.\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\nFor processor-specific information, see the bill_address2 field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"locality": {
													"type": "string",
													"maxLength": 50,
													"description": "City of the billing address.\n\n**Atos**\nThis field must not contain colons (:).\n\n**CyberSource through VisaNet**\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\n**For Payouts**: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the bill_city field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"administrativeArea": {
													"type": "string",
													"maxLength": 2,
													"description": "State or province of the billing address. Use the State, Province, and Territory Codes for the United States\nand Canada.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\n**CyberSource through VisaNet**\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\nccAuthService\n(Required when the billing country is the U.S. or Canada; otherwise, optional.)\nThis field is optional if your CyberSource account is configured for relaxed requirements for address data and expiration date. See \"Relaxed Requirements for Address Data and Expiration Date,\" page 75.\nImportant It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\nFor processor-specific information, see the bill_state field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"postalCode": {
													"type": "string",
													"maxLength": 10,
													"description": "Postal code for the billing address. The postal code must consist of 5 to 9 digits.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\nExample 12345-6789\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\nExample A1B 2C3\n\nccAuthService\n(Required when the billing country is the U.S. or Canada; otherwise, optional.)\nThis field is optional if your CyberSource account is configured for relaxed requirements for address data and expiration date. See \"Relaxed Requirements for Address Data and Expiration Date,\" page 75.\n**Important** It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\n**American Express Direct**\nBefore sending the postal code to the processor, CyberSource removes all nonalphanumeric characters and, if the remaining value is longer than nine characters, truncates the value starting from the right side.\n\n**Atos**\nThis field must not contain colons (:).\n\n**CyberSource through VisaNet**\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\nFor processor-specific information, see the bill_zip field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"country": {
													"type": "string",
													"maxLength": 2,
													"description": "Country of the billing address. Use the two-character ISO Standard Country Codes.\n\n**CyberSource through VisaNet**\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\nccAuthService\n(Required when the billing country is the U.S. or Canada; otherwise, optional.)\nThis field is optional if your CyberSource account is configured for relaxed requirements for address data and expiration date. See \"Relaxed Requirements for Address Data and Expiration Date,\" page 75.\nImportant It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\nFor processor-specific information, see the bill_country field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"district": {
													"type": "string",
													"maxLength": 50,
													"description": "Customer\u2019s neighborhood, community, or region (a barrio in Brazil) within the city or municipality. This\nfield is available only on **Cielo**.\n"
												},
												"buildingNumber": {
													"type": "string",
													"maxLength": 256,
													"description": "Building number in the street address.\n\nFor example, if the street address is:\nRua da Quitanda 187\nthen the building number is 187.\n\nThis field is supported only for:\n - Cielo transactions.\n - Redecard customer validation with CyberSource Latin American Processing.\n"
												},
												"email": {
													"type": "string",
													"maxLength": 255,
													"description": "Customer's email address, including the full domain name.\n\n**CyberSource through VisaNet**\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n\nccAuthService\n(Required when the billing country is the U.S. or Canada; otherwise, optional.)\nThis field is optional if your CyberSource account is configured for relaxed requirements for address data and expiration date. See \"Relaxed Requirements for Address Data and Expiration Date,\" page 75.\nImportant It is your responsibility to determine whether a field is required for the transaction you are requesting.\n\nFor processor-specific information, see the customer_email field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
												},
												"phoneNumber": {
													"type": "string",
													"maxLength": 15,
													"description": "Customer\u2019s phone number.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nCyberSource recommends that you include the country code when the order is from outside the U.S.\n\nFor processor-specific information, see the customer_phone field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n\n**CyberSource through VisaNet**\nCredit card networks cannot process transactions that contain non-ASCII characters. CyberSource through VisaNet accepts and stores non-ASCII characters correctly and displays them correctly in reports. However, the limitations of the credit card networks prevent CyberSource through VisaNet from transmitting non-ASCII characters to the credit card networks. Therefore, CyberSource through VisaNet replaces non-ASCII characters with meaningless ASCII characters for transmission to the credit card networks.\n"
												},
												"phoneType": {
													"type": "string",
													"enum": [
														"day",
														"home",
														"night",
														"work"
													],
													"description": "Customer's phone number type.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nPossible Values - \n* day\n* home\n* night\n* work\n"
												}
											}
										},
										"shipTo": {
											"type": "object",
											"properties": {
												"firstName": {
													"type": "string",
													"maxLength": 60,
													"description": "First name of the recipient.\n\n**Processor specific maximum length**\n\n- Litle: 25\n- All other processors: 60\n"
												},
												"lastName": {
													"type": "string",
													"maxLength": 60,
													"description": "Last name of the recipient.\n\n**Processor-specific maximum length**\n\n- Litle: 25\n- All other processors: 60\n"
												},
												"address1": {
													"type": "string",
													"maxLength": 60,
													"description": "First line of the shipping address."
												},
												"address2": {
													"type": "string",
													"maxLength": 60,
													"description": "Second line of the shipping address."
												},
												"locality": {
													"type": "string",
													"maxLength": 50,
													"description": "City of the shipping address."
												},
[...]
