{"swagger":"2.0","info":{"description":"Simple PAN tokenization service","version":"0.0.1","title":"CyberSource Flex API"},"host":"apitest.cybersource.com","schemes":["https"],"basePath":"/","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"tags":[{"name":"Flex API"}],"paths":{"/flex/v1/keys/":{"x-name":"Generate Key","x-description":"Generate a one-time use public key and key ID to encrypt the card number in the follow-on Tokenize Card request. The key used to encrypt the card number on the cardholder\u2019s device or browser is valid for 15 minutes and must be used to verify the signature in the response message. CyberSource recommends creating a new key for each order. Generating a key is an authenticated request initiated from your servers, prior to requesting to tokenize the card data from your customer\u2019s device or browser.","post":{"tags":["KeyGeneration"],"summary":"Generate Key","description":"Generate a one-time use public key and key ID to encrypt the card number in the follow-on Tokenize Card request. The key used to encrypt the card number on the cardholder\u2019s device or browser is valid for 15 minutes and must be used to verify the signature in the response message. CyberSource recommends creating a new key for each order. Generating a key is an authenticated request initiated from your servers, prior to requesting to tokenize the card data from your customer\u2019s device or browser.","operationId":"generatePublicKey","produces":["application/json"],"parameters":[{"in":"body","name":"generatePublicKeyRequest","schema":{"required":["encryptionType"],"type":"object","properties":{"encryptionType":{"type":"string","description":"How the card number should be encrypted in the subsequent Tokenize Card request. Possible values are RsaOaep256 or None (if using this value the card number must be in plain text when included in the Tokenize Card request). The Tokenize Card request uses a secure connection (TLS 1.2+) regardless of what encryption type is specified."},"targetOrigin":{"type":"string","description":"This should only be used if using the Microform implementation. This is the protocol, URL, and if used, port number of the page that will host the Microform. Unless using http://localhost, the protocol must be https://. For example, if serving Microform on example.com, the targetOrigin is https://example.com The value is used to restrict the frame ancestor of the Microform. If there is a mismatch between this value and the frame ancestor, the Microfrom will not load."},"unmaskedLeft":{"type":"integer","description":"Specifies the number of card number digits to be returned un-masked from the left. For example, setting this value to 6 will return: 411111XXXXXXXXXX Default value: 6 Maximum value: 6"},"unmaskedRight":{"type":"integer","description":"Specifies the number of card number digits to be returned un-masked from the right. For example, setting this value to 4 will return: 411111XXXXXX1111 Default value: 4 Maximum value: 4"},"enableBillingAddress":{"type":"boolean","description":"Specifies whether or not 'dummy' address data should be specified in the create token request. If you have 'Relaxed AVS' enabled for your MID, this value can be set to False.Default value: true"},"currency":{"type":"string","description":"Three character ISO currency code to be associated with the token. Required for legacy integrations. Default value: USD."},"enableAutoAuth":{"type":"boolean","description":"Specifies whether or not an account verification authorization ($0 Authorization) is carried out on token creation. Default is false, as it is assumed a full or zero amount authorization will be carried out in a separate call from your server."}}}}],"x-example":{"example0":{"summary":"Generate Key","value":{"encryptionType":"RsaOaep256"}}},"responses":{"200":{"description":"Retrieved key.","schema":{"title":"flexV1KeysPost200Response","properties":{"keyId":{"type":"string","description":"Unique identifier for the generated token. Used in the subsequent Tokenize Card request from your customer\u2019s device or browser."},"der":{"type":"object","description":"The public key in DER format. Used to validate the response from the Tokenize Card request. Additionally this format is useful for client side encryption in Android and iOS implementations.","properties":{"format":{"type":"string","description":"Specifies the format of the public key; currently X.509."},"algorithm":{"type":"string","description":"Algorithm used to encrypt the public key."},"publicKey":{"type":"string","description":"Base64 encoded public key value."}}},"jwk":{"type":"object","description":"The public key in JSON Web Key (JWK) format. This format is useful for client side encryption in JavaScript based implementations.","properties":{"kty":{"type":"string","description":"Algorithm used to encrypt the public key."},"use":{"type":"string","description":"Defines whether to use the key for encryption (enc) or verifying a signature (sig). Always returned as enc."},"kid":{"type":"string","description":"The key ID in JWK format."},"n":{"type":"string","description":"JWK RSA Modulus"},"e":{"type":"string","description":"JWK RSA Exponent"}}}}}},"default":{"description":"Error retrieving key.","schema":{"type":"object","properties":{"responseStatus":{"properties":{"status":{"type":"number","description":"HTTP Status code."},"reason":{"type":"string","description":"Error Reason Code."},"message":{"type":"string","description":"Error Message."},"correlationId":{"type":"string","description":"API correlation ID."},"details":{"type":"array","items":{"properties":{"location":{"type":"string","description":"Field name referred to for validation issues."},"message":{"type":"string","description":"Description or code of any error response."}}}}}},"_links":{"type":"object","properties":{"next":{"type":"array","items":{"properties":{"href":{"type":"string","description":"URI of the linked resource."},"title":{"type":"string","description":"Label of the linked resource."},"method":{"type":"string","description":"HTTP method of the linked resource."}}}},"documentation":{"type":"array","items":{"properties":{"href":{"type":"string","description":"URI of the linked resource."},"title":{"type":"string","description":"Label of the linked resource."},"method":{"type":"string","description":"HTTP method of the linked resource."}}}},"self":{"properties":{"href":{"type":"string","description":"URI of the linked resource."},"title":{"type":"string","description":"Label of the linked resource."},"method":{"type":"string","description":"HTTP method of the linked resource."}}}}}}}}},"x-samplePayload":{"encryptionType":"RsaOaep256"},"x-sampleResponse":{"keyId":"05BgbFie7vX5vzSMKOoqEAAdfpdR4kas","der":{"format":"X.509","algorithm":"RSA","publicKey":"MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgC1G6rVue4w/jjJrKPZusGN9G+Y7mWuLJ0O2/GHd94LvR51+ok7ahuQUVMZLdigixnspaGo/WVLvTTZ5J28Cc1uSx0o/BsxpNaAQD8/aBZL3nnAiBLACxI1JHAVo7SXbJQmz+mqVFYTppg9QmpB2ATTmXjUOQy+Fqkw3EByfCANHhHSNs4+HASovsfcRMUmmvDfTd5qBb23KzDJeDVqTYWa3XjUorlZOCJuLyPgeDEK8oOC9C4W9dn32z8FJ4E6Dz28M/2O3g8FLQD2F+NezkQJsl8MEYo4rl1nr7/oIkMsYLCCoG8jwmryErb7km9JWWgqZ80trkjijFqDAbHfUEwIDAQAB"},"jwk":{"kty":"RSA","use":"enc","kid":"05BgbFie7vX5vzSMKOoqEAAdfpdR4kas","n":"fC1G6rVue4w_jjJrKPZusGN9G-Y7mWuLJ0O2_GHd94LvR51-ok7ahuQUVMZLdigixnspaGo_WVLvTTZ5J28Cc1uSx0o_BsxpNaAQD8_aBZL3nnAiBLACxI1JHAVo7SXAJQmz-mqVFYTppg9QmpB2ATTmXjUOQy-Fqkw3EByfCANHhHSNs4-HASovsfcRMUmmvDfTd5qBb23KzDJeDVqTYWa3XjUorlZOCJuLyPgeDEK8oOC9C4W9dn32z8FJ4E6Dz28M_2O3g8FLQD2F-NezkQJsl8MEYo4rl1nr7_oIkMsYLCCoG8jwmryErb7km9JWWgqZ80trkjijFqDAbHfUEw","e":"AQAB"}}}},"/flex/v1/tokens/":{"x-name":"Flex Tokenize Card","x-description":"Returns a token representing the supplied card details. The token replaces card data and can be used as the Subscription ID in the CyberSource Simple Order API or SCMP API. This is an unauthenticated call that you should initiate from your customer\u2019s device or browser.","post":{"tags":["FlexToken"],"summary":"Flex Tokenize card","description":"Returns a token representing the supplied card details. The token replaces card data and can be used as the Subscription ID in the CyberSource Simple Order API or SCMP API. This is an unauthenticated call that you should initiate from your customer\u2019s device or browser.","operationId":"tokenize","produces":["application/json"],"parameters":[{"in":"body","name":"tokenizeRequest","schema":{"type":"object","properties":{"keyId":{"type":"string","description":"Unique identifier for the generated token. This is obtained from the Generate Key request. See the [Java Script and Java examples] (http://apps.cybersource.com/library/documentation/dev_guides/Secure_Acceptance_Flex/Key/html) on how to import the key and encrypt using the imported key."},"cardInfo":{"type":"object","properties":{"cardNumber":{"type":"string","description":"Encrypted or plain text card number. If the encryption type of \u201cNone\u201d was used in the Generate Key request, this value can be set to the plaintext card number/Personal Account Number (PAN). If the encryption type of RsaOaep256 was used in the Generate Key request, this value needs to be the RSA OAEP 256 encrypted card number. The card number should be encrypted on the cardholders\u2019 device. The [WebCrypto API] (https://github.com/CyberSource/cybersource-flex-samples/blob/master/java/spring-boot/src/main/resources/public/flex.js) can be used with the JWK obtained in the Generate Key request."},"cardExpirationMonth":{"type":"string","description":"Two digit expiration month"},"cardExpirationYear":{"type":"string","description":"Four digit expiration year"},"cardType":{"type":"string","description":"Card Type. This field is required. Refer to the CyberSource Credit Card Services documentation for supported card types."}}}}}}],"x-example":{"example0":{"summary":"Flex Tokenize Card","value":{"keyId":"05BgbFie7vX5vzSMKOoqEAAdfpdR4kas","cardInfo":{"cardNumber":"4111111111111111","cardExpirationMonth":"12","cardExpirationYear":"2031","cardType":"001"}}}},"responses":{"200":{"description":"Created payment token.","schema":{"title":"flexV1TokensPost200Response","properties":{"keyId":{"type":"string","description":"The Key ID."},"token":{"type":"string","description":"The generated token. The token replaces card data and is used as the Subscription ID in the CyberSource Simple Order API or SCMP API."},"maskedPan":{"type":"string","description":"The masked card number displaying the first 6 digits and the last 4 digits."},"cardType":{"type":"string","description":"The card type."},"timestamp":{"type":"integer","format":"int64","description":"The UTC date and time in milliseconds at which the signature was generated."},"signedFields":{"type":"string","description":"Indicates which fields from the response make up the data that is used when verifying the response signature. See the [sample code] (https://github.com/CyberSource/cybersource-flex-samples/blob/master/java/spring-boot/src/main/java/com/cybersource/flex/application/CheckoutController.java) on how to verify the signature."},"signature":{"type":"string","description":"Flex-generated digital signature. To ensure the values have not been tampered with while passing through the client, verify this server-side using the public key generated from the /keys resource."},"discoverableServices":{"type":"object","additionalProperties":{"type":"object"}}}}},"default":{"description":"Error creating token.","schema":{"type":"object","properties":{"responseStatus":{"properties":{"status":{"type":"number","description":"HTTP Status code."},"reason":{"type":"string","description":"Error Reason Code."},"message":{"type":"string","description":"Error Message."},"correlationId":{"type":"string","description":"API correlation ID."},"details":{"type":"array","items":{"properties":{"location":{"type":"string","description":"Field name referred to for validation issues."},"message":{"type":"string","description":"Description or code of any error response."}}}}}},"_links":{"type":"object","properties":{"next":{"type":"array","items":{"properties":{"href":{"type":"string","description":"URI of the linked resource."},"title":{"type":"string","description":"Label of the linked resource."},"method":{"type":"string","description":"HTTP method of the linked resource."}}}},"documentation":{"type":"array","items":{"properties":{"href":{"type":"string","description":"URI of the linked resource."},"title":{"type":"string","description":"Label of the linked resource."},"method":{"type":"string","description":"HTTP method of the linked resource."}}}},"self":{"properties":{"href":{"type":"string","description":"URI of the linked resource."},"title":{"type":"string","description":"Label of the linked resource."},"method":{"type":"string","description":"HTTP method of the linked resource."}}}}}}}}},"x-samplePayload":{"keyId":"05BgbFie7vX5vzSMKOoqEAAdfpdR4kas","cardDetails":{"cardNumber":"ejbhIpMEgYnIODcB4//rrVxMHrqHcnLD6pDRF36jlEk72bETAfiOoxmpI9pGiidqMmkgAnvJfVgR3CLAV5EdG4Mu5IWK26QRnVtwvsVEUtpah7IylbxV9MLvXh2FjIJskKCWNLidb1G4PN5963hnV3IoZd2pF99JwV9lPhOHT5ymlNeg7sTzQQDN1I0/yJApds+t79hl9QVp4PusUDfSsPQTtR2frzlH4V3W+XjHDhmy5oNhiUaVxv27cyG1SWeCKkVC9tc8zLy4pvlgoplrLV8JRaS9hfWalJjv2xtk3DXmNT2urtFv2evcI3LM/S29KlJjPXZcBp0IYyB/taunCA==","cardType":"001"}},"x-sampleResponse":{"keyId":"05BgbFie7vX5vzSMKOoqEAAdfpdR4kas","token":"0100153497304242","maskedPan":"424242XXXXXX4242","cardType":"001","timestamp":1472733222651,"signedFields":"token,cardType,maskedPan,timestamp","signature":"TcM7METFOIidwbxWG2Xhawx/5gZ7hZB0Lyrhg3NRJ+Pma+Nq7BugvsqLCE2R24+h13xnM6vpJXR2cqfQPkxhb6joJT8jcciEf+lj6h/KjvXuR4pJ4fMll4WS1Z4+574ps0ysV/5zs7kT2IAZj7i+szlYwFJxGhOGC0218x1N0NxELTDyU/HI6n+Aa+mYBqkMXth42t+GNQ7goVXkJWRgQSjp2v0WTh2d2plDnxEWPURZXz7GLdQXRIYUWWx/L5JSf88F1zgjYDpBitNSYBMMILKfDd3KEg+6nIruCln5kDMbTRD8LwPpGYC9tyM9+UM8MBINPHhaqdFp2wHF7dccKA==","discoverableServices":[]}}},"/pts/v2/payments/":{"post":{"summary":"Process a Payment","description":"Authorize the payment for the transaction.\n","tags":["payments"],"operationId":"createPayment","parameters":[{"name":"createPaymentRequest","in":"body","required":true,"schema":{"type":"object","properties":{"clientReferenceInformation":{"type":"object","properties":{"code":{"type":"string","maxLength":50,"description":"Client-generated order reference or tracking number. CyberSource recommends that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n"},"transactionId":{"type":"string","description":"Identifier that you assign to the transaction. See \"Merchant-Initiated Reversals and Voids,\" page 176\n"},"comments":{"type":"string","description":"Comments"}}},"processingInformation":{"type":"object","properties":{"capture":{"type":"boolean","description":"Flag that specifies whether to also include capture service in the submitted request or not.","enum":[true,false],"default":false},"processorId":{"type":"string","maxLength":3,"description":"Value that identifies the processor/acquirer to use for the transaction. This value is supported only for\n**CyberSource through VisaNet**.\n"},"businessApplicationId":{"type":"string","description":"Description of this field is not available."},"commerceIndicator":{"type":"string","maxLength":20,"description":"Type of transaction. Some payment card companies use this information when determining discount rates. When you\nomit this field for **Ingenico ePayments**, the processor uses the default transaction type they have on file\nfor you instead of the default value listed here.\n"},"paymentSolution":{"type":"string","maxLength":12,"description":"Type of digital payment solution that is being used for the transaction. Possible Values:\n\n - **visacheckout**: Visa Checkout.\n - **001**: Apple Pay.\n - **005**: Masterpass. Required for Masterpass transactions on OmniPay Direct.\n - **006**: Android Pay.\n - **008**: Samsung Pay.\n"},"reconciliationId":{"type":"string","maxLength":60,"description":"Please check with Cybersource customer support to see if your merchant account is configured correctly so you\ncan include this field in your request.\n* For Payouts: max length for FDCCompass is String (22).\n"},"linkId":{"type":"string","maxLength":26,"description":"Value that links the current payment request to the original request. Set this value\nto the ID that was returned in the reply message from the original payment request.\n\nThis value is used for:\n\n - Partial authorizations.\n - Split shipments.\n"},"purchaseLevel":{"type":"string","maxLength":1,"description":"Set this field to 3 to indicate that the request includes Level III data."},"reportGroup":{"type":"string","maxLength":25,"description":"Attribute that lets you define custom grouping for your processor reports. This field is supported only for\n**Litle**.\n"},"visaCheckoutId":{"type":"string","maxLength":48,"description":"Identifier for the **Visa Checkout** order. Visa Checkout provides a unique order ID for every transaction in\nthe Visa Checkout **callID** field.\n"},"issuer":{"type":"object","properties":{"discretionaryData":{"type":"string","maxLength":255,"description":"Data defined by the issuer. The value for this reply field will probably be the same as the value that you\nsubmitted in the authorization request, but it is possible for the processor, issuer, or acquirer to modify\nthe value.\n\nThis field is supported only for Visa transactions on **CyberSource through VisaNet**.\n"}}},"authorizationOptions":{"type":"object","properties":{"authType":{"type":"string","maxLength":15,"description":"Authorization type. Possible values:\n\n - **AUTOCAPTURE**: automatic capture.\n - **STANDARDCAPTURE**: standard capture.\n - **VERBAL**: forced capture. Include it in the payment request for a forced capture. Include it in the capture\n request for a verbal payment.\n\nFor processor-specific information, see the auth_type field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"verbalAuthCode":{"type":"string","maxLength":7,"description":"Authorization code.\n\n**Forced Capture**\n\nUse this field to send the authorization code you received from a payment that you authorized\noutside the CyberSource system.\n\n**Verbal Authorization**\n\nUse this field in CAPTURE API to send the verbally received authorization code.\n\nFor processor-specific information, see the auth_code field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"verbalAuthTransactionId":{"type":"string","maxLength":15,"description":"Transaction ID (TID)."},"authIndicator":{"type":"string","maxLength":1,"description":"Flag that specifies the purpose of the authorization.\n\nPossible values:\n - **0**: Preauthorization\n - **1**: Final authorization\n\nFor processor-specific information, see the auth_indicator field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"partialAuthIndicator":{"type":"boolean","description":"Flag that indicates whether the transaction is enabled for partial authorization or not. When your request\nincludes this field, this value overrides the information in your CyberSource account.  For processor-specific\ninformation, see the auth_partial_auth_indicator field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n","enum":[true,false]},"balanceInquiry":{"type":"boolean","description":"Flag that indicates whether to return balance information.","enum":[true,false]},"ignoreAvsResult":{"type":"boolean","description":"Flag that indicates whether to allow the capture service to run even when the payment\nreceives an AVS decline.\n","enum":[true,false],"default":false},"declineAvsFlags":{"type":"array","description":"An array of AVS flags that cause the reply flag to be returned.\n\n`Important` To receive declines for the AVS code N, include the value N in the array.\n","items":{"type":"string","enum":["D","A","V","S","N","O"]}},"ignoreCvResult":{"type":"boolean","description":"Flag that indicates whether to allow the capture service to run even when\nthe payment receives a CVN decline.\n","enum":[true,false],"default":false},"initiator":{"type":"object","properties":{"type":{"type":"string","description":"This field indicates whether the transaction is a merchant-initiated transaction or customer-initiated transaction.\n","enum":["customer","merchant"]},"credentialStoredOnFile":{"type":"boolean","description":"Flag that indicates whether merchant is intend to use this transaction to store payment credential for follow-up\nmerchant-initiated transactions or not.\n","enum":[true,false]},"storedCredentialUsed":{"type":"boolean","description":"Flag that indicates whether merchant is intend to use this transaction to store payment credential for follow-up\nmerchant-initiated transactions or not.\n","enum":[true,false]},"merchantInitiatedTransaction":{"type":"object","properties":{"reason":{"type":"string","maxLength":1,"description":"Reason for the merchant-initiated transaction. Possible values:\n\n - **1**: Resubmission\n - **2**: Delayed charge\n - **3**: Reauthorization for split shipment\n - **4**: No show\n - **5**: Account top up\n\nThis field is not required for installment payments or recurring payments or when _reAuth.first_ is true. It is\nrequired for all other merchant-initiated transactions. This field is supported only for Visa transactions on CyberSource through\nVisaNet.\n"},"previousTransactionId":{"type":"string","maxLength":15,"description":"Transaction identifier that was returned in the payment response field _processorInformation.transactionID_\nin the reply message for either the original merchant initiated payment in the series or the previous\nmerchant-initiated payment in the series. <p/> If the current payment request includes a token\ninstead of an account number, the following time limits apply for the value of this field:\n\nFor a **resubmission**, the transaction ID must be less than 14 days old.\n\nFor a **delayed charge** or **reauthorization**, the transaction ID must be less than 30 days old.\n\nThe value for this field does not correspond to any data in the TC 33 capture file. This field is supported\nonly for Visa transactions on CyberSource through VisaNet.\n"}}}}}}},"captureOptions":{"type":"object","properties":{"captureSequenceNumber":{"type":"number","minimum":1,"maximum":99,"description":"Capture number when requesting multiple partial captures for one payment.\nUsed along with _totalCaptureCount_ to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - _captureSequenceNumber_ = 2, and\n  - _totalCaptureCount_ = 5\n"},"totalCaptureCount":{"type":"number","minimum":1,"maximum":99,"description":"Total number of captures when requesting multiple partial captures for one payment.\nUsed along with _captureSequenceNumber_ which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - _captureSequenceNumber_ = 2, and\n  - _totalCaptureCount_ = 5\n"},"dateToCapture":{"type":"string","maxLength":4,"description":"Date on which you want the capture to occur. This field is supported only for **CyberSource through VisaNet**.\n`Format: MMDD`\n"}}},"recurringOptions":{"type":"object","properties":{"loanPayment":{"type":"boolean","description":"Flag that indicates whether this is a payment towards an existing contractual loan.\n","enum":[true,false],"default":false},"firstRecurringPayment":{"type":"boolean","description":"Flag that indicates whether this transaction is the first in a series of recurring payments. This field is\nsupported only for **Atos**, **FDC Nashville Global**, and **OmniPay Direct**.\n","enum":[true,false],"default":false}}}}},"paymentInformation":{"type":"object","properties":{"card":{"type":"object","properties":{"number":{"type":"string","maxLength":20,"description":"Customer\u2019s credit card number. Encoded Account Numbers when processing encoded account numbers, use this field\nfor the encoded account number.\n\nFor processor-specific information, see the customer_cc_number field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"expirationMonth":{"type":"string","maxLength":2,"description":"Two-digit month in which the credit card expires. `Format: MM`. Possible values: 01 through 12.\n\n**Encoded Account Numbers**\n\nFor encoded account numbers (_type_=039), if there is no expiration date on the card, use 12.\n\nFor processor-specific information, see the customer_cc_expmo field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"expirationYear":{"type":"string","maxLength":4,"description":"Four-digit year in which the credit card expires. `Format: YYYY`.\n\n**Encoded Account Numbers**\n\nFor encoded account numbers (_type_=039), if there is no expiration date on the card, use 2021.\n\nFor processor-specific information, see the customer_cc_expyr field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"type":{"type":"string","maxLength":3,"description":"Type of card to authorize.\n- 001 Visa\n- 002 Mastercard\n- 003 Amex\n- 004 Discover\n"},"useAs":{"type":"string","maxLength":2,"description":"Flag that specifies the type of account associated with the card. The cardholder provides this information\nduring the payment process.\n\n**Cielo** and **Comercio Latino**\n\nPossible values:\n\n - CREDIT: Credit card\n - DEBIT: Debit card\n\nThis field is required for:\n - Debit transactions on Cielo and Comercio Latino.\n - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n"},"sourceAccountType":{"type":"string","maxLength":2,"description":"Flag that specifies the type of account associated with the card. The cardholder provides this information\nduring the payment process. This field is required in the following cases.\n  - Debit transactions on Cielo and Comercio Latino.\n  - Transactions with Brazilian-issued cards on CyberSource through VisaNet.\n  - Applicable only for CTV.\n    \n**Note**\nCombo cards in Brazil contain credit and debit functionality in a single card. Visa systems use a credit bank\nidentification number (BIN) for this type of card. Using the BIN to determine whether a card is debit or\ncredit can cause transactions with these cards to be processed incorrectly. CyberSource strongly recommends\nthat you include this field for combo card transactions.\n\nPossible values include the following.\n\n - CHECKING: Checking account\n - CREDIT: Credit card account\n - SAVING: Saving account\n - LINE_OF_CREDIT: Line of credit\n - PREPAID: Prepaid card account\n - UNIVERSAL: Universal account\n"},"securityCode":{"type":"string","maxLength":4,"description":"Card Verification Number."},"securityCodeIndicator":{"type":"string","maxLength":1,"description":"Flag that indicates whether a CVN code was sent. Possible values:\n\n - 0 (default): CVN service not requested. CyberSource uses this default value when you do not include\n     _securityCode_ in the request.\n - 1 (default): CVN service requested and supported. CyberSource uses this default value when you include\n     _securityCode_ in the request.\n - 2: CVN on credit card is illegible.\n - 9: CVN was not imprinted on credit card.\n"},"accountEncoderId":{"type":"string","maxLength":3,"description":"Identifier for the issuing bank that provided the customer\u2019s encoded account number. Contact your processor\nfor the bank\u2019s ID.\n"},"issueNumber":{"type":"string","maxLength":5,"description":"Number of times a Maestro (UK Domestic) card has been issued to the account holder. The card might or might\nnot have an issue number. The number can consist of one or two digits, and the first digit might be a zero.\nWhen you include this value in your request, include exactly what is printed on the card. A value of 2 is\ndifferent than a value of 02. Do not include the field, even with a blank value, if the card is not a\nMaestro (UK Domestic) card.\n\nThe issue number is not required for Maestro (UK Domestic) transactions.\n"},"startMonth":{"type":"string","maxLength":2,"description":"Month of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a\nblank value, if the card is not a Maestro (UK Domestic) card. `Format: MM`. Possible values: 01 through 12.\n\nThe start date is not required for Maestro (UK Domestic) transactions.\n"},"startYear":{"type":"string","maxLength":4,"description":"Year of the start of the Maestro (UK Domestic) card validity period. Do not include the field, even with a\nblank value, if the card is not a Maestro (UK Domestic) card. `Format: YYYY`.\n\nThe start date is not required for Maestro (UK Domestic) transactions.\n"}}},"tokenizedCard":{"type":"object","properties":{"number":{"type":"string","maxLength":20,"description":"Customer\u2019s payment network token value.\n"},"expirationMonth":{"type":"string","maxLength":2,"description":"Two-digit month in which the payment network token expires. `Format: MM`. Possible values: 01 through 12.\n"},"expirationYear":{"type":"string","maxLength":4,"description":"Four-digit year in which the payment network token expires. `Format: YYYY`.\n"},"type":{"type":"string","maxLength":3,"description":"Type of card to authorize.\n- 001 Visa\n- 002 Mastercard\n- 003 Amex\n- 004 Discover\n"},"cryptogram":{"type":"string","maxLength":40,"description":"This field is used internally."},"requestorId":{"type":"string","maxLength":11,"description":"Value that identifies your business and indicates that the cardholder\u2019s account number is tokenized. This value\nis assigned by the token service provider and is unique within the token service provider\u2019s database.\n\n`Note` This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.\n"},"transactionType":{"type":"string","maxLength":1,"description":"Type of transaction that provided the token data. This value does not specify the token service provider; it\nspecifies the entity that provided you with information about the token.\n\nSet the value for this field to 1. An application on the customer\u2019s mobile device provided the token data.\n"},"assuranceLevel":{"type":"string","maxLength":2,"description":"Confidence level of the tokenization. This value is assigned by the token service provider.\n\n`Note` This field is supported only for **CyberSource through VisaNet** and **FDC Nashville Global**.\n"},"storageMethod":{"type":"string","maxLength":3,"description":"Type of technology used in the device to store token data. Possible values:\n\n - 001: Secure Element (SE)\n\nSmart card or memory with restricted access and encryption to prevent data tampering. For storing payment\ncredentials, a SE is tested against a set of requirements defined by the payment networks.\n\n`Note` This field is supported only for **FDC Compass**.\n\n- 002: Host Card Emulation (HCE)\n\nEmulation of a smart card by using software to create a virtual and exact representation of the card.\nSensitive data is stored in a database that is hosted in the cloud. For storing payment credentials, a database\nmust meet very stringent security requirements that exceed PCI DSS.\n\n`Note` This field is supported only for **FDC Compass**.\n"},"securityCode":{"type":"string","maxLength":4,"description":"CVN."}}},"fluidData":{"type":"object","properties":{"key":{"type":"string","description":"Description of this field is not available."},"descriptor":{"type":"string","maxLength":128,"description":"Format of the encrypted payment data."},"value":{"type":"string","maxLength":3072,"description":"The encrypted payment data value. If using Apple Pay or Samsung Pay, the values are:\n  - Apple Pay: RklEPUNPTU1PTi5BUFBMRS5JTkFQUC5QQVlNRU5U\n  - Samsung Pay: RklEPUNPTU1PTi5TQU1TVU5HLklOQVBQLlBBWU1FTlQ=\n"},"encoding":{"type":"string","maxLength":6,"description":"Encoding method used to encrypt the payment data.\n\nPossible value: Base64\n"}}},"customer":{"type":"object","properties":{"customerId":{"type":"string","maxLength":26,"description":"Unique identifier for the customer's card and billing information."}}}}},"orderInformation":{"type":"object","properties":{"amountDetails":{"type":"object","properties":{"totalAmount":{"type":"string","maxLength":19,"description":"Grand total for the order. You can include a decimal point (.), but no other special\ncharacters. CyberSource truncates the amount to the correct number of decimal places.\n\n* CTV, FDCCompass, Paymentech (<= 12)\n\nFor processor-specific information, see the grand_total_amount field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"currency":{"type":"string","maxLength":3,"description":"Currency used for the order. Use the three-character ISO Standard Currency Codes.\n\nFor an authorization reversal or a capture, you must use the same currency that you used in your request for Payment API.\n"},"discountAmount":{"type":"string","maxLength":15,"description":"Total discount amount applied to the order.\n\nFor processor-specific information, see the order_discount_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"dutyAmount":{"type":"string","maxLength":15,"description":"Total charges for any import or export duties included in the order.\n\nFor processor-specific information, see the duty_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"taxAmount":{"type":"string","maxLength":12,"description":"Total tax amount for all the items in the order.\n\nFor processor-specific information, see the total_tax_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"nationalTaxIncluded":{"type":"string","maxLength":1,"description":"Flag that indicates whether a national tax is included in the order total.\n\nPossible values:\n\n - **0**: national tax not included\n - **1**: national tax included\n\nFor processor-specific information, see the national_tax_indicator field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"taxAppliedAfterDiscount":{"type":"string","maxLength":1,"description":"Flag that indicates how the merchant manages discounts.\n\nPossible values:\n\n - **0**: no invoice level discount included\n - **1**: tax calculated on the postdiscount invoice total\n - **2**: tax calculated on the prediscount invoice total\n\nFor processor-specific information, see the order_discount_management_indicator field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"taxAppliedLevel":{"type":"string","maxLength":1,"description":"Flag that indicates how you calculate tax.\n\nPossible values:\n\n - **0**: net prices with tax calculated at line item level\n - **1**: net prices with tax calculated at invoice level\n - **2**: gross prices with tax provided at line item level\n - **3**: gross prices with tax provided at invoice level\n - **4**: no tax applies on the invoice for the transaction\n\nFor processor-specific information, see the tax_management_indicator field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"taxTypeCode":{"type":"string","maxLength":3,"description":"For tax amounts that can be categorized as one tax type.\n\nThis field contains the tax type code that corresponds to the entry in the _lineItems.taxAmount_ field.\n\nPossible values:\n\n - **056**: sales tax (U.S only)\n - **TX~**: all taxes (Canada only)   Note ~ = space.\n\nFor processor-specific information, see the total_tax_type_code field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"freightAmount":{"type":"string","maxLength":13,"description":"Total freight or shipping and handling charges for the order. When you include this field in your request, you\nmust also include the **totalAmount** field.\n\nFor processor-specific information, see the freight_amount field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"foreignAmount":{"type":"string","maxLength":15,"description":"Converted amount returned by the DCC service.\n\nFor processor-specific information, see the foreign_amount field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"foreignCurrency":{"type":"string","maxLength":5,"description":"Billing currency returned by the DCC service.\n\nFor processor-specific information, see the foreign_currency field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"exchangeRate":{"type":"string","maxLength":13,"description":"Exchange rate returned by the DCC service. Includes a decimal point and a maximum of 4 decimal places.\n\nFor processor-specific information, see the exchange_rate field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"exchangeRateTimeStamp":{"type":"string","maxLength":14,"description":"Time stamp for the exchange rate. This value is returned by the DCC service.\n\nFormat: `YYYYMMDD~HH:MM`  where ~ denotes a space.\n\nFor processor-specific information, see the exchange_rate_timestamp field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"surcharge":{"type":"object","properties":{"amount":{"type":"string","maxLength":15,"description":"The surcharge amount is included in the total transaction amount but is passed in a separate field to the issuer\nand acquirer for tracking. The issuer can provide information about the surcharge amount to the customer.\n\n- Applicable only for CTV for Payouts.\n- CTV (<= 08)\n\nFor processor-specific information, see the surcharge_amount field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"description":{"type":"string","description":"Description of this field is not available."}}},"settlementAmount":{"type":"string","maxLength":12,"description":"This is a multicurrency field. It contains the transaction amount (field 4), converted to the Currency used to bill the cardholder\u2019s account.\n"},"settlementCurrency":{"type":"string","maxLength":3,"description":"This is a multicurrency-only field. It contains a 3-digit numeric code that identifies the currency used by the issuer to bill the cardholder's account.\n"},"amexAdditionalAmounts":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","maxLength":3,"description":"Additional amount type. This field is supported only for **American Express Direct**.\n\nFor processor-specific information, see the additional_amount_type field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"amount":{"type":"string","maxLength":12,"description":"Additional amount. This field is supported only for **American Express Direct**.\n\nFor processor-specific information, see the additional_amount field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"}}}},"taxDetails":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"This is used to determine what type of tax related data should be inclued under _taxDetails_ object.\n","enum":["alternate","local","national","vat"]},"amount":{"type":"string","maxLength":13,"description":"Please see below table for related decription based on above _type_ field.\n\n| type      | amount description |\n|-----------|--------------------|\n| alternate | Total amount of alternate tax for the order. |\n| local     | Sales tax for the order. |\n| national  | National tax for the order. |\n| vat       | Total amount of VAT or other tax included in the order. |\n"},"rate":{"type":"string","maxLength":6,"description":"Rate of VAT or other tax for the order.\n\nExample 0.040 (=4%)\n\nValid range: 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional\ndecimal places will be truncated)\n"},"code":{"type":"string","maxLength":4,"description":"Type of tax being applied to the item. Possible values:\n\nBelow values are used by **RBS WorldPay Atlanta**, **FDC Nashville Global**, **Litle**\n\n - 0000: unknown tax type\n - 0001: federal/national sales tax\n - 0002: state sales tax\n - 0003: city sales tax\n - 0004: local sales tax\n - 0005: municipal sales tax\n - 0006: other tax\n - 0010: value-added tax\n - 0011: goods and services tax\n - 0012: provincial sales tax\n - 0013: harmonized sales tax\n - 0014: Quebec sales tax (QST)\n - 0020: room tax\n - 0021: occupancy tax\n - 0022: energy tax\n - Blank: Tax not supported on line item.\n"},"taxId":{"type":"string","maxLength":15,"description":"Your tax ID number to use for the alternate tax amount. Required if you set alternate tax amount to any value,\nincluding zero. You may send this field without sending alternate tax amount.\n"},"applied":{"type":"boolean","description":"The tax is applied. Valid value is `true` or `false`."}}}}}},"billTo":{"type":"object","properties":{"firstName":{"type":"string","maxLength":60,"description":"Customer\u2019s first name. This name must be the same as the name on the card.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the customer_firstname field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"lastName":{"type":"string","maxLength":60,"description":"Customer\u2019s last name. This name must be the same as the name on the card.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the customer_lastname field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"middleName":{"type":"string","maxLength":60,"description":"Customer\u2019s middle name.\n"},"nameSuffix":{"type":"string","maxLength":60,"description":"Customer\u2019s name suffix.\n"},"title":{"type":"string","maxLength":60,"description":"Title.\n"},"company":{"type":"string","maxLength":60,"description":"Name of the customer\u2019s company.\n\nFor processor-specific information, see the company_name field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"address1":{"type":"string","maxLength":60,"description":"First line of the billing street address as it appears on the credit card issuer\u2019s records.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the bill_address1 field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"address2":{"type":"string","maxLength":60,"description":"Additional address information.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the bill_address2 field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"locality":{"type":"string","maxLength":50,"description":"City of the billing address.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the bill_city field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"administrativeArea":{"type":"string","maxLength":2,"description":"State or province of the billing address. Use the State, Province, and Territory Codes for the United States\nand Canada.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the bill_state field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"postalCode":{"type":"string","maxLength":10,"description":"Postal code for the billing address. The postal code must consist of 5 to 9 digits.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\nExample 12345-6789\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\nExample A1B 2C3\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nFor processor-specific information, see the bill_zip field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"country":{"type":"string","maxLength":2,"description":"Country of the billing address. Use the two-character ISO Standard Country Codes.\n\nFor processor-specific information, see the bill_country field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"district":{"type":"string","maxLength":50,"description":"Customer\u2019s neighborhood, community, or region (a barrio in Brazil) within the city or municipality. This\nfield is available only on **Cielo**.\n"},"buildingNumber":{"type":"string","maxLength":256,"description":"Building number in the street address.\n\nThis field is supported only for:\n - Cielo transactions.\n - Redecard customer validation with CyberSource Latin American Processing.\n"},"email":{"type":"string","maxLength":255,"description":"Customer's email address, including the full domain name.\n\nFor processor-specific information, see the customer_email field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"phoneNumber":{"type":"string","maxLength":15,"description":"Customer\u2019s phone number.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nCyberSource recommends that you include the country code when the order is from outside the U.S.\n\nFor processor-specific information, see the customer_phone field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"phoneType":{"type":"string","enum":["day","home","night","work"],"description":"Customer's phone number type.\n\nFor Payouts: This field may be sent only for FDC Compass.\n\nPossible Values - \n* day\n* home\n* night\n* work\n"}}},"shipTo":{"type":"object","properties":{"firstName":{"type":"string","maxLength":60,"description":"First name of the recipient.\n\n**Processor specific maximum length**\n\n- Litle: 25\n- All other processors: 60\n"},"lastName":{"type":"string","maxLength":60,"description":"Last name of the recipient.\n\n**Processor specific maximum length**\n\n- Litle: 25\n- All other processors: 60\n"},"address1":{"type":"string","maxLength":60,"description":"First line of the shipping address."},"address2":{"type":"string","maxLength":60,"description":"Second line of the shipping address."},"locality":{"type":"string","maxLength":50,"description":"City of the shipping address."},"administrativeArea":{"type":"string","maxLength":2,"description":"State or province of the shipping address. Use the State, Province, and Territory Codes for the United States\nand Canada.\n"},"postalCode":{"type":"string","maxLength":10,"description":"Postal code for the shipping address. The postal code must consist of 5 to 9 digits.\n\nWhen the billing country is the U.S., the 9-digit postal code must follow this format:\n[5 digits][dash][4 digits]\n\nExample 12345-6789\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n[alpha][numeric][alpha][space][numeric][alpha][numeric]\n\nExample A1B 2C3\n"},"country":{"type":"string","maxLength":2,"description":"Country of the shipping address. Use the two character ISO Standard Country Codes."},"district":{"type":"string","maxLength":50,"description":"Neighborhood, community, or region within a city or municipality."},"buildingNumber":{"type":"string","maxLength":15,"description":"Building number in the street address. For example, the building number is 187 in the following address:\n\nRua da Quitanda 187\n"},"phoneNumber":{"type":"string","maxLength":15,"description":"Phone number for the shipping address."},"company":{"type":"string","maxLength":60,"description":"Name of the customer\u2019s company.\n\nFor processor-specific information, see the company_name field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"}}},"lineItems":{"type":"array","items":{"type":"object","properties":{"productCode":{"type":"string","maxLength":255,"description":"Type of product. This value is used to determine the category that the product is in: electronic, handling,\nphysical, service, or shipping. The default value is **default**.\n\nFor a payment, when you set this field to a value other than default or any of the values related to\nshipping and handling, below fields _quantity_, _productName_, and _productSKU_ are required.\n"},"productName":{"type":"string","maxLength":255,"description":"For PAYMENT and CAPTURE API, this field is required when above _productCode_ is not **default** or one of the\nvalues related to shipping and handling.\n"},"productSku":{"type":"string","maxLength":255,"description":"Identification code for the product. For PAYMENT and CAPTURE API, this field is required when above\n_productCode_ is not **default** or one of the values related to shipping and/or handling.\n"},"quantity":{"type":"number","minimum":1,"maximum":9999999999,"description":"For a payment or capture, this field is required when _productCode_ is not **default** or one of the values\nrelated to shipping and handling.\n","default":1},"unitPrice":{"type":"string","maxLength":15,"description":"Per-item price of the product. This value cannot be negative. You can include a decimal point (.), but you\ncannot include any other special characters. CyberSource truncates the amount to the correct number of decimal\nplaces.\n\nFor processor-specific information, see the amount field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"unitOfMeasure":{"type":"string","maxLength":12,"description":"Unit of measure, or unit of measure code, for the item.\n"},"totalAmount":{"type":"string","maxLength":13,"description":"Total amount for the item. Normally calculated as the unit price x quantity.\n"},"taxAmount":{"type":"string","maxLength":15,"description":"Total tax to apply to the product. This value cannot be negative. The tax amount and the offer amount must\nbe in the same currency. The tax amount field is additive.\n\nThe following example uses a two-exponent currency such as USD:\n\n 1. You include each line item in your request.\n ..- 1st line item has amount=10.00, quantity=1, and taxAmount=0.80\n ..- 2nd line item has amount=20.00, quantity=1, and taxAmount=1.60\n 2. The total amount authorized will be 32.40, not 30.00 with 2.40 of tax included.\n\nThis field is frequently used for Level II and Level III transactions.\n"},"taxRate":{"type":"string","maxLength":7,"description":"Tax rate applied to the item. See \"Numbered Elements,\" page 14.\n\nVisa: Valid range is 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional\ndecimal places will be truncated).\n\nMastercard: Valid range is 0.00001 to 0.99999 (0.001% to 99.999%).\n"},"taxAppliedAfterDiscount":{"type":"string","maxLength":1,"description":"Flag to indicate how you handle discount at the line item level.\n\n - 0: no line level discount provided\n - 1: tax was calculated on the post-discount line item total\n - 2: tax was calculated on the pre-discount line item total\n\n`Note` Visa will inset 0 (zero) if an invalid value is included in this field.\n\nThis field relates to the value in the _lineItems[].discountAmount_ field.\n"},"taxStatusIndicator":{"type":"string","maxLength":1,"description":"Flag to indicate whether tax is exempted or not included.\n\n - 0: tax not included\n - 1: tax included\n - 2: transaction is not subject to tax\n"},"taxTypeCode":{"type":"string","maxLength":4,"description":"Type of tax being applied to the item. Possible values:\n\nBelow values are used by **RBS WorldPay Atlanta**, **FDC Nashville Global**, **Litle**\n\n - 0000: unknown tax type\n - 0001: federal/national sales tax\n - 0002: state sales tax\n - 0003: city sales tax\n - 0004: local sales tax\n - 0005: municipal sales tax\n - 0006: other tax\n - 0010: value-added tax\n - 0011: goods and services tax\n - 0012: provincial sales tax\n - 0013: harmonized sales tax\n - 0014: Quebec sales tax (QST)\n - 0020: room tax\n - 0021: occupancy tax\n - 0022: energy tax\n - Blank: Tax not supported on line item.\n"},"amountIncludesTax":{"type":"boolean","description":"Flag that indicates whether the tax amount is included in the Line Item Total.\n","enum":[true,false]},"typeOfSupply":{"type":"string","maxLength":2,"description":"Flag to indicate whether the purchase is categorized as goods or services.\nPossible values:\n\n - 00: goods\n - 01: services\n"},"commodityCode":{"type":"string","maxLength":15,"description":"Commodity code or International description code used to classify the item. Contact your acquirer for a list of\ncodes.\n"},"discountAmount":{"type":"string","maxLength":13,"description":"Discount applied to the item."},"discountApplied":{"type":"boolean","description":"Flag that indicates whether the amount is discounted.\n\nIf you do not provide a value but you set Discount Amount to a value greater than zero, then CyberSource sets\nthis field to **true**.\n","enum":[true,false]},"discountRate":{"type":"string","maxLength":6,"description":"Rate the item is discounted. Maximum of 2 decimal places.\n\nExample 5.25 (=5.25%)\n"},"invoiceNumber":{"type":"string","maxLength":23,"description":"Field to support an invoice number for a transaction. You must specify the number of line items that will\ninclude an invoice number. By default, the first line item will include an invoice number field. The invoice\nnumber field can be included for up to 10 line items.\n"},"taxDetails":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","description":"This is used to determine what type of tax related data should be inclued under _taxDetails_ object.\n","enum":["alternate","local","national","vat"]},"amount":{"type":"string","maxLength":13,"description":"Please see below table for related decription based on above _type_ field.\n\n| type      | amount description |\n|-----------|--------------------|\n| alternate | Total amount of alternate tax for the order. |\n| local     | Sales tax for the order. |\n| national  | National tax for the order. |\n| vat       | Total amount of VAT or other tax included in the order. |\n"},"rate":{"type":"string","maxLength":6,"description":"Rate of VAT or other tax for the order.\n\nExample 0.040 (=4%)\n\nValid range: 0.01 to 0.99 (1% to 99%, with only whole percentage values accepted; values with additional\ndecimal places will be truncated)\n"},"code":{"type":"string","maxLength":4,"description":"Type of tax being applied to the item. Possible values:\n\nBelow values are used by **RBS WorldPay Atlanta**, **FDC Nashville Global**, **Litle**\n\n - 0000: unknown tax type\n - 0001: federal/national sales tax\n - 0002: state sales tax\n - 0003: city sales tax\n - 0004: local sales tax\n - 0005: municipal sales tax\n - 0006: other tax\n - 0010: value-added tax\n - 0011: goods and services tax\n - 0012: provincial sales tax\n - 0013: harmonized sales tax\n - 0014: Quebec sales tax (QST)\n - 0020: room tax\n - 0021: occupancy tax\n - 0022: energy tax\n - Blank: Tax not supported on line item.\n"},"taxId":{"type":"string","maxLength":15,"description":"Your tax ID number to use for the alternate tax amount. Required if you set alternate tax amount to any value,\nincluding zero. You may send this field without sending alternate tax amount.\n"},"applied":{"type":"boolean","description":"The tax is applied. Valid value is `true` or `false`."}}}},"fulfillmentType":{"type":"string","description":"TODO"}}}},"invoiceDetails":{"type":"object","properties":{"invoiceNumber":{"type":"string","description":"Invoice Number."},"barcodeNumber":{"type":"string","description":"Barcode Number."},"expirationDate":{"type":"string","description":"Expiration Date."},"purchaseOrderNumber":{"type":"string","maxLength":25,"description":"Value used by your customer to identify the order. This value is typically a purchase order number. CyberSource\nrecommends that you do not populate the field with all zeros or nines.\n\nFor processor-specific information, see the user_po field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"purchaseOrderDate":{"type":"string","maxLength":10,"description":"Date the order was processed. `Format: YYYY-MM-DD`.\n\nFor processor-specific information, see the purchaser_order_date field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"purchaseContactName":{"type":"string","maxLength":36,"description":"The name of the individual or the company contacted for company authorized purchases.\n\nFor processor-specific information, see the authorized_contact_name field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"taxable":{"type":"boolean","description":"Flag that indicates whether an order is taxable. This value must be true if the sum of all _lineItems[].taxAmount_ values > 0.\n\nIf you do not include any _lineItems[].taxAmount_ values in your request, CyberSource does not include\n_invoiceDetails.taxable_ in the data it sends to the processor.\n\nFor processor-specific information, see the tax_indicator field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n","enum":[true,false]},"vatInvoiceReferenceNumber":{"type":"string","maxLength":15,"description":"VAT invoice number associated with the transaction.\n\nFor processor-specific information, see the vat_invoice_ref_number field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"commodityCode":{"type":"string","maxLength":4,"description":"International description code of the overall order\u2019s goods or services or the Categorizes purchases for VAT\nreporting. Contact your acquirer for a list of codes.\n\nFor processor-specific information, see the summary_commodity_code field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"merchandiseCode":{"type":"number","description":"Identifier for the merchandise. Possible value:\n\n - 1000: Gift card\n\nThis field is supported only for **American Express Direct**.\n"},"transactionAdviceAddendum":{"type":"array","items":{"type":"object","properties":{"data":{"type":"string","maxLength":40,"description":"Four Transaction Advice Addendum (TAA) fields. These fields are used to display descriptive information\nabout a transaction on the customer\u2019s American Express card statement. When you send TAA fields, start\nwith amexdata_taa1, then ...taa2, and so on. Skipping a TAA field causes subsequent TAA fields to be\nignored.\n\nTo use these fields, contact CyberSource Customer Support to have your account enabled for this feature.\n"}}}}}},"shippingDetails":{"type":"object","properties":{"giftWrap":{"type":"boolean","description":"Description of this field is not available."},"shippingMethod":{"type":"string","maxLength":10,"description":"Shipping method for the product. Possible values:\n\n - lowcost: Lowest-cost service\n - sameday: Courier or same-day service\n - oneday: Next-day or overnight service\n - twoday: Two-day service\n - threeday: Three-day service\n - pickup: Store pick-up\n - other: Other shipping method\n - none: No shipping method because product is a service or subscription\n"},"shipFromPostalCode":{"type":"string","maxLength":10,"description":"Postal code for the address from which the goods are shipped, which is used to establish nexus. The default is\nthe postal code associated with your CyberSource account.\n\nThe postal code must consist of 5 to 9 digits. When the billing country is the U.S., the 9-digit postal code\nmust follow this format:\n\n`[5 digits][dash][4 digits]`\n\nExample 12345-6789\n\nWhen the billing country is Canada, the 6-digit postal code must follow this format:\n\n`[alpha][numeric][alpha][space] [numeric][alpha][numeric]`\n\nExample A1B 2C3\n\nThis field is frequently used for Level II and Level III transactions.\n"}}}}},"buyerInformation":{"type":"object","properties":{"merchantCustomerId":{"type":"string","maxLength":100,"description":"Your identifier for the customer.\n\nFor processor-specific information, see the customer_account_id field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"dateOfBirth":{"type":"string","maxLength":8,"description":"Recipient\u2019s date of birth. **Format**: `YYYYMMDD`.\n\nThis field is a pass-through, which means that CyberSource ensures that the value is eight numeric characters\nbut otherwise does not verify the value or modify it in any way before sending it to the processor. If the field\nis not required for the transaction, CyberSource does not forward it to the processor.\n"},"vatRegistrationNumber":{"type":"string","maxLength":20,"description":"Customer\u2019s government-assigned tax identification number.\n\nFor processor-specific information, see the purchaser_vat_registration_number field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"personalIdentification":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","enum":["ssn","driverlicense"]},"id":{"type":"string","maxLength":26,"description":"Personal Identifier for the customer based on various type. This field is supported only on the processors\nlisted in this description.\n\nFor processor-specific information, see the personal_id field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"issuedBy":{"type":"string","description":"Description of this field is not available."}}}},"hashedPassword":{"type":"string","maxLength":100,"description":"TODO\n"}}},"recipientInformation":{"type":"object","properties":{"accountId":{"type":"string","maxLength":10,"description":"Identifier for the recipient\u2019s account. Use the first six digits and last four digits of the recipient\u2019s account\nnumber. This field is a pass-through, which means that CyberSource does not verify the value or modify it in\nany way before sending it to the processor. If the field is not required for the transaction, CyberSource does\nnot forward it to the processor.\n"},"lastName":{"type":"string","maxLength":6,"description":"Recipient\u2019s last name. This field is a passthrough, which means that CyberSource does not verify the value or\nmodify it in any way before sending it to the processor. If the field is not required for the transaction,\nCyberSource does not forward it to the processor.\n"},"postalCode":{"type":"string","maxLength":6,"description":"Partial postal code for the recipient\u2019s address. For example, if the postal code is **NN5 7SG**, the value for\nthis  field should be the first part of the postal code: **NN5**. This field is a pass-through, which means that\nCyberSource does not verify the value or modify it in any way before sending it to the processor. If the field\nis not required for the transaction, CyberSource does not forward it to the processor.\n"}}},"deviceInformation":{"type":"object","properties":{"hostName":{"type":"string","maxLength":60,"description":"DNS resolved hostname from above _ipAddress_."},"ipAddress":{"type":"string","maxLength":15,"description":"IP address of the customer."},"userAgent":{"type":"string","maxLength":40,"description":"Customer\u2019s browser as identified from the HTTP header data. For example, Mozilla is the value that identifies\nthe Netscape browser.\n"}}},"merchantInformation":{"type":"object","properties":{"merchantDescriptor":{"type":"object","properties":{"name":{"type":"string","maxLength":23,"description":"For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n\nFor Payouts:\n* Paymentech (22)\n"},"alternateName":{"type":"string","maxLength":13,"description":"For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"contact":{"type":"string","maxLength":14,"description":"For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n* FDCCompass (13)\n* Paymentech (13)\n"},"address1":{"type":"string","maxLength":60,"description":"For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"locality":{"type":"string","maxLength":13,"description":"Merchant City. For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"country":{"type":"string","maxLength":2,"description":"For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"postalCode":{"type":"string","maxLength":14,"description":"For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"administrativeArea":{"type":"string","maxLength":3,"description":"Merchant State. For the descriptions, used-by information, data types, and lengths for these fields, see Merchant Descriptors\nin [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"}}},"salesOrganizationId":{"type":"string","maxLength":11,"description":"Company ID assigned to an independent sales organization. Get this value from Mastercard.\n\nFor processor-specific information, see the sales_organization_ID field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"categoryCode":{"type":"integer","maximum":9999,"description":"Four-digit number that the payment card industry uses to classify merchants into market segments. Visa assigned\none or more of these values to your business when you started accepting Visa cards.\n\nIf you do not include this field in your request, CyberSource uses the value in your CyberSource account.\n\nFor processor-specific information, see the merchant_category_code field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"vatRegistrationNumber":{"type":"string","maxLength":21,"description":"Your government-assigned tax identification number.\n\nFor CtV processors, the maximum length is 20.\n\nFor other processor-specific information, see the merchant_vat_registration_number field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"cardAcceptorReferenceNumber":{"type":"string","maxLength":25,"description":"Reference number that facilitates card acceptor/corporation communication and record keeping.\n\nFor processor-specific information, see the card_acceptor_ref_number field in\n[Level II and Level III Processing Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/Level_2_3_SCMP_API/html)\n"},"transactionLocalDateTime":{"type":"string","maxLength":14,"description":"Local date and time at your physical location. Include both the date and time in this field or leave it blank.\nThis field is supported only for **CyberSource through VisaNet**.\n\nFor processor-specific information, see the transaction_local_date_time field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n\n`Format: YYYYMMDDhhmmss`, where:\n\n - YYYY = year\n - MM = month\n - DD = day\n - hh = hour\n - mm = minutes\n - ss = seconds\n"}}},"aggregatorInformation":{"type":"object","properties":{"aggregatorId":{"type":"string","maxLength":20,"description":"Value that identifies you as a payment aggregator. Get this value from the\nprocessor.\n\nFor processor-specific information, see the aggregator_id field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"name":{"type":"string","maxLength":37,"description":"Your payment aggregator business name.\n\nFor processor-specific information, see the aggregator_name field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"},"subMerchant":{"type":"object","properties":{"cardAcceptorId":{"type":"string","maxLength":15,"description":"Unique identifier assigned by the payment card company to the sub-merchant."},"name":{"type":"string","maxLength":37,"description":"Sub-merchant\u2019s business name."},"address1":{"type":"string","maxLength":38,"description":"First line of the sub-merchant\u2019s street address."},"locality":{"type":"string","maxLength":21,"description":"Sub-merchant\u2019s city."},"administrativeArea":{"type":"string","maxLength":3,"description":"Sub-merchant\u2019s state or province. Use the State, Province, and Territory Codes for the United States and Canada.\n"},"region":{"type":"string","maxLength":3,"description":"Sub-merchant\u2019s region. Example `NE` indicates that the sub-merchant is in the northeast region."},"postalCode":{"type":"string","maxLength":15,"description":"Partial postal code for the sub-merchant\u2019s address."},"country":{"type":"string","maxLength":3,"description":"Sub-merchant\u2019s country. Use the two-character ISO Standard Country Codes."},"email":{"type":"string","maxLength":40,"description":"Sub-merchant\u2019s email address.\n\n**Maximum length for processors**\n\n - American Express Direct: 40\n - CyberSource through VisaNet: 40\n - FDC Compass: 40\n - FDC Nashville Global: 19\n"},"phoneNumber":{"type":"string","maxLength":20,"description":"Sub-merchant\u2019s telephone number.\n\n**Maximum length for procesors**\n\n - American Express Direct: 20\n - CyberSource through VisaNet: 20\n - FDC Compass: 13\n - FDC Nashville Global: 10\n"}}}}},"consumerAuthenticationInformation":{"type":"object","properties":{"cavv":{"type":"string","maxLength":40,"description":"Cardholder authentication verification value (CAVV)."},"cavvAlgorithm":{"type":"string","maxLength":1,"description":"Algorithm used to generate the CAVV for Verified by Visa or the UCAF authentication\ndata for Mastercard SecureCode.\n"},"eciRaw":{"type":"string","maxLength":2,"description":"Raw electronic commerce indicator (ECI)."},"paresStatus":{"type":"string","maxLength":1,"description":"Payer authentication response status."},"veresEnrolled":{"type":"string","maxLength":1,"description":"Verification response enrollment status."},"xid":{"type":"string","maxLength":40,"description":"Transaction identifier."},"ucafAuthenticationData":{"type":"string","maxLength":32,"description":"Universal cardholder authentication field (UCAF) data."},"ucafCollectionIndicator":{"type":"string","maxLength":1,"description":"Universal cardholder authentication field (UCAF) collection indicator."}}},"pointOfSaleInformation":{"type":"object","properties":{"terminalId":{"type":"string","maxLength":8,"description":"Identifier for the terminal at your retail location. You can define this value yourself, but consult the\nprocessor for requirements.\n\nFor Payouts: This field is applicable for CtV.\n"},"terminalSerialNumber":{"type":"string","description":"Description of this field is not available."},"laneNumber":{"type":"string","maxLength":8,"description":"Identifier for an alternate terminal at your retail location. You define the value for this field.\n\nThis field is supported only for MasterCard transactions on FDC Nashville Global. Use the _terminalID_ field to\nidentify the main terminal at your retail location. If your retail location has multiple terminals, use this\n_alternateTerminalID_ field to identify the terminal used for the transaction.\n\nThis field is a pass-through, which means that CyberSource does not check the value or modify the value in any\nway before sending it to the processor.\n"},"cardPresent":{"type":"boolean","description":"Indicates whether the card is present at the time of the transaction. Possible values:\n\n - **true**: Card is present.\n - **false**: Card is not present.\n"},"catLevel":{"type":"integer","minimum":1,"maximum":9,"description":"Type of cardholder-activated terminal. Possible values:\n\n - 1: Automated dispensing machine\n - 2: Self-service terminal\n - 3: Limited amount terminal\n - 4: In-flight commerce (IFC) terminal\n - 5: Radio frequency device\n - 6: Mobile acceptance terminal\n - 7: Electronic cash register\n - 8: E-commerce device at your location\n - 9: Terminal or cash register that uses a dialup connection to connect to the transaction processing network\n * Applicable only for CTV for Payouts.\n"},"entryMode":{"type":"string","maxLength":11,"description":"Method of entering credit card information into the POS terminal. Possible values:\n\n - contact: Read from direct contact with chip card.\n - contactless: Read from a contactless interface using chip data.\n - keyed: Manually keyed into POS terminal.\n - msd: Read from a contactless interface using magnetic stripe data (MSD).\n - swiped: Read from credit card magnetic stripe.\n\nThe contact, contactless, and msd values are supported only for EMV transactions.\n* Applicable only for CTV for Payouts.\n"},"terminalCapability":{"type":"integer","minimum":1,"maximum":5,"description":"POS terminal\u2019s capability. Possible values:\n\n - 1: Terminal has a magnetic stripe reader only.\n - 2: Terminal has a magnetic stripe reader and manual entry capability.\n - 3: Terminal has manual entry capability only.\n - 4: Terminal can read chip cards.\n - 5: Terminal can read contactless chip cards.\n\nThe values of 4 and 5 are supported only for EMV transactions.\n* Applicable only for CTV for Payouts.  \n"},"pinEntryCapability":{"type":"integer","minimum":1,"maximum":1,"description":"A one-digit code that identifies the capability of terminal to capture PINs. \nThis code does not necessarily mean that a PIN was entered or is included in this message. \nFor Payouts: This field is applicable for CtV.\n"},"operatingEnvironment":{"type":"string","maxLength":1,"description":"Operating environment. Possible values:\n\n - 0: No terminal used or unknown environment.\n - 1: On merchant premises, attended.\n - 2: On merchant premises, unattended, or cardholder terminal. Examples: oil, kiosks, self-checkout, home\n      computer, mobile telephone, personal digital assistant (PDA). Cardholder terminal is supported only for\n      MasterCard transactions on **CyberSource through VisaNet**.\n - 3: Off merchant premises, attended. Examples: portable POS devices at trade shows, at service calls, or in\n      taxis.\n - 4: Off merchant premises, unattended, or cardholder terminal. Examples: vending machines, home computer,\n      mobile telephone, PDA. Cardholder terminal is supported only for MasterCard transactions on **CyberSource\n      through VisaNet**.\n - 5: On premises of cardholder, unattended.\n - 9: Unknown delivery mode.\n - S: Electronic delivery of product. Examples: music, software, or eTickets that are downloaded over the\n      internet.\n - T: Physical delivery of product. Examples: music or software that is delivered by mail or by a courier.\n\nThis field is supported only for **American Express Direct** and **CyberSource through VisaNet**.\n\n**CyberSource through VisaNet**\n\nFor MasterCard transactions, the only valid values are 2 and 4.\n"},"emv":{"type":"object","properties":{"tags":{"type":"string","maxLength":1998,"description":"EMV data that is transmitted from the chip card to the issuer, and from the issuer to the chip card. The EMV\ndata is in the tag-length-value format and includes chip card tags, terminal tags, and transaction detail tags.\n\n`Important` The following tags contain sensitive information and **must not** be included in this field:\n\n - **56**: Track 1 equivalent data\n - **57**: Track 2 equivalent data\n - **5A**: Application PAN\n - **5F20**: Cardholder name\n - **5F24**: Application expiration date (This sensitivity has been relaxed for cmcic, amexdirect, fdiglobal, opdfde, six)\n - **99**: Transaction PIN\n - **9F0B**: Cardholder name (extended)\n - **9F1F**: Track 1 discretionary data\n - **9F20**: Track 2 discretionary data\n\nFor captures, this field is required for contact EMV transactions. Otherwise, it is optional.\n\nFor credits, this field is required for contact EMV stand-alone credits and contactless EMV stand-alone credits.\nOtherwise, it is optional.\n\n`Important` For contact EMV captures, contact EMV stand-alone credits, and contactless EMV stand-alone credits,\nyou must include the following tags in this field. For all other types of EMV transactions, the following tags\nare optional.\n\n - **95**: Terminal verification results\n - **9F10**: Issuer application data\n - **9F26**: Application cryptogram\n"},"cardholderVerificationMethod":{"type":"number","description":"Method that was used to verify the cardholder's identity. Possible values:\n\n - **0**: No verification\n - **1**: Signature\n\nThis field is supported only on **American Express Direct**.\n"},"cardSequenceNumber":{"type":"string","maxLength":3,"description":"Number assigned to a specific card when two or more cards are associated with the same primary account number.\nThis value enables issuers to distinguish among multiple cards that are linked to the same account. This value\ncan also act as a tracking tool when reissuing cards. When this value is available, it is provided by the chip\nreader. When the chip reader does not provide this value, do not include this field in your request.\n"},"fallback":{"type":"boolean","maxLength":5,"description":"Indicates whether a fallback method was used to enter credit card information into the POS terminal. When a\ntechnical problem prevents a successful exchange of information between a chip card and a chip-capable terminal:\n\n 1. Swipe the card or key the credit card information into the POS terminal.\n 2. Use the pos_entry_mode field to indicate whether the information was swiped or keyed.\n\nThis field is supported only on **Chase Paymentech Solutions** and **GPN**.\n","enum":[true,false],"default":false},"fallbackCondition":{"type":"number","description":"Reason for the EMV fallback transaction. An EMV fallback transaction occurs when an EMV transaction fails for\none of these reasons:\n\n - Technical failure: the EMV terminal or EMV card cannot read and process chip data.\n - Empty candidate list failure: the EMV terminal does not have any applications in common with the EMV card.\n   EMV terminals are coded to determine whether the terminal and EMV card have any applications in common.\n   EMV terminals provide this information to you.\n\nPossible values:\n\n - **1**: Transaction was initiated with information from a magnetic stripe, and the previous transaction at the\n      EMV terminal either used information from a successful chip read or it was not a chip transaction.\n - **2**: Transaction was initiated with information from a magnetic stripe, and the previous transaction at the\n      EMV terminal was an EMV fallback transaction because the attempted chip read was unsuccessful.\n\nThis field is supported only on **GPN**.\n"}}},"amexCapnData":{"type":"string","maxLength":12,"description":"Point-of-sale details for the transaction. This value is returned only for **American Express Direct**.\nCyberSource generates this value, which consists of a series of codes that identify terminal capability,\nsecurity data, and specific conditions present at the time the transaction occurred. To comply with the CAPN\nrequirements, this  value must be included in all subsequent follow-on requests, such as captures and follow-on\ncredits.\n\nWhen you perform authorizations, captures, and credits through CyberSource, CyberSource passes this value from\nthe authorization service to the subsequent services for you. However, when you perform authorizations through\nCyberSource and perform subsequent services through other financial institutions, you must ensure that your\nrequests for captures and credits include this value.\n"},"trackData":{"type":"string","description":"Card\u2019s track 1 and 2 data. For all processors except FDMS Nashville, this value consists of\none of the following:\n\n - Track 1 data\n - Track 2 data\n - Data for both tracks 1 and 2\n\nFor FDMS Nashville, this value consists of one of the following:\n - Track 1 data\n - Data for both tracks 1 and 2\n\nExample: %B4111111111111111^SMITH/JOHN ^1612101976110000868000000?;4111111111111111=16121019761186800000?\n"}}},"merchantDefinedInformation":{"type":"array","description":"Description of this field is not available.","items":{"type":"object","properties":{"key":{"type":"string","maxLength":50,"description":"Description of this field is not available."},"value":{"type":"string","maxLength":255,"description":"Description of this field is not available."}}}}},"example":{"clientReferenceInformation":{"code":"TC50171_3"},"processingInformation":{"commerceIndicator":"internet"},"aggregatorInformation":{"subMerchant":{"cardAcceptorId":"1234567890","country":"US","phoneNumber":"650-432-0000","address1":"900 Metro Center","postalCode":"94404-2775","locality":"Foster City","name":"Visa Inc","administrativeArea":"CA","region":"PEN","email":"test@cybs.com"},"name":"V-Internatio","aggregatorId":"123456789"},"orderInformation":{"billTo":{"country":"US","lastName":"Doe","address2":"Address 2","address1":"201 S. Division St.","postalCode":"48104-2201","locality":"Ann Arbor","administrativeArea":"MI","firstName":"John","phoneNumber":"999999999","district":"MI","buildingNumber":"123","company":"Visa","email":"test@cybs.com"},"amountDetails":{"totalAmount":"102.21","currency":"USD"}},"paymentInformation":{"card":{"expirationYear":"2031","number":"5555555555554444","securityCode":"123","expirationMonth":"12","type":"002"}}}}}],"responses":{"201":{"description":"Successful response.","schema":{"type":"object","title":"ptsV2PaymentsPost201Response","properties":{"_links":{"type":"object","properties":{"self":{"type":"object","properties":{"href":{"type":"string","description":"URL"},"method":{"type":"string","description":"HTTP method applied to above URL"}}},"reversal":{"type":"object","properties":{"href":{"type":"string","description":"URL"},"method":{"type":"string","description":"HTTP method applied to above URL"}}},"capture":{"type":"object","properties":{"href":{"type":"string","description":"URL"},"method":{"type":"string","description":"HTTP method applied to above URL"}}}}},"id":{"type":"string","maxLength":26,"description":"An unique identification number assigned by CyberSource to identify the submitted request."},"submitTimeUtc":{"type":"string","description":"Time of request in UTC. `Format: YYYY-MM-DDThh:mm:ssZ`\n\nExample 2016-08-11T22:47:57Z equals August 11, 2016, at 22:47:57 (10:47:57 p.m.). The T separates the date and the\ntime. The Z indicates UTC.\n"},"status":{"type":"string","description":"The status of the submitted transaction.","enum":["AUTHORIZED","PARTIAL_AUTHORIZED","AUTHORIZED_PENDING_REVIEW","DECLINED"]},"reconciliationId":{"type":"string","maxLength":60,"description":"The reconciliation id for the submitted transaction. This value is not returned for all processors.\n"},"errorInformation":{"type":"object","properties":{"reason":{"type":"string","description":"The reason of the status.\n","enum":["AVS_FAILED","CONTACT_PROCESSOR","CV_FAILED","EXPIRED_CARD","PROCESSOR_DECLINED","INSUFFICIENT_FUND","STOLEN_LOST_CARD","ISSUER_UNAVAILABLE","UNAUTHORIZED_CARD","CVN_NOT_MATCH","EXCEEDS_CREDIT_LIMIT","INVALID_CVN","PAYMENT_REFUSED","INVALID_ACCOUNT","GENERAL_DECLINE"]},"message":{"type":"string","description":"The detail message related to the status and reason listed above."},"details":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","description":"This is the flattened JSON object field name/path that is either missing or invalid."},"reason":{"type":"string","description":"Possible reasons for the error.\n","enum":["MISSING_FIELD","INVALID_DATA"]}}}}}},"clientReferenceInformation":{"type":"object","properties":{"code":{"type":"string","maxLength":50,"description":"Client-generated order reference or tracking number. CyberSource recommends that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n"}}},"processorInformation":{"type":"object","properties":{"approvalCode":{"type":"string","description":"Authorization code. Returned only when the processor returns this value.\n"},"transactionId":{"type":"string","maxLength":50,"description":"Network transaction identifier (TID). You can use this value to identify a specific transaction when you are\ndiscussing the transaction with your processor. Not all processors provide this  value.\n"},"networkTransactionId":{"type":"string","description":"Description of this field is not available."},"providerTransactionId":{"type":"string","description":"Description of this field is not available."},"responseCode":{"type":"string","maxLength":10,"description":"For most processors, this is the error message sent directly from the bank. Returned only when the processor\nreturns this value.\n\nImportant Do not use this field to evaluate the result of the authorization.\n"},"responseCodeSource":{"type":"string","maxLength":1,"description":"Used by Visa only and contains the response source/reason code that identifies the source of the response decision.\n"},"responseDetails":{"type":"string","maxLength":255,"description":"This field might contain information about a decline. This field is supported only for **CyberSource through\nVisaNet**.\n"},"responseCategoryCode":{"type":"string","maxLength":32,"description":"Processor-defined response category code. The associated detail error code is in the auth_auth_response\nfield or the auth_reversal_auth_ response field depending on which service you requested.\n\nThis field is supported only for:\n\n - Japanese issuers\n - Domestic transactions in Japan\n - Comercio Latino\u2014processor transaction ID required for troubleshooting\n\n**Maximum length for processors**:\n\n - Comercio Latino: 32\n - All other processors: 3\n"},"forwardedAcquirerCode":{"type":"string","maxLength":32,"description":"Name of the Japanese acquirer that processed the transaction. Returned only for CCS (CAFIS) and JCN Gateway.\nPlease contact the CyberSource Japan Support Group for more information.\n"},"avs":{"type":"object","properties":{"code":{"type":"string","maxLength":1,"description":"AVS result code.\n"},"codeRaw":{"type":"string","maxLength":10,"description":"AVS result code sent directly from the processor. Returned only when the processor returns this value.\nImportant Do not use this field to evaluate the result of AVS. Use for debugging purposes only.\n"}}},"cardVerification":{"type":"object","properties":{"resultCode":{"type":"string","maxLength":1,"description":"CVN result code.\n"},"resultCodeRaw":{"type":"string","maxLength":10,"description":"CVN result code sent directly from the processor. Returned only when the processor returns this value.\n\n`Important` Do not use this field to evaluate the result of card verification. Use for debugging purposes only.\n"}}},"merchantAdvice":{"type":"object","properties":{"code":{"type":"string","maxLength":2,"description":"Reason the recurring payment transaction was declined. For some processors, this field is used only for\nMastercard. For other processors, this field is used for Visa and Mastercard. And for other processors, this\nfield is not implemented.\n\nPossible values:\n\n - **00**: Response not provided.\n - **01**: New account information is available. Obtain the new information.\n - **02**: Try again later.\n - **03**: Do not try again. Obtain another type of payment from the customer.\n - **04**: Problem with a token or a partial shipment indicator.\n - **21**: Recurring payment cancellation service.\n - **99**: An unknown value was returned from the processor.\n"},"codeRaw":{"type":"string","maxLength":2,"description":"Raw merchant advice code sent directly from the processor. This field is used only for Mastercard.\n\nFor processor-specific information, see the auth_merchant_advice_code_raw field in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"}}},"electronicVerificationResults":{"type":"object","properties":{"code":{"type":"string","maxLength":1,"description":"Mapped Electronic Verification response code for the customer\u2019s name.\n"},"codeRaw":{"type":"string","maxLength":1,"description":"Raw Electronic Verification response code from the processor for the customer\u2019s last name"},"email":{"type":"string","maxLength":1,"description":"Mapped Electronic Verification response code for the customer\u2019s email address.\n"},"emailRaw":{"type":"string","maxLength":1,"description":"Raw Electronic Verification response code from the processor for the customer\u2019s email address."},"phoneNumber":{"type":"string","maxLength":1,"description":"Mapped Electronic Verification response code for the customer\u2019s phone number.\n"},"phoneNumberRaw":{"type":"string","maxLength":1,"description":"Raw Electronic Verification response code from the processor for the customer\u2019s phone number."},"postalCode":{"type":"string","maxLength":1,"description":"Mapped Electronic Verification response code for the customer\u2019s postal code.\n"},"postalCodeRaw":{"type":"string","maxLength":1,"description":"Raw Electronic Verification response code from the processor for the customer\u2019s postal code."},"street":{"type":"string","maxLength":1,"description":"Mapped Electronic Verification response code for the customer\u2019s street address.\n"},"streetRaw":{"type":"string","maxLength":1,"description":"Raw Electronic Verification response code from the processor for the customer\u2019s street address."},"name":{"type":"string","maxLength":30,"description":"TODO\n"},"nameRaw":{"type":"string","maxLength":30,"description":"TODO"}}},"customer":{"type":"object","properties":{"personalIdResult":{"type":"string","maxLength":1,"description":"Personal identifier result. This field is supported only for Redecard in Brazil for CyberSource Latin\nAmerican Processing. If you included _buyerInformation.personalIdentification[].ID_ in the request, this\nvalue indicates whether or not _buyerInformation.personalIdentification[].ID_ matched a value in a record\non file. Returned only when the personal ID result is returned by the processor.\n\nPossible values:\n\n - **Y**: Match\n - **N**: No match\n - **K**: Not supported\n - **U**: Unknown\n - **Z**: No response returned\n"}}},"consumerAuthenticationResponse":{"type":"object","properties":{"code":{"type":"string","maxLength":3,"description":"Mapped response code for Verified by Visa and American Express SafeKey:\n"},"codeRaw":{"type":"string","maxLength":3,"description":"Raw response code sent directly from the processor for Verified by Visa and American Express SafeKey:\n"}}},"issuer":{"type":"object","properties":{"country":{"type":"string","maxLength":3,"description":"Country in which the card was issued. This information enables you to determine whether the card was issued\ndomestically or internationally. Use the two-character ISO Standard Country Codes.\n\nThis field is supported for Visa, Mastercard, Discover, Diners Club, JCB, and Maestro (International) on Chase\nPaymentech Solutions.\n"},"discretionaryData":{"type":"string","maxLength":255,"description":"Data defined by the issuer. The value for this reply field will probably be the same as the value that you\nsubmitted in the authorization request, but it is possible for the processor, issuer, or acquirer to modify\nthe value.\n\nThis field is supported only for Visa transactions on **CyberSource through VisaNet**.\n"}}},"systemTraceAuditNumber":{"type":"string","maxLength":6,"description":"This field is returned only for **American Express Direct** and **CyberSource through VisaNet**.\n\n**American Express Direct**\n\nSystem trace audit number (STAN). This value identifies the transaction and is useful when investigating a\nchargeback dispute.\n\n**CyberSource through VisaNet**\n\nSystem trace number that must be printed on the customer\u2019s receipt.\n"},"paymentAccountReferenceNumber":{"type":"string","maxLength":32,"description":"Visa-generated reference number that identifies a card-present transaction for which youprovided one of the\nfollowing:\n\n - Visa primary account number (PAN)\n - Visa-generated token for a PAN\n\nThis reference number serves as a link to the cardholder account and to all transactions for that account.\n"},"transactionIntegrityCode":{"type":"string","maxLength":2,"description":"Transaction integrity classification provided by Mastercard. This value specifies Mastercard\u2019s evaluation of\nthe transaction\u2019s safety and security. This field is returned only for **CyberSource through VisaNet**.\n\nFor card-present transactions, possible values:\n\n - **A1**: EMV or token in a secure, trusted environment\n - **B1**: EMV or chip equivalent\n - **C1**: Magnetic stripe\n - **E1**: Key entered\n - **U0**: Unclassified\n\nFor card-not-present transactions, possible values:\n\n - **A2**: Digital transactions\n - **B2**: Authenticated checkout\n - **C2**: Transaction validation\n - **D2**: Enhanced data\n - **E2**: Generic messaging\n - **U0**: Unclassified\n\nFor information about these values, contact Mastercard or your acquirer.\n"},"amexVerbalAuthReferenceNumber":{"type":"string","maxLength":6,"description":"Referral response number for a verbal authorization with FDMS Nashville when using an American Express card.\nGive this number to American Express when you call them for the verbal authorization.\n"},"salesSlipNumber":{"type":"number","maximum":99999,"description":"Transaction identifier that CyberSource generates. You have the option of printing the sales slip number on\nthe receipt.\n\nThis field is supported only for **JCN Gateway**.\n"},"masterCardServiceCode":{"type":"string","maxLength":2,"description":"Mastercard service that was used for the transaction. Mastercard provides this value to CyberSource.\n\nPossible value:\n - 53: Mastercard card-on-file token service\n"},"masterCardServiceReplyCode":{"type":"string","maxLength":1,"description":"Result of the Mastercard card-on-file token service. Mastercard provides this value to CyberSource.\n\nPossible values:\n\n - **C**: Service completed successfully.\n - **F**: One of the following:\n   - Incorrect Mastercard POS entry mode. The Mastercard POS entry mode should be 81 for an authorization or\n     authorization reversal.\n   - Incorrect Mastercard POS entry mode. The Mastercard POS entry mode should be 01 for a tokenized request.\n   - Token requestor ID is missing or formatted incorrectly.\n - **I**: One of the following:\n   - Invalid token requestor ID.\n   - Suspended or deactivated token.\n   - Invalid token (not in mapping table).\n - **T**: Invalid combination of token requestor ID and token.\n - **U**: Expired token.\n - **W**: Primary account number (PAN) listed in electronic warning bulletin.\n\nNote This field is returned only for **CyberSource through VisaNet**.\n"},"masterCardAuthenticationType":{"type":"string","maxLength":1,"description":"Type of authentication for which the transaction qualifies as determined by the Mastercard authentication\nservice, which confirms the identity of the cardholder. Mastercard provides this value to CyberSource.\n\nPossible values:\n\n - **1**: Transaction qualifies for Mastercard authentication type 1.\n - **2**: Transaction qualifies for Mastercard authentication type 2.\n"},"name":{"type":"string","maxLength":30,"description":"Name of the Processor.\n"}}},"paymentInformation":{"type":"object","properties":{"card":{"type":"object","properties":{"suffix":{"type":"string","maxLength":4,"description":"Last four digits of the cardholder\u2019s account number. This field is ret
[...]
