{
    "swagger": "2.0",
    "info": {
        "description": "All CyberSource API specs merged together. These are available at https://developer.cybersource.com/api/reference/api-reference.html",
        "version": "0.0.1",
        "title": "CyberSource Merged Spec"
    },
    "host": "apitest.cybersource.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "consumes": [
        "application/json;charset=utf-8"
    ],
    "produces": [
        "application/hal+json;charset=utf-8"
    ],
    "tags": [
        {
            "name": "Flex API"
        },
        {
            "name": "payments",
            "description": "A payment authorizes the amount for the transaction. There are a number of supported payment\ninstruments, such as Credit Card, Debit Card, e-Wallet, and Alternative Payments. A payment\nresponse includes the status of the request. It also includes processor-specific information\nwhen the request is successful and errors if unsuccessful.\n"
        },
        {
            "name": "capture",
            "description": "When you are ready to fulfill a customer\u2019s order and transfer funds from the customer\u2019s\nbank to your bank, capture the payment for that order.\n"
        },
        {
            "name": "reversal",
            "description": "An authorization reversal releases the hold that the payment placed on the customer\u2019s funds."
        },
        {
            "name": "refund",
            "description": "A refund is a follow-on transaction that uses the ID returned from either a payment or capture request.\n"
        },
        {
            "name": "credit",
            "description": "A credit is a stand-alone transaction that is not linked to any previous transactions. It takes money from\nyour merchant bank account and returns it to the customer.\n"
        },
        {
            "name": "void",
            "description": "A void cancels a payment or capture. A transaction can be voided only when CyberSource has not already\nsubmitted the capture to your processor. You cannot undo a void.\n"
        },
        {
            "name": "TransactionBatches",
            "description": "Get a list of batch files or details of Individual file processed through the Offline Transaction Submission Services.\n"
        },
        {
            "name": "Payouts",
            "description": "A payout enables an originator to send funds on behalf of itself, merchants, or customers to credit card\naccounts using an Original Credit Transaction (OCT). An originator is a merchant, government entity, or\ncorporation with a merchant account from an acquiring bank.\n"
        },
        {
            "name": "Report Downloads",
            "description": "API for creation and retrieval of Reports"
        },
        {
            "name": "Reports",
            "description": "API for creation and retrieval of Reports"
        },
        {
            "name": "Report Definitions",
            "description": "Get report definition information"
        },
        {
            "name": "Report Subscriptions",
            "description": "API for creation and retrieval of Report Subscriptions"
        },
        {
            "name": "Notification Of Changes",
            "description": "API for Notification Of Change"
        },
        {
            "name": "Purchase And Refund Details",
            "description": "API for Purchase and Refund Details"
        },
        {
            "name": "Payment Batch Summaries",
            "description": "API for payment batch summary reports"
        },
        {
            "name": "Net Fundings",
            "description": "API for retrieving the netfunding data for an account or a merchant"
        },
        {
            "name": "Conversion Details",
            "description": "API for retrieving conversion data for merchant"
        },
        {
            "name": "Download DTD",
            "description": "API to download report DTDs"
        },
        {
            "name": "Download XSD",
            "description": "API to download report XSDs"
        },
        {
            "name": "decision manager",
            "description": "REST API for the Decision Manager Service"
        },
        {
            "name": "File Details",
            "description": "API to access file information"
        },
        {
            "name": "File Downloads",
            "description": "API to download a file"
        },
        {
            "name": "Instrument Identifier",
            "description": "The instrument identifier token type represents the tokenized PAN, a tokenized PAN can also have an associated network token used for card payments. The instrument identifier token type can also represent the tokenized account number and routing number for bank account (eCheck) payments."
        },
        {
            "name": "Payment Instrument",
            "description": "The Payment Instrument token type represents the tokenized billing information and card expiration dates for card payments, or bank account information for eCheck payments.\u2028"
        },
        {
            "name": "user-management",
            "description": "User Management API"
        }
    ],
    "x-devcenter-metaData": {
        "categoryTagArray": [
            {
                "name": "Flex",
                "description": "For more information about Flex Microform transactions, see the [Flex Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-flex/SAFlexibleToken.html)."
            },
            {
                "name": "Payments",
                "description": "For more information about Payments transactions, see the [Payments Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-payments/GettingStarted.html)."
            },
            {
                "name": "Transaction_Batches",
                "description": "For more information about Transaction Batches, see the [Transaction Batches Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-transaction-batch-api/txn_batch_api_intro.html)."
            },
            {
                "name": "Payouts",
                "description": "For more information about Payouts, see the [Payouts Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-payouts/Introduction.html).\n"
            },
            {
                "name": "Reporting",
                "description": "For more information about Reporting, see the [Reporting Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-reporting-rest-api-dev-guide-102718/reporting_api.html).\n"
            },
            {
                "name": "Decision_Manager",
                "description": "For more information about Decision Manager, see the [Decision Manager Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-risk/decisionmanager/intro.html)."
            },
            {
                "name": "Secure_File_Share",
                "description": "For more information about Secure File Share, see the [Secure File Share Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-secure-file-share-api-102718/secure_file_share_api_intro.html)."
            },
            {
                "name": "Token_Management",
                "description": "For more information about Token Management, see the [Token Management Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-tms/intro.html)."
            },
            {
                "name": "Transaction_Details",
                "description": "For more information about Transaction Details, see the [Transaction Details Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_details_api.html)."
            },
            {
                "name": "Transaction_Search",
                "description": "For more information about Transaction Search, see the [Transaction Search Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-txn-search-details-rest-api-dev-guide-102718/txn_search_api.html)."
            },
            {
                "name": "User_Management",
                "description": "For more information about User Management, see the [User Managment Developer Guides Page](https://developer.cybersource.com/api/developer-guides/dita-user-management-api-102718/user_management_api_intro.html)."
            }
        ]
    },
    "paths": {
        "/flex/v1/keys": {
            "x-name": "Generate Key",
            "x-description": "Generate a one-time use public key and key ID to encrypt the card number in the follow-on Tokenize Card request. The key used to encrypt the card number on the cardholder\u2019s device or browser is valid for 15 minutes and must be used to verify the signature in the response message. CyberSource recommends creating a new key for each order. Generating a key is an authenticated request initiated from your servers, prior to requesting to tokenize the card data from your customer\u2019s device or browser.",
            "post": {
                "tags": [
                    "Key Generation"
                ],
                "summary": "Generate Key",
                "description": "Generate a one-time use public key and key ID to encrypt the card number in the follow-on Tokenize Card request. The key used to encrypt the card number on the cardholder\u2019s device or browser is valid for 15 minutes and must be used to verify the signature in the response message. CyberSource recommends creating a new key for each order. Generating a key is an authenticated request initiated from your servers, prior to requesting to tokenize the card data from your customer\u2019s device or browser.",
                "operationId": "generatePublicKey",
                "x-devcenter-metaData": {
                    "categoryTag": "Flex"
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "generatePublicKeyRequest",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "encryptionType"
                            ],
                            "properties": {
                                "encryptionType": {
                                    "type": "string",
                                    "description": "How the card number should be encrypted in the subsequent Tokenize Card request. Possible values are RsaOaep256 or None (if using this value the card number must be in plain text when included in the Tokenize Card request). The Tokenize Card request uses a secure connection (TLS 1.2+) regardless of what encryption type is specified."
                                }
                            }
                        }
                    }
                ],
                "x-example": {
                    "example0": {
                        "summary": "Generate Key",
                        "value": {
                            "encryptionType": "None"
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Retrieved key.",
                        "schema": {
                            "title": "flexV1KeysPost200Response",
                            "properties": {
                                "keyId": {
                                    "type": "string",
                                    "description": "Unique identifier for the generated token. Used in the subsequent Tokenize Card request from your customer\u2019s device or browser."
                                },
                                "der": {
                                    "type": "object",
                                    "description": "The public key in DER format. Used to validate the response from the Tokenize Card request. Additionally this format is useful for client side encryption in Android and iOS implementations.",
                                    "properties": {
                                        "format": {
                                            "type": "string",
                                            "description": "Specifies the format of the public key; currently X.509."
                                        },
                                        "algorithm": {
                                            "type": "string",
                                            "description": "Algorithm used to encrypt the public key."
                                        },
                                        "publicKey": {
                                            "type": "string",
                                            "description": "Base64 encoded public key value."
                                        }
                                    }
                                },
                                "jwk": {
                                    "type": "object",
                                    "description": "The public key in JSON Web Key (JWK) format. This format is useful for client side encryption in JavaScript based implementations.",
                                    "properties": {
                                        "kty": {
                                            "type": "string",
                                            "description": "Algorithm used to encrypt the public key."
                                        },
                                        "use": {
                                            "type": "string",
                                            "description": "Defines whether to use the key for encryption (enc) or verifying a signature (sig). Always returned as enc."
                                        },
                                        "kid": {
                                            "type": "string",
                                            "description": "The key ID in JWK format."
                                        },
                                        "n": {
                                            "type": "string",
                                            "description": "JWK RSA Modulus"
                                        },
                                        "e": {
                                            "type": "string",
                                            "description": "JWK RSA Exponent"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error retrieving key.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "responseStatus": {
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "description": "HTTP Status code."
                                        },
                                        "reason": {
                                            "type": "string",
                                            "description": "Error Reason Code."
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Error Message."
                                        },
                                        "correlationId": {
                                            "type": "string",
                                            "description": "API correlation ID."
                                        },
                                        "details": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "location": {
                                                        "type": "string",
                                                        "description": "Field name referred to for validation issues."
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "description": "Description or code of any error response."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "_links": {
                                    "type": "object",
                                    "properties": {
                                        "next": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string",
                                                        "description": "URI of the linked resource."
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "description": "Label of the linked resource."
                                                    },
                                                    "method": {
                                                        "type": "string",
                                                        "description": "HTTP method of the linked resource."
                                                    }
                                                }
                                            }
                                        },
                                        "documentation": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string",
                                                        "description": "URI of the linked resource."
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "description": "Label of the linked resource."
                                                    },
                                                    "method": {
                                                        "type": "string",
                                                        "description": "HTTP method of the linked resource."
                                                    }
                                                }
                                            }
                                        },
                                        "self": {
                                            "properties": {
                                                "href": {
                                                    "type": "string",
                                                    "description": "URI of the linked resource."
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "description": "Label of the linked resource."
                                                },
                                                "method": {
                                                    "type": "string",
                                                    "description": "HTTP method of the linked resource."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-samplePayload": {
                    "encryptionType": "RsaOaep256"
                },
                "x-sampleResponse": {
                    "keyId": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
                    "der": {
                        "format": "X.509",
                        "algorithm": "RSA",
                        "publicKey": "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAgC1G6rVue4w/jjJrKPZusGN9G+Y7mWuLJ0O2/GHd94LvR51+ok7ahuQUVMZLdigixnspaGo/WVLvTTZ5J28Cc1uSx0o/BsxpNaAQD8/aBZL3nnAiBLACxI1JHAVo7SXbJQmz+mqVFYTppg9QmpB2ATTmXjUOQy+Fqkw3EByfCANHhHSNs4+HASovsfcRMUmmvDfTd5qBb23KzDJeDVqTYWa3XjUorlZOCJuLyPgeDEK8oOC9C4W9dn32z8FJ4E6Dz28M/2O3g8FLQD2F+NezkQJsl8MEYo4rl1nr7/oIkMsYLCCoG8jwmryErb7km9JWWgqZ80trkjijFqDAbHfUEwIDAQAB"
                    },
                    "jwk": {
                        "kty": "RSA",
                        "use": "enc",
                        "kid": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
                        "n": "fC1G6rVue4w_jjJrKPZusGN9G-Y7mWuLJ0O2_GHd94LvR51-ok7ahuQUVMZLdigixnspaGo_WVLvTTZ5J28Cc1uSx0o_BsxpNaAQD8_aBZL3nnAiBLACxI1JHAVo7SXAJQmz-mqVFYTppg9QmpB2ATTmXjUOQy-Fqkw3EByfCANHhHSNs4-HASovsfcRMUmmvDfTd5qBb23KzDJeDVqTYWa3XjUorlZOCJuLyPgeDEK8oOC9C4W9dn32z8FJ4E6Dz28M_2O3g8FLQD2F-NezkQJsl8MEYo4rl1nr7_oIkMsYLCCoG8jwmryErb7km9JWWgqZ80trkjijFqDAbHfUEw",
                        "e": "AQAB"
                    }
                }
            }
        },
        "/flex/v1/tokens": {
            "x-name": "Tokenize Card",
            "x-description": "Returns a token representing the supplied card details. The token replaces card data and can be used as the Subscription ID in the CyberSource Simple Order API or SCMP API. This is an unauthenticated call that you should initiate from your customer\u2019s device or browser.",
            "post": {
                "tags": [
                    "tokenization"
                ],
                "summary": "Tokenize card",
                "description": "Returns a token representing the supplied card details. The token replaces card data and can be used as the Subscription ID in the CyberSource Simple Order API or SCMP API. This is an unauthenticated call that you should initiate from your customer\u2019s device or browser.",
                "operationId": "tokenize",
                "x-devcenter-metaData": {
                    "categoryTag": "Flex",
                    "isClientSideApi": true,
                    "noAuth": true
                },
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "tokenizeRequest",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "keyId"
                            ],
                            "properties": {
                                "keyId": {
                                    "type": "string",
                                    "description": "Unique identifier for the generated token. This is obtained from the Generate Key request. See the [Java Script and Java examples](http://apps.cybersource.com/library/documentation/dev_guides/Secure_Acceptance_Flex/Key/html) on how to import the key and encrypt using the imported key."
                                },
                                "cardInfo": {
                                    "type": "object",
                                    "required": [
                                        "cardNumber",
                                        "cardType"
                                    ],
                                    "properties": {
                                        "cardNumber": {
                                            "type": "string",
                                            "description": "Encrypted or plain text card number. If the encryption type of \u201cNone\u201d was used in the Generate Key request, this value can be set to the plaintext card number/Personal Account Number (PAN). If the encryption type of RsaOaep256 was used in the Generate Key request, this value needs to be the RSA OAEP 256 encrypted card number. The card number should be encrypted on the cardholders\u2019 device. The [WebCrypto API] (https://github.com/CyberSource/cybersource-flex-samples/blob/master/java/spring-boot/src/main/resources/public/flex.js) can be used with the JWK obtained in the Generate Key request."
                                        },
                                        "cardExpirationMonth": {
                                            "type": "string",
                                            "description": "Two digit expiration month"
                                        },
                                        "cardExpirationYear": {
                                            "type": "string",
                                            "description": "Four digit expiration year"
                                        },
                                        "cardType": {
                                            "type": "string",
                                            "description": "Card Type. This field is required. Refer to the CyberSource Credit Card Services documentation for supported card types."
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "x-example": {
                    "example0": {
                        "summary": "Flex Tokenize Card",
                        "sample-name": "Tokenize Card",
                        "value": {
                            "keyId": "08z9hCmn4pRpdNhPJBEYR3Mc2DGLWq5j",
                            "cardInfo": {
                                "cardNumber": "4111111111111111",
                                "cardExpirationMonth": "12",
                                "cardExpirationYear": "2031",
                                "cardType": "001"
                            }
                        },
                        "depends": {
                            "example": {
                                "path": "/flex/v1/keys",
                                "verb": "post",
                                "exampleId": "example0"
                            },
                            "fieldMapping": [
                                {
                                    "sourceField": "keyId",
                                    "destinationField": "keyId",
                                    "fieldTypeInDestination": "body"
                                }
                            ]
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Created payment token.",
                        "schema": {
                            "title": "flexV1TokensPost200Response",
                            "properties": {
                                "keyId": {
                                    "type": "string",
                                    "description": "The Key ID."
                                },
                                "token": {
                                    "type": "string",
                                    "description": "The generated token. The token replaces card data and is used as the Subscription ID in the CyberSource Simple Order API or SCMP API."
                                },
                                "maskedPan": {
                                    "type": "string",
                                    "description": "The masked card number displaying the first 6 digits and the last 4 digits."
                                },
                                "cardType": {
                                    "type": "string",
                                    "description": "The card type."
                                },
                                "timestamp": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "The UTC date and time in milliseconds at which the signature was generated."
                                },
                                "signedFields": {
                                    "type": "string",
                                    "description": "Indicates which fields from the response make up the data that is used when verifying the response signature. See the [sample code] (https://github.com/CyberSource/cybersource-flex-samples/blob/master/java/spring-boot/src/main/java/com/cybersource/flex/application/CheckoutController.java) on how to verify the signature."
                                },
                                "signature": {
                                    "type": "string",
                                    "description": "Flex-generated digital signature. To ensure the values have not been tampered with while passing through the client, verify this server-side using the public key generated from the /keys resource."
                                },
                                "discoverableServices": {
                                    "type": "object",
                                    "additionalProperties": {
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error creating token.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "responseStatus": {
                                    "properties": {
                                        "status": {
                                            "type": "number",
                                            "description": "HTTP Status code."
                                        },
                                        "reason": {
                                            "type": "string",
                                            "description": "Error Reason Code."
                                        },
                                        "message": {
                                            "type": "string",
                                            "description": "Error Message."
                                        },
                                        "correlationId": {
                                            "type": "string",
                                            "description": "API correlation ID."
                                        },
                                        "details": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "location": {
                                                        "type": "string",
                                                        "description": "Field name referred to for validation issues."
                                                    },
                                                    "message": {
                                                        "type": "string",
                                                        "description": "Description or code of any error response."
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "_links": {
                                    "type": "object",
                                    "properties": {
                                        "next": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string",
                                                        "description": "URI of the linked resource."
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "description": "Label of the linked resource."
                                                    },
                                                    "method": {
                                                        "type": "string",
                                                        "description": "HTTP method of the linked resource."
                                                    }
                                                }
                                            }
                                        },
                                        "documentation": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string",
                                                        "description": "URI of the linked resource."
                                                    },
                                                    "title": {
                                                        "type": "string",
                                                        "description": "Label of the linked resource."
                                                    },
                                                    "method": {
                                                        "type": "string",
                                                        "description": "HTTP method of the linked resource."
                                                    }
                                                }
                                            }
                                        },
                                        "self": {
                                            "properties": {
                                                "href": {
                                                    "type": "string",
                                                    "description": "URI of the linked resource."
                                                },
                                                "title": {
                                                    "type": "string",
                                                    "description": "Label of the linked resource."
                                                },
                                                "method": {
                                                    "type": "string",
                                                    "description": "HTTP method of the linked resource."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "x-samplePayload": {
                    "keyId": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
                    "cardDetails": {
                        "cardNumber": "ejbhIpMEgYnIODcB4//rrVxMHrqHcnLD6pDRF36jlEk72bETAfiOoxmpI9pGiidqMmkgAnvJfVgR3CLAV5EdG4Mu5IWK26QRnVtwvsVEUtpah7IylbxV9MLvXh2FjIJskKCWNLidb1G4PN5963hnV3IoZd2pF99JwV9lPhOHT5ymlNeg7sTzQQDN1I0/yJApds+t79hl9QVp4PusUDfSsPQTtR2frzlH4V3W+XjHDhmy5oNhiUaVxv27cyG1SWeCKkVC9tc8zLy4pvlgoplrLV8JRaS9hfWalJjv2xtk3DXmNT2urtFv2evcI3LM/S29KlJjPXZcBp0IYyB/taunCA==",
                        "cardType": "001"
                    }
                },
                "x-sampleResponse": {
                    "keyId": "05BgbFie7vX5vzSMKOoqEAAdfpdR4kas",
                    "token": "0100153497304242",
                    "maskedPan": "424242XXXXXX4242",
                    "cardType": "001",
                    "timestamp": 1472733222651,
                    "signedFields": "token,cardType,maskedPan,timestamp",
                    "signature": "TcM7METFOIidwbxWG2Xhawx/5gZ7hZB0Lyrhg3NRJ+Pma+Nq7BugvsqLCE2R24+h13xnM6vpJXR2cqfQPkxhb6joJT8jcciEf+lj6h/KjvXuR4pJ4fMll4WS1Z4+574ps0ysV/5zs7kT2IAZj7i+szlYwFJxGhOGC0218x1N0NxELTDyU/HI6n+Aa+mYBqkMXth42t+GNQ7goVXkJWRgQSjp2v0WTh2d2plDnxEWPURZXz7GLdQXRIYUWWx/L5JSf88F1zgjYDpBitNSYBMMILKfDd3KEg+6nIruCln5kDMbTRD8LwPpGYC9tyM9+UM8MBINPHhaqdFp2wHF7dccKA==",
                    "discoverableServices": {}
                }
            }
        },
        "/pts/v2/payments": {
            "post": {
                "summary": "Process a Payment",
                "description": "Authorize the payment for the transaction.\n",
                "tags": [
                    "payments"
                ],
                "operationId": "createPayment",
                "x-devcenter-metaData": {
                    "categoryTag": "Payments"
                },
                "parameters": [
                    {
                        "name": "createPaymentRequest",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "clientReferenceInformation": {
                                    "type": "object",
                                    "properties": {
                                        "code": {
                                            "type": "string",
                                            "maxLength": 50,
                                            "description": "Client-generated order reference or tracking number. CyberSource recommends that you send a unique value for each\ntransaction so that you can perform meaningful searches for the transaction.\n\nFor information about tracking orders, see \"Tracking and Reconciling Your Orders\" in [Getting Started with CyberSource Advanced for the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/Getting_Started_SCMP/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\n#### FDC Nashville Global\nCertain circumstances can cause the processor to truncate this value to 15 or 17 characters for Level II and Level III processing, which can cause a discrepancy between the value you submit and the value included in some processor reports.\n"
                                        },
                                        "transactionId": {
                                            "type": "string",
                                            "description": "Identifier that you assign to the transaction.\n\n**Note** Use this field only if you want to support merchant-initiated reversal and void operations.\n\nFor details, see \"Merchant-Initiated Reversals and Voids\" in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                        },
                                        "comments": {
                                            "type": "string",
                                            "description": "Comments"
                                        },
                                        "partner": {
                                            "type": "object",
                                            "properties": {
                                                "originalTransactionId": {
                                                    "type": "string",
                                                    "maxLength": 32,
                                                    "description": "Value that links the previous transaction to the current follow-on request. This value is assigned by the client\nsoftware that is installed on the POS terminal, which makes it available to the terminal\u2019s software and to\nCyberSource. Therefore, you can use this value to reconcile transactions between CyberSource and the terminal\u2019s\nsoftware.\n\nCyberSource does not forward this value to the processor. Instead, the value is forwarded to the CyberSource\nreporting functionality.\n\nThis field is supported only on American Express Direct, FDC Nashville Global, and SIX.\n"
                                                },
                                                "developerId": {
                                                    "type": "string",
                                                    "maxLength": 8,
                                                    "description": "Identifier for the developer that helped integrate a partner solution to CyberSource.\n\nSend this value in all requests that are sent through the partner solutions built by that developer.\nCyberSource assigns the ID to the developer.\n\n**Note** When you see a developer ID of 999 in reports, the developer ID that was submitted is incorrect.\n"
                                                },
                                                "solutionId": {
                                                    "type": "string",
                                                    "maxLength": 8,
                                                    "description": "Identifier for the partner that is integrated to CyberSource.\n\nSend this value in all requests that are sent through the partner solution. CyberSource assigns the ID to the partner.\n\n**Note** When you see a partner ID of 999 in reports, the partner ID that was submitted is incorrect.\n"
                                                }
                                            }
                                        }
                                    }
                                },
                                "processingInformation": {
                                    "type": "object",
                                    "properties": {
                                        "capture": {
                                            "type": "boolean",
                                            "description": "Flag that specifies whether to also include capture service in the submitted request or not.\n\nPossible values:\n- **true**\n- **false** (default).\n",
                                            "default": false
                                        },
                                        "processorId": {
                                            "type": "string",
                                            "maxLength": 3,
                                            "description": "Value that identifies the processor/acquirer to use for the transaction. This value is supported only for\n**CyberSource through VisaNet**.\n\nContact CyberSource Customer Support to get the value for this field.\n"
                                        },
                                        "businessApplicationId": {
                                            "type": "string",
                                            "description": "Payouts transaction type.\nRequired for OCT transactions.\nThis field is a pass-through, which means that CyberSource does not verify the value or\nmodify it in any way before sending it to the processor.\n**Note** When the request includes this field, this value overrides the information in your CyberSource account.\n\nFor valid values, see the `invoiceHeader_businessApplicationID` field description in [Payouts Using the Simple Order API.](http://apps.cybersource.com/library/documentation/dev_guides/payouts_SO/Payouts_SO_API.pdf)\n"
                                        },
                                        "commerceIndicator": {
                                            "type": "string",
                                            "maxLength": 20,
                                            "description": "Type of transaction. Some payment card companies use this information when determining discount rates.\n\n#### Ingenico ePayments\nIngenico ePayments was previously called _Global Collect_. When you omit this field for Ingenico ePayments, the processor uses the default transaction type they have on file for you instead of the default value listed in \"Commerce Indicators\" section of [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\n#### Payer Authentication Transactions\nFor the possible values and requirements, see \"Payer Authentication\" in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\n#### Payouts OCT (Original Credit Transaction)\nValue for an OCT transaction:\n- `internet`\nFor details, see the `e_commerce_indicator` field description in [Payouts Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/payouts_SCMP/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\n#### Other Types of Transactions\nFor details, see \"Commerce Indicators\" in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                        },
                                        "paymentSolution": {
                                            "type": "string",
                                            "maxLength": 12,
                                            "description": "Type of digital payment solution for the transaction. Possible Values:\n\n - `visacheckout`: Visa Checkout. This value is required for Visa Checkout transactions. For details, see `payment_solution` field description in [Visa Checkout Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/VCO_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n - `001`: Apple Pay.\n - `004`: Cybersource In-App Solution.\n - `005`: Masterpass. This value is required for Masterpass transactions on OmniPay Direct. For details, see \"Masterpass\" in the [Credit Card Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n - `006`: Android Pay.\n - `007`: Chase Pay.\n - `008`: Samsung Pay.\n - `012`: Google Pay.\n"
                                        },
                                        "reconciliationId": {
                                            "type": "string",
                                            "maxLength": 60,
                                            "description": "Please check with Cybersource customer support to see if your merchant account is configured correctly so you\ncan include this field in your request.\n* For Payouts: max length for FDCCompass is String (22).\n"
                                        },
                                        "linkId": {
                                            "type": "string",
                                            "maxLength": 26,
                                            "description": "Value that links the current authorization request to the original authorization request. Set this value\nto the ID that was returned in the reply message from the original authorization request.\n\nThis value is used for:\n\n- Partial authorizations\n- Split shipments\n\nFor details, see `link_to_request` field description in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                        },
                                        "purchaseLevel": {
                                            "type": "string",
                                            "maxLength": 1,
                                            "description": "Set this field to 3 to indicate that the request includes Level III data."
                                        },
                                        "reportGroup": {
                                            "type": "string",
                                            "maxLength": 25,
                                            "description": "Attribute that lets you define custom grouping for your processor reports. This field is supported only for **Worldpay VAP**.\n\nFor details, see `report_group` field description in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                        },
                                        "visaCheckoutId": {
                                            "type": "string",
                                            "maxLength": 48,
                                            "description": "Identifier for the **Visa Checkout** order. Visa Checkout provides a unique order ID for every transaction in\nthe Visa Checkout **callID** field.\n\nFor details, see the `vc_order_id` field description in [Visa Checkout Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/VCO_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                        },
                                        "industryDataType": {
                                            "type": "string",
                                            "maxLength": 10,
                                            "description": "Flag that indicates whether the transaction includes airline or restaurant data.\n\nTo send the data in a transaction request to the processor, you must set this field to `airline` or `restaurant`.\n\n**Note** If you do not set this field to one of the possible values, CyberSource does not send any data to the processor.\n\nPossible Values:\n- `airline`\n- `restaurant`\n"
                                        },
                                        "authorizationOptions": {
                                            "type": "object",
                                            "properties": {
                                                "authType": {
                                                    "type": "string",
                                                    "maxLength": 15,
                                                    "description": "Authorization type. Possible values:\n\n - `AUTOCAPTURE`: automatic capture.\n - `STANDARDCAPTURE`: standard capture.\n - `VERBAL`: forced capture. Include it in the payment request for a forced capture. Include it in the capture request for a verbal payment.\n\n#### Asia, Middle East, and Africa Gateway; Cielo; Comercio Latino; and CyberSource Latin American Processing\nSet this field to `AUTOCAPTURE` and include it in a bundled request to indicate that you are requesting an automatic capture. If your account is configured to enable automatic captures, set this field to `STANDARDCAPTURE` and include it in a standard authorization or bundled request to indicate that you are overriding an automatic capture. For more information, see the `auth_type` field description in [Credit Card Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\n#### Forced Capture\nSet this field to `VERBAL` and include it in the authorization request to indicate that you are performing a forced capture; therefore, you receive the authorization code outside the CyberSource system.\n\nFor more information, see \"Forced Captures\" in [Credit Card Services Using the SCMP API Guide](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm).\n\n#### Verbal Authorization\nSet this field to `VERBAL` and include it in the capture request to indicate that the request is for a verbal authorization. For more information, see \"Verbal Authorizations\" in [Credit Card Services Using the SCMP API](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html).\n\nFor processor-specific information, see the `auth_type` field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
                                                },
                                                "verbalAuthCode": {
                                                    "type": "string",
                                                    "maxLength": 7,
                                                    "description": "Authorization code.\n\n#### Forced Capture\nUse this field to send the authorization code you received from a payment that you authorized\noutside the CyberSource system.\n\n#### Verbal Authorization\nUse this field in CAPTURE API to send the verbally received authorization code.\n\nFor processor-specific information, see the `auth_code` field description in [Credit Card Services Using the SCMP API](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html).\n"
                                                },
                                                "verbalAuthTransactionId": {
                                                    "type": "string",
                                                    "maxLength": 15,
                                                    "description": "Transaction ID (TID).\n\n#### FDMS South\nThis field is required for verbal authorizations\nand forced captures with the American\nExpress card type to comply with the CAPN\nrequirements:\n- Forced capture: Obtain the value for this\nfield from the authorization response.\n- Verbal authorization: You cannot obtain a\nvalue for this field so CyberSource uses the\ndefault value of `000000000000000` (15\nzeros).\n\nFor more information about using this default value, see \"Verbal Authorizations\" in [Credit Card Services Using the SCMP API Guide](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                                },
                                                "authIndicator": {
                                                    "type": "string",
                                                    "maxLength": 1,
                                                    "description": "Flag that specifies the purpose of the authorization.\n\nPossible values:\n - **0**: Preauthorization\n - **1**: Final authorization\n\nTo set the default for this field, contact CyberSource Customer Support.\nFor details, see \"Final Authorization Indicator\" in the [Credit Card Services Using the SCMP API Guide](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm).\n\n#### Barclays and Elavon\nThe default for Barclays and Elavon is 1 (final authorization). To change the default for this field, contact CyberSource Customer Support.\n\n#### CyberSource through VisaNet\nWhen the value for this field is 0, it corresponds to the following data in the TC 33 capture file5:\n - Record: CP01 TCR0\n - Position: 164\n - Field: Additional Authorization Indicators\nWhen the value for this field is 1, it does not correspond to any data in the TC 33 capture file.\n\nFor processor-specific information, see the `auth_indicator` field in\n[Credit Card Services Using the SCMP API](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html).\n"
                                                },
                                                "partialAuthIndicator": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates whether the transaction is enabled for partial authorization or not. When your request\nincludes this field, this value overrides the information in your CyberSource account.  For processor-specific\ninformation, see the `auth_partial_auth_indicator` field in [Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n\n#### CyberSource through VisaNet\nTo set the default for this field, contact CyberSource Customer Support.\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCR0\n- Position: 164\n- Field: Additional Authorization Indicators\n\nPossible values:\n- **true** Enable the transaction for partial authorization.\n- **false** Do not enable the transaction for partial authorization.\n"
                                                },
                                                "balanceInquiry": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates whether to return balance information.\n\nPossible values:\n- **true**\n- **false**\n"
                                                },
                                                "ignoreAvsResult": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates whether to allow the capture service to run, even when the payment\nreceives an AVS decline.\n\nPossible values:\n- **true**  Ignore the results of AVS checking and run the capture service.\n- **false**  (default): If the authorization receives an AVS decline, do not run the capture service.\n",
                                                    "default": false
                                                },
                                                "declineAvsFlags": {
                                                    "type": "array",
                                                    "description": "Comma-separated list of AVS flags that cause the reply flag `DAVSNO` to be returned.\n\n**Important** To receive declines for the AVS code `N`, you must include the value `N` in the comma-separated\nlist.\n\n### AVS Codes for Cielo 3.0 and CyberSource Latin American Processing\n\n**Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this section is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.\n\n|AVS Code|Description|\n|--- |--- |\n|D|Partial match: postal code and address match.|\n|E|Not supported: AVS is not supported for this card type. _or_ Invalid: the acquirer returned an unrecognized value for the AVS response.|\n|F|Partial match: postal code matches, but CPF and address do not match.*|\n|G|Not supported: AVS not supported or not verified.|\n|I|No match: AVS information is not available.|\n|K|Partial match: CPF matches, but postal code and address do not match.*|\n|L|Partial match: postal code and CPF match, but address does not match.*|\n|N|No match: postal code, CPF, and address do not match.*|\n|O|Partial match: CPF and address match, but postal code does not match.*|\n|R|Not supported: your implementation does not support AVS _or_ System unavailable.|\n|T|Partial match: address matches, but postal code and CPF do not match.*|\n|V|Match: postal code, CPF, and address match.*|\n|* CPF (Cadastro de Pessoas Fisicas) is required only for Redecard in Brazil.||\n\n### AVS Codes for All Other Processors\n\n**Note** The list of AVS codes for all other processors follows these descriptions of the processor-specific information for these codes.\n\n#### American Express Cards\nFor American Express cards only, you can receive Visa and CyberSource\nAVS codes in addition to the American Express AVS codes.\n\n**Note** For CyberSource through VisaNet, the American Express AVS codes are converted to Visa\nAVS codes before they are returned to you. As a result, you will not receive American Express AVS codes for\nthe American Express card type.<br/><br/>\n\n_American Express Card codes_: `F`, `H`, `K`, `L`, `O`, `T`, `V`\n\n#### Domestic and International Visa Cards\nThe international and domestic alphabetic AVS codes are the Visa standard AVS codes. CyberSource maps\nthe standard AVS return codes for other types of payment cards, including American Express cards, to\nthe Visa standard AVS codes.\n\nAVS is considered either domestic or international, depending on the location of the bank that issued the\ncustomer's payment card:\n- When the bank is in the U.S., the AVS is domestic.\n- When the bank is outside the U.S., the AVS is international.\n\nYou should be prepared to handle both domestic and international AVS result codes:\n- For international cards, you can receive domestic AVS codes in addition to the international AVS codes.\n- For domestic cards, you can receive international AVS codes in addition to the domestic AVS codes.\n\n_International Visa Codes_: `B`, `C`, `D`, `G`, `I`, `M`, `P`\n\n_Domestic Visa Codes_: `A`, `E`,`N`, `R`, `S`, `U`, `W`, `X`, `Y`, `Z`\n\n#### CyberSource Codes\nThe numeric AVS codes are created by CyberSource\nand are not standard Visa codes. These AVS codes\ncan be returned for any card type.\n\n_CyberSource Codes_: `1`, `2`, `3`, `4`\n\n### Table of AVS Codes for All Other Processors\n\n|AVS Code|Description|\n|--- |--- |\n|A|Partial match: street address matches, but 5-digit and 9-digit postal codes do not match.|\n|B|Partial match: street address matches, but postal code is not verified. Returned only for Visa cards not issued in the U.S.|\n|C|No match: street address and postal code do not match. Returned only for Visa cards not issued in the U.S.|\n|D & M|Match: street address and postal code match. Returned only for Visa cards not issued in the U.S.|\n|E|Invalid: AVS data is invalid or AVS is not allowed for this card type.|\n|F|Partial match: card member\u2019s name does not match, but billing postal code matches.|\n|G|Not supported: issuing bank outside the U.S. does not support AVS.|\n|H|Partial match: card member\u2019s name does not match, but street address and postal code match. Returned only for the American Express card type.|\n|I|No match: address not verified. Returned only for Visa cards not issued in the U.S.|\n|K|Partial match: card member\u2019s name matches, but billing address and billing postal code do not match. Returned only for the American Express card type.|\n|L|Partial match: card member\u2019s name and billing postal code match, but billing address does not match. Returned only for the American Express card type.|\n|M|See the entry for D & M.|\n|N|No match: one of the following: street address and postal code do not match _or_ (American Express card type only) card member\u2019s name, street address, and postal code do not match.|\n|O|Partial match: card member\u2019s name and billing address match, but billing postal code does not match. Returned only for the American Express card type.|\n|P|Partial match: postal code matches, but street address not verified. Returned only for Visa cards not issued in the U.S.|\n|R|System unavailable.|\n|S|Not supported: issuing bank in the U.S. does not support AVS.|\n|T|Partial match: card member\u2019s name does not match, but street address matches. Returned only for the American Express card type.|\n|U|System unavailable: address information unavailable for one of these reasons: The U.S. bank does not support AVS outside the U.S. _or_ The AVS in a U.S. bank is not functioning properly.|\n|V|Match: card member\u2019s name, billing address, and billing postal code match. Returned only for the American Express card type.|\n|W|Partial match: street address does not match, but 9-digit postal code matches.|\n|X|Match: street address and 9-digit postal code match.|\n|Y|Match: street address and 5-digit postal code match.|\n|Z|Partial match: street address does not match, but 5-digit postal code matches.|\n|1|Not supported: one of the following: AVS is not supported for this processor or card type _or_ AVS is disabled for your CyberSource account. To enable AVS, contact CyberSource Customer Support.|\n|2|Unrecognized: the processor returned an unrecognized value for the AVS response.|\n|3|Match: address is confirmed. Returned only for PayPal Express Checkout.|\n|4|No match: address is not confirmed. Returned only for PayPal Express Checkout.|\n|5|No match: no AVS code was returned by the processor.|\n",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "ignoreCvResult": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates whether to allow the capture service to run even when\nthe payment receives a CVN decline.\n\nPossible values:\n- **true**  Ignore the results of CVN checking and run the capture service.\n- **false**  (default) If the authorization receives a CVN decline, do not run the capture service.\n",
                                                    "default": false
                                                },
                                                "initiator": {
                                                    "type": "object",
                                                    "properties": {
                                                        "type": {
                                                            "type": "string",
                                                            "description": "This field indicates whether the transaction is a merchant-initiated transaction or customer-initiated transaction.\n\nValid values:\n- **customer**\n- **merchant**\n"
                                                        },
                                                        "credentialStoredOnFile": {
                                                            "type": "boolean",
                                                            "description": "Indicates to the issuing bank two things:\n- The merchant has received consent from the cardholder to store their card details on file\n- The merchant wants the issuing bank to check out the card details before the merchant initiates their first transaction for this cardholder.\nThe purpose of the merchant-initiated transaction is to ensure that the cardholder\u2019s credentials are valid (that the card is not stolen or has restrictions) and that the card details are good to be stored on the merchant\u2019s file for future transactions.\n\nValid values:\n- `true` means merchant will use this transaction to store payment credentials for follow-up merchant-initiated transactions.\n- `false` means merchant will not use this transaction to store payment credentials for follow-up merchant-initiated transactions.\n\nFor details, see `subsequent_auth_first` field description in the [Credit Card Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\n**NOTE:** The value for this field does not correspond to any data in the TC 33 capture file5.\n\nThis field is supported only for Visa transactions on CyberSource through VisaNet.\n"
                                                        },
                                                        "storedCredentialUsed": {
                                                            "type": "boolean",
                                                            "description": "Indicates to an issuing bank whether a merchant-initiated transaction came from a card that was already stored on file.\n\nPossible values:\n- **true** means the merchant-initiated transaction came from a card that was already stored on file.\n- **false**  means the merchant-initiated transaction came from a card that was not stored on file.\n"
                                                        },
                                                        "merchantInitiatedTransaction": {
                                                            "type": "object",
                                                            "properties": {
                                                                "reason": {
                                                                    "type": "string",
                                                                    "maxLength": 1,
                                                                    "description": "Reason for the merchant-initiated transaction or incremental authorization. Possible values:\n- `1`: Resubmission\n- `2`: Delayed charge\n- `3`: Reauthorization for split shipment\n- `4`: No show\n- `5`: Account top up\nThis field is required only for the five kinds of transactions in the preceding list.\nThis field is supported only for merchant-initiated transactions and incremental authorizations.\n\n#### CyberSource through VisaNet\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP01 TCR0\n- Position: 160-163\n- Field: Message Reason Code\n\n#### All Processors\nFor details, see `subsequent_auth_reason` field description in the [Credit Card Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                                                },
                                                                "previousTransactionId": {
                                                                    "type": "string",
                                                                    "maxLength": 15,
                                                                    "description": "Network transaction identifier that was returned in the payment response field _processorInformation.transactionID_\nin the reply message for either the original merchant-initiated payment in the series or the previous\nmerchant-initiated payment in the series.\n\nIf the current payment request includes a token instead of an account number, the following time limits apply for the value of this field:\n- For a **resubmission**, the transaction ID must be less than 14 days old.\n- For a **delayed charge** or **reauthorization**, the transaction ID must be less than 30 days old.\n\n**NOTE**: The value for this field does not correspond to any data in the TC 33 capture file5. This field is supported\nonly for Visa transactions on CyberSource through VisaNet.\n"
                                                                },
                                                                "originalAuthorizedAmount": {
                                                                    "type": "string",
                                                                    "maxLength": 61,
                                                                    "description": "Amount of the original authorization.\n\nThis field is supported only for Apple Pay, Google Pay, and Samsung Pay transactions with Discover on FDC Nashville Global and Chase Paymentech.\n\nSee \"Recurring Payments,\" and \"Subsequent Authorizations,\" field description in the [Payment Network Tokenization\nUsing the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/tokenization_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                                                }
                                                            }
                                                        }
                                                    }
                                                },
                                                "billPayment": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates that this is a payment for a bill or for an existing contractual loan.\nFor processor-specific details, see the `bill_payment` field description in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\nPossible values:\n- `true`: Bill payment or loan payment.\n- `false` (default): Not a bill payment or loan payment.\n"
                                                },
                                                "billPaymentType": {
                                                    "type": "string",
                                                    "description": "Reason for the payment.\n\nPossible values:\n- 001: Utility payment\n- 002: Government services\n- 003: Mobile phone top-up\n- 004: Coupon payment\n\nThe value for this field corresponds to the following data in the TC 33 capture file5:\n- Record: CP07 TCR0\n- Position: 48-50\n- Field: Bill Payment Transaction Type Identifier\n\nThis field is supported only for bill payments in Brazil with Mastercard on CyberSource through VisaNet.\n\n**Note** For details about Mastercard bill payments or bill payments with Visa, see `bill_payment_type` field description in the [Credit Card Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                                }
                                            }
                                        },
                                        "captureOptions": {
                                            "type": "object",
                                            "properties": {
                                                "captureSequenceNumber": {
                                                    "type": "integer",
                                                    "minimum": 1,
                                                    "maximum": 99,
                                                    "description": "Capture number when requesting multiple partial captures for one authorization.\nUsed along with `totalCaptureCount` to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - `captureSequenceNumber_ = 2`, and\n  - `totalCaptureCount = 5`\n"
                                                },
                                                "totalCaptureCount": {
                                                    "type": "integer",
                                                    "minimum": 1,
                                                    "maximum": 99,
                                                    "description": "Total number of captures when requesting multiple partial captures for one payment.\nUsed along with `captureSequenceNumber` field to track which capture is being processed.\n\nFor example, the second of five captures would be passed to CyberSource as:\n  - `captureSequenceNumber = 2`, and\n  - `totalCaptureCount = 5`\n"
                                                },
                                                "dateToCapture": {
                                                    "type": "string",
                                                    "maxLength": 4,
                                                    "description": "Date on which you want the capture to occur. This field is supported only for CyberSource through VisaNet.\\\n`Format: MMDD`\n"
                                                }
                                            }
                                        },
                                        "recurringOptions": {
                                            "type": "object",
                                            "properties": {
                                                "loanPayment": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates whether this is a payment towards an existing contractual loan.\n\nPossible values:\n- `true`: Loan payment\n- `false`: (default) Not a loan payment\n\nFor processor-specific details, see `debt_indicator` field description in [Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n",
                                                    "default": false
                                                },
                                                "firstRecurringPayment": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates whether this transaction is the first in a series of recurring payments.\n\nThis field is supported only for **Atos**, **FDC Nashville Global**, and **OmniPay Direct**.\n\nPossible values:\n - `true` Indicates this is the first payment in a series of recurring payments\n - `false` (default) Indicates this is not the first payment in a series of recurring payments.\n\nFor details, see `auth_first_recurring_payment` field description and \"Recurring Payments\" in\n[Credit Card Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n",
                                                    "default": false
                                                }
                                            }
                                        },
                                        "bankTransferOptions": {
                                            "type": "object",
                                            "properties": {
                                                "declineAvsFlags": {
                                                    "type": "string",
                                                    "maxLength": 15,
                                                    "description": "Space-separated list of AVS flags that cause the request to be declined for AVS reasons.\n\n**Important** To receive declines for the AVS code `N`, you must include the value `N` in the space-separated list.\n\n### AVS Codes for Cielo 3.0 and CyberSource Latin American Processing\n\n**Note** CyberSource Latin American Processing is the name of a specific processing connection that CyberSource supports. In the CyberSource API documentation, CyberSource Latin American Processing does not refer to the general topic of processing in Latin America. The information in this section is for the specific processing connection called CyberSource Latin American Processing. It is not for any other Latin American processors that CyberSource supports.\n\n|AVS Code|Description|\n|--- |--- |\n|D|Partial match: postal code and address match.|\n|E|Not supported: AVS is not supported for this card type. _or_ Invalid: the acquirer returned an unrecognized value for the AVS response.|\n|F|Partial match: postal code matches, but CPF and address do not match.*|\n|G|Not supported: AVS not supported or not verified.|\n|I|No match: AVS information is not available.|\n|K|Partial match: CPF matches, but postal code and address do not match.*|\n|L|Partial match: postal code and CPF match, but address does not match.*|\n|N|No match: postal code, CPF, and address do not match.*|\n|O|Partial match: CPF and address match, but postal code does not match.*|\n|R|Not supported: your implementation does not support AVS _or_ System unavailable.|\n|T|Partial match: address matches, but postal code and CPF do not match.*|\n|V|Match: postal code, CPF, and address match.*|\n|* CPF (Cadastro de Pessoas Fisicas) is required only for Redecard in Brazil.||\n\n### AVS Codes for All Other Processors\n\n**Note** The list of AVS codes for all other processors follows these descriptions of the processor-specific information for these codes.\n\n#### American Express Cards\nFor American Express cards only, you can receive Visa and CyberSource AVS codes in addition to the American Express AVS codes.\n\n**Note** For CyberSource through VisaNet, the American Express AVS codes are converted to Visa AVS codes before they are returned to you. As a result, you will not receive American Express AVS codes for the American Express card type.\n\n_American Express Card codes_: `F`, `H`, `K`, `L`, `O`, `T`, `V`\n\n#### Domestic and International Visa Cards\nThe international and domestic alphabetic AVS codes are the Visa standard AVS codes. CyberSource maps the standard AVS return codes for other types of payment cards, including American Express cards, to the Visa standard AVS codes.\n\nAVS is considered either domestic or international, depending on the location of the bank that issued the customer\u2019s payment card:\n- When the bank is in the U.S., the AVS is domestic.\n- When the bank is outside the U.S., the AVS is international.\n\nYou should be prepared to handle both domestic and international AVS result codes:\n- For international cards, you can receive domestic AVS codes in addition to the international AVS codes.\n- For domestic cards, you can receive international AVS codes in addition to the domestic AVS codes.\n\n_International Visa Codes_: `B`, `C`, `D`, `G`, `I`, `M`, `P`\n\n_Domestic Visa Codes_: `A`, `E`,`N`, `R`, `S`, `U`, `W`, `X`, `Y`, `Z`\n\n#### CyberSource Codes\nThe numeric AVS codes are created by CyberSource and are not standard Visa codes. These AVS codes can be returned for any card type.\n\n_CyberSource Codes_: `1`, `2`, `3`, `4`\n\n### Table of AVS Codes for All Other Processors\n\n|AVS Code|Description|\n|--- |--- |\n|A|Partial match: street address matches, but 5-digit and 9-digit postal codes do not match.|\n|B|Partial match: street address matches, but postal code is not verified. Returned only for Visa cards not issued in the U.S.|\n|C|No match: street address and postal code do not match. Returned only for Visa cards not issued in the U.S.|\n|D & M|Match: street address and postal code match. Returned only for Visa cards not issued in the U.S.|\n|E|Invalid: AVS data is invalid or AVS is not allowed for this card type.|\n|F|Partial match: card member\u2019s name does not match, but billing postal code matches.|\n|G|Not supported: issuing bank outside the U.S. does not support AVS.|\n|H|Partial match: card member\u2019s name does not match, but street address and postal code match. Returned only for the American Express card type.|\n|I|No match: address not verified. Returned only for Visa cards not issued in the U.S.|\n|K|Partial match: card member\u2019s name matches, but billing address and billing postal code do not match. Returned only for the American Express card type.|\n|L|Partial match: card member\u2019s name and billing postal code match, but billing address does not match. Returned only for the American Express card type.|\n|M|See the entry for D & M.|\n|N|No match: one of the following: street address and postal code do not match _or_ (American Express card type only) card member\u2019s name, street address, and postal code do not match.|\n|O|Partial match: card member\u2019s name and billing address match, but billing postal code does not match. Returned only for the American Express card type.|\n|P|Partial match: postal code matches, but street address not verified. Returned only for Visa cards not issued in the U.S.|\n|R|System unavailable.|\n|S|Not supported: issuing bank in the U.S. does not support AVS.|\n|T|Partial match: card member\u2019s name does not match, but street address matches. Returned only for the American Express card type.|\n|U|System unavailable: address information unavailable for one of these reasons: The U.S. bank does not support AVS outside the U.S. _or_ The AVS in a U.S. bank is not functioning properly.|\n|V|Match: card member\u2019s name, billing address, and billing postal code match. Returned only for the American Express card type.|\n|W|Partial match: street address does not match, but 9-digit postal code matches.|\n|X|Match: street address and 9-digit postal code match.|\n|Y|Match: street address and 5-digit postal code match.|\n|Z|Partial match: street address does not match, but 5-digit postal code matches.|\n|1|Not supported: one of the following: AVS is not supported for this processor or card type _or_ AVS is disabled for your CyberSource account. To enable AVS, contact CyberSource Customer Support.|\n|2|Unrecognized: the processor returned an unrecognized value for the AVS response.|\n|3|Match: address is confirmed. Returned only for PayPal Express Checkout.|\n|4|No match: address is not confirmed. Returned only for PayPal Express Checkout.|\n|5|No match: no AVS code was returned by the processor.|\n"
                                                },
                                                "secCode": {
                                                    "type": "string",
                                                    "maxLength": 3,
                                                    "description": "Specifies the authorization method for the transaction.\n\n#### TeleCheck\nAccepts only the following values:\n- `ARC`: account receivable conversion\n- `CCD`: corporate cash disbursement\n- `POP`: point of purchase conversion\n- `PPD`: prearranged payment and deposit entry\n- `TEL`: telephone-initiated entry\n- `WEB`: internet-initiated entry\n\nFor details, see `ecp_sec_code` field description in the [Electronic Check Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/EChecks_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                                },
                                                "terminalCity": {
                                                    "type": "string",
                                                    "maxLength": 4,
                                                    "description": "City in which the terminal is located. If more than four alphanumeric characters are submitted, the transaction\nwill be declined.\n\nYou cannot include any special characters.\n"
                                                },
                                                "terminalState": {
                                                    "type": "string",
                                                    "maxLength": 2,
                                                    "description": "State in which the terminal is located. If more than two alphanumeric characters are submitted, the transaction\nwill be declined.\n\nYou cannot include any special characters.\n"
                                                },
                                                "effectiveDate": {
                                                    "type": "string",
                                                    "maxLength": 8,
                                                    "description": "Effective date for the transaction. The effective date must be within 45 days of the current day. If you do not\ninclude this value, CyberSource sets the effective date to the next business day.\n\nFormat: `MMDDYYYY`\n\nSupported only for the CyberSource ACH Service.\n"
                                                },
                                                "partialPaymentId": {
                                                    "type": "string",
                                                    "maxLength": 25,
                                                    "description": "Identifier for a partial payment or partial credit.\n\nThe value for each debit request or credit request must be unique within the scope of the order.\nFor details, see `partial_payment_id` field description in the [Electronic Check Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/EChecks_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                                },
                                                "customerMemo": {
                                                    "type": "string",
                                                    "maxLength": 80,
                                                    "description": "Payment related information.\n\nThis information is included on the customer\u2019s statement.\n"
                                                },
                                                "paymentCategoryCode": {
                                                    "type": "string",
                                                    "maxLength": 1,
                                                    "description": "Flag that indicates whether to process the payment.\n\nUse with deferred payments.\nFor details, see `ecp_payment_mode` field description in the [Electronic Check Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/EChecks_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n\nPossible values:\n- `0`: Standard debit with immediate payment (default).\n- `1`: For deferred payments, indicates that this is a deferred payment and that you will send a debit request\nwith `paymentCategoryCode = 2` in the future.\n- `2`: For deferred payments, indicates notification to initiate payment.\n\n#### Chase Paymentech Solutions and TeleCheck\nUse for deferred and partial payments.\n\n#### CyberSource ACH Service\nNot used.\n\n#### RBS WorldPay Atlanta\nNot used.\n"
                                                },
                                                "settlementMethod": {
                                                    "type": "string",
                                                    "maxLength": 1,
                                                    "description": "Method used for settlement.\n\nPossible values:\n- `A`: Automated Clearing House (default for credits and for transactions using Canadian dollars)\n- `F`: Facsimile draft (U.S. dollars only)\n- `B`: Best possible (U.S. dollars only) (default if the field has not already been configured for your\nmerchant ID)\n\nFor details, see `ecp_settlement_method` field description for credit cars and `ecp_debit_settlement_method` for debit cards in the [Electronic Check Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/EChecks_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                                },
                                                "fraudScreeningLevel": {
                                                    "type": "string",
                                                    "maxLength": 1,
                                                    "description": "Level of fraud screening.\n\nPossible values:\n- `1`: Validation \u2014 default if the field has not already been configured for your merchant ID\n- `2`: Verification\n\nFor a description of this feature and a list of supported processors, see \"Verification and Validation\" in the [Electronic Check Services Using the SCMP API.](https://apps.cybersource.com/library/documentation/dev_guides/EChecks_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm).\n"
                                                }
                                            }
                                        },
                                        "purchaseOptions": {
                                            "type": "object",
                                            "properties": {
                                                "isElectronicBenefitsTransfer": {
                                                    "type": "boolean",
                                                    "description": "Flag that indicates that this transaction is an EBT transaction.Possible values:\n- **true**\n- **false**\n"
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "maxLength": 6,
                                                    "description": "This field is used in PIN Debit EBT transaction as a flag to identify EBT vouchers.Possible values:\n- `EBT_VOUCHER`: Indicates EBT voucher\n"
                                                }
                                            }
                                        },
                                        "electronicBenefitsTransfer": {
                                            "type": "object",
                                            "properties": {
                                                "category": {
                                                    "type": "string",
                                                    "maxLength": 4,
                                                    "description": "Flag that specifies the category for the EBT transaction.  Possible values:\n- `CASH`: Cash benefits, which can be used to purchase any item at a participating retailer, as well as to obtain cash-back or make a cash withdrawal from a participating ATM.\n- `FOOD`: Food stamp benefits, which can be used only to purchase food items authorized by the USDA SNAP program.\n"
                                                },
                                                "voucherSerialNumber": {
                                                    "type": "string",
                                                    "maxLength": 15,
                                                    "description": "The serial number printed on the EBT voucher.\n"
                                                }
                                            }
                                        }
                                    }
                                },
                                "issuerInformation": {
                                    "type": "object",
                                    "properties": {
                                        "discretionaryData": {
                                            "type": "string",
                                            "maxLength": 255,
                                            "description": "Data defined by the issuer.\n\nThe value for this reply field will probably be the same as the value that you submitted in the authorization request, but it is possible for the processor, issuer, or acquirer to modify the value.\n\nThis field is supported only for Visa transactions on **CyberSource through VisaNet**.\n\nFor details, see `issuer_additional_data` field description in the [Credit Card Services Using the SCMP API Guide.](https://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html/wwhelp/wwhimpl/js/html/wwhelp.htm)\n"
                                        }
                                    }
                                },
                                "paymentInformation": {
                                    "type": "object",
                                    "properties": {
                                        "card": {
                                            "type": "object",
                                            "properties": {
                                                "number": {
                                                    "type": "string",
                                                    "maxLength": 20,
                                                    "description": "The customer\u2019s payment card number, also known as the Primary Account Number (PAN). You can also use this field\nfor encoded account numbers.\n\nFor processor-specific information, see the `customer_cc_number` field description in\n[Credit Card Services Using the SCMP API.](http://apps.cybersource.com/library/documentation/dev_guides/CC_Svcs_SCMP_API/html)\n"
                                                },
                                                "expirationMonth": {
                                                    "type": "string",
                                                    "maxLength": 2,
[...]
